/* anydo-no sidebar bg */
.AppImage__hasImage.u-anydo-dark-theme .AppSidebar, .AppImage__hasImage .MyDayRoute--theme{
   --app-sidebar-bg-color: transparent !important;
   --myday-sidebar-bg-color: transparent !important;
} 

/* anydo-transparency */
 html, body{
   background-color: transparent !important;
   background: none !important;
 }

/* anydo-no wallpaper */
body > div:nth-child(4) > picture:nth-child(1), [aria-label="Choose your background"]{
   display: none !important;
 }

/* anydo-no thank you */
 .c_RYlk5GSCd6SYMYEgWI{
   display: none !important;;
 }
