/* calendr-transparecy */
body,
[jsname="mOIbvc"],
.R6TFwe,
.sS0sZd,
[jsname="vhZMvf"],
[jsname="KBzNL"] {
  --gm3-sys-color-surface-container-low: transparent !important;

  background-color: transparent !important;
}

/* calendr-remove borders */
.BiKU4b {
  border: none !important;
}
