/* canva-transparency */
html, body, .EyQHyw, .fZgOqw, .eZq8Ig::before, .eZq8Ig.ocGgIA::after, ._oWbbw::after, ._orzOA::after, .gpRQSw, .sfOjmQ, .fLKksQ, .xzANJg, .OFiy3Q, .TYxWRA, .eZq8Ig.JwseWQ .fZgOqw::before, .fZgOqw{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* canva-no thanks */
.UmIUVw, .GBjf5Q{
  display: none;
}
