/* eco-transparency */
html, body, section, .layout, [aria-label="Main header"], .mainline__result-wrapper{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* eco-no footer */
footer{
  display: none !important;
}

/* eco-no sections */
.indexpage section, .forest-section, .wave-separator, .instant-answer__wave{
  display: none !important;
}

/* eco-hover */
.notifications, .main-header__nav{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}

/* eco-no thanks */
.main-header__install-cta{
  display: none !important;
}
