:root .dark-theme, :root .light-theme{
--gem-sys-color--surface: #00000000;
--gem-sys-color--surface-container: #00000000;
}

.content-container chat-window .chat-container .bottom-container{
  margin-bottom: 30px;
}

input-container hallucination-disclaimer{
  display: none;
}

.input-area-container {
  margin-bottom: 2em !important;
}

.side-nav-menu-button, .boqOnegoogleliteOgbOneGoogleBar, top-bar-actions{
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;

  &:hover{
    opacity: 1 !important;
  }
}

input-container, .input-gradient::before{
  background: none !important;
}
