/* gh-transparency */
html, body, header, .color-bg-default, .feed-background, [aria-labelledby="folders-and-files"] .bgColor-muted, nav, .dxnHPp, .kcVpNH, .discussion-timeline-actions, .TimelineItem-break, .gh-header, .PageLayout-pane{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* gh-transparent lists */
 .PageLayout-content .Box, .PageLayout-content .Box-row{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* gh-bordered boxes */
 .mgKNn, #user-profile-frame .Box,[data-selector="repos-split-pane-content"] section, [data-selector="repos-split-pane-content"] .NWhVB, [data-selector="repos-split-pane-content"] .cm-gutters,[data-selector="repos-split-pane-content"] .ͼ5,[data-selector="repos-split-pane-content"]
 .ͼ5 .cm-content{
  background-color: transparent !important;
  background: none !important;
  box-shadow: none !important;
}

.feed-item-content, .color-bg-subtle, .ajax-pagination-btn{
  background-color: transparent !important;
  background: none !important;
  box-shadow: none !important;
}

/* gh-no footer */
footer:has(h2), div.px-2:nth-child(3){
  opacity: 0;
}

/* gh-hover */
.feed-left-sidebar, .feed-right-sidebar{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}

/* gh-border mods */
table, .eIKYQa, div.border-bottom, td{
  border: none !important;
}

.dJnomT, .gOHzTT, .Box-header, #repos-sticky-header > div{
  border-radius: 1em !important;
  overflow: hidden;
}
