html, body, div, section, article, header, footer, main, aside, nav, span, form, input, button, table, tbody, tr, td {
  background: transparent !important;
}

.aajZCb{
background-color: var(--uv-styles-color-surface);
}

div.sfbg {
  background-color: var(--darkreader-border-ffffff);
}

:root{
  --darkreader-background-ffffff: transparent !important
}

body{
  background-color: #00000000;
}

.in7vHe.FR7ZSc.FR7ZSc .niO4u, div.RNNXgb {
  background-color: var(--EpFNW) !important;
  /* color: #ffffff !important; */
}

.minidiv .sfbg, .minidiv .sfbg, .JryvJ .qS9jbf, .sHEJob, .Hwkikb.WY0eLb{
  box-shadow: none !important;
  border: none !important;
}

#sfooter {
  display: none !important;
}

.rfiSsc{
  opacity: 0;
  /* height: 20px; */
  transition: all 0.3s ease-in-out;
  /* position: sticky;
  top: 0px; */

  &:hover{
    opacity: 1;
    /* height: 120px !important; */
  }
}

.w6VYqd{
  background-color: #fff;
}
