/* transparency */
html, body, .rBK5SX3w, .Fem_ciFN{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer, .mVp_rqCJ{
  display: none !important;
}
