/* ig-transparecy */
:root ._aa4d,
:root ._ar45 {
  --ig-primary-background: #00000000 !important;
  --ig-highlight-background: #00000000 !important;
  --ig-secondary-background: #00000000 !important;
}

.xvbhtw8, .x103n6ev, .xzxgvzf {
  background-color: #00000000 !important;
  border: none !important;
  background-image: none !important;
}


/* ig-hide elements */
div.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.xseo6mj.x1uhb9sk.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1, .x3hkoc4 {
  display: none !important;
}

/* ig-other changes */
.xso031l {
  border-radius: 1.5em !important;
}

* {
  background-color: #00000000 !important;
}

.xopu45v {
  border: none !important;
}

/* ig-centered */
.x17snn68.x17snn68{
  width: 100vw !important;
}

/* ig-comments overlay fix */
[role="dialog"] [role="presentation"] > div > div{
  background-color: var(--fds-highlight-cell-background) !important;
  border-radius: 2em !important;
}

/* ig-overlay fix */
div.x6s0dn4.xvbhtw8.x1lq5wgf.xgqcy7u.x30kzoy.x9jhf4c.x1xcus5i.xrvj5dj.x1dh5ka.xyamay9.x1l90r2v.x1n2onr6.xgpatz3.x1mu97ne, [role="dialog"], .x3zg9eu, .x1u3tz30{
  background-color: var(--fds-highlight-cell-background) !important;
  border-radius: 1em !important;
}

[role="dialog"]:has([role="presentation"]){
  background: none !important;
}

/* no footer */
footer{
  display: none !important;
}

/* hover */
div.xixxii4:nth-child(2):has([href="#"])
{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}
