:root{
    --ig-primary-background: #00000000;
    --ig-highlight-background: #00000000;
    --ig-secondary-background: #00000000;
    /* --ig-separator: #00000000; */
  }
  
  .xvbhtw8{
    background-color: #00000000;
    border: none !important;
  }
  
  div.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.xseo6mj.x1uhb9sk.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1 {
    display: none;
  }
  
  span.x1lliihq.x193iq5w.x6ikm8r.x10wlt62.xlyipyv.xuxw1ft {
    display: none;
  }
  
  .xso031l {
    border-radius: 1.5em !important;
  }