/* lottielab-transparency */
html, body, nav, header, .grid.fixed.bg-white, #sidebar > div, .select-none div:nth-child(1), .bg-editor-bg{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* lottielab-darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

[role="menu"]{
  background-color: var(--darkreader-background-333333) !important;
}

/* lottielab-no footer */
footer{
  display: none !important;
}
