:root{
    --web-wash: #00000000;
    --messenger-card-background: #00000000;
    --mwp-header-background-color: #00000000;
    --mwp-message-row-background: #00000000;
  }
  
  .xcrg951{
    background-color: #00000000;
    box-shadow: none;
    /* border: 2px solid #00000044; */
  }
  