:root{
  --bg-color: #00000000 !important;
}

footer{
  display: none !important;
}

header{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}

#words .word letter{
  color: var(--ss-font-placeholder-color) !important;
}
