/* ytm-transparent bg */
:root {
  --ts-body-color: #00000000 !important;
}

body {
  background-color: transparent !important;
}

/* ytm-hover navbar and titlebar */
.ytmusic-guide-renderer,
ytmusic-nav-bar {
  opacity: 0.01 !important;
  transition: opacity 0.5s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

ytmusic-app[is-bauhaus-sidenav-enabled] #guide-wrapper.ytmusic-app{
  background-color: transparent !important;
  border: none !important;
}

/* ytm-hide elements */
#side-panel,
#nav-bar-divider,
#background,
div.av.style-scope.ytmusic-player-page,
ytmusic-chip-cloud-renderer.style-scope.ytmusic-section-list-renderer,
tp-yt-paper-toast.toast-button.style-scope.yt-notification-action-renderer.paper-toast-open {
  display: none !important;
}

/* ytm-centered player */
#player {
  max-height: 100vh !important;
  aspect-ratio: 1 !important;
  width: 100% !important;
  margin: auto !important;
}

/* ytm-navbar and titlebar bg removed */
#nav-bar-background,
#mini-guide-background {
  border: none !important;
  height: 0 !important;
  width: 0 !important;
}

#guide,
ytmusic-nav-bar,
.background-gradient {
  background-color: var(--ts-body-color) !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
}

#player-page {
  padding: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

ytmusic-player-bar,
#player-bar-background {
  margin: 0.5% !important;
  width: 99% !important;
  border-radius: 1em !important;
  overflow: hidden !important;
}
