/* pexels-text color */
body,
h4,
h3,
h2,
h1,
h5,
h6,
span,
a {
  color: #ffffff !important;
}

/* pexels-navbar */
.Navbar_container__PS9oP {
  background-color: #00000000 !important;
  backdrop-filter: blur(60px) !important;
  border: none !important;
  background: #00000000 !important;
  box-shadow: none !important;
}
