:root.theme-dark, .theme-rpl{
    --color-neutral-background: #00000000;
  }
  
  .bg-neutral-background, #left-sidebar-container{
    background-color: #00000000;
    border: none;
  }
  
  div aside recent-posts {
    display: none;
  }
  
  .overflow-visible > div:nth-child(32), faceplate-dropdown-menu{
    /* background-color: var(--color-danger-onBackground) !important; */
    border-radius: 1em 1em 0 0 ;
  }
  
  div.left-sidebar, #right-sidebar-container {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
  
  nav.z-\[2\] > nav:nth-child(18), div.visible{
    display: none;
  }
  
  hr.w-100.my-sm.border-neutral-border-weak {
    display: none;
  }
  
  p {
    /* color: #fff; */
  }
  
  
  shreddit-app, body, html{
    background-color: #00000000 !important;
  }