/* reddit-transparecy */
:root.theme-dark,
.theme-rpl {
  --color-neutral-background: #00000000 !important;
}

.bg-neutral-background,
#left-sidebar-container {
  background-color: #00000000 !important;
  border: none !important;
}

shreddit-app,
body,
html {
  background-color: #00000000 !important;
}

/* reddit-no chat feed */
[source="chat_module_home"]{
  display: none !important;
}

/* reddit-hide elements */
div aside recent-posts, hr {
  display: none !important;
}

nav.z-\[2\] > nav:nth-child(18),
div.visible {
  display: none !important;
}

hr.w-100.my-sm.border-neutral-border-weak {
  display: none !important;
}

/* reddit-other changes */
.overflow-visible > div:nth-child(32),
faceplate-dropdown-menu {
  border-radius: 1em 1em 0 0 !important;
}

/* reddit-hover */
div.left-sidebar,
#right-sidebar-container, flex-left-nav-container {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}
