/* removebg-transparency */
html, body, #navbar{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* removebg-no footer */
footer{
  display: none !important;
}

/* removebg-minimal */
div.prism:nth-child(2) > div:nth-child(n+2):nth-child(-n+11){
  display: none;
}
