:root{
    --darkreader-background-ffffff: #00000000 !important;
    --darkreader-background-333333: #00000000 !important;
    --darkreader-background-fefefe: #00000000 !important;
  --darkreader-background-f1f1f1: #00000000 !important;
  }
  
  footer {
    display: none !important;
  }
  
  div.l-side-column {
    display: none !important;
  }
  
  div.l-gutter {
    display: none !important;
  }
  
  section.sandiego.l-header-nav-bottom.sticky {
    display: none !important;
  }
  
  body, .sandiego table thead, tfoot, table, tbody, article{
    background-color: #00000000 !important;
    background: #00000000 !important;
    border: none !important;
  }
  
  .dropdown li, .links a{
    border: none  !important;
  }
  
  .l-two-column-page{
    /* max-width: 100% !important; */
  
    .l-content-column{
      margin: 0 auto !important;
    }
  }
  
  .l-header-nav-bottom {
    display: none !important;
  }