/* sf-transparecy */
:root {
  --darkreader-background-ffffff: #00000000 !important;
  --darkreader-background-333333: #00000000 !important;
  --darkreader-background-fefefe: #00000000 !important;
  --darkreader-background-f1f1f1: #00000000 !important;
}

body,
.sandiego table thead,
tfoot,
table,
tbody,
article {
  background-color: #00000000 !important;
  background: #00000000 !important;
  border: none !important;
}

/* sf-hide elements */
footer {
  display: none !important;
}

div.l-side-column {
  display: none !important;
}

div.l-gutter {
  display: none !important;
}

.l-header-nav-bottom {
  display: none !important;
}

section.sandiego.l-header-nav-bottom.sticky {
  display: none !important;
}

/* sf-no border and other changes */
.dropdown li,
.links a {
  border: none !important;
}

.l-two-column-page {
  .l-content-column {
    margin: 0 auto !important;
  }
}
