/* transparecy */
:root {
  --color-background-body: transparent !important;
  --color-background-base: transparent !important;
  --shadow-elevation-1: none !important;
  --color-background-alt: transparent !important;
}

.video-player,
.video-player__container,
.channel-root {
  background: #00000000 !important;
  background-color: #00000000 !important;
}
