/* unsplash-transparecy */
:root {
  --darkreader-background-ffffff: transparent !important;
  --color-white: #00000000 !important;
}

body {
  background-color: #00000000 !important;
}

.xWFB_,
header form {
  background-color: #00000000 !important;
}

html,
body,
.EtnYM,
.b4j4s {
  background-color: #00000000 !important;
  color: #fff !important;
}

/* unsplash-hide elements */
figure:has(.se4Qe) {
  display: none !important;
}

/* unsplash-other styles */
figure {
  border-radius: 20px !important;
  overflow: hidden !important;
  transition: all 0.5s ease-in-out !important;
}

figure:hover {
  border-radius: 10px !important;
  scale: 1.1 !important;
  box-shadow: #00000088 0px 0px 50px !important;
  z-index: 10 !important;
}

header {
  z-index: 1000 !important;
  background-color: #00000000 !important;
  backdrop-filter: blur(10px) !important;
  color: #ffffff !important;
}

.b4j4s {
  position: relative !important;
  top: 0 !important;
  transition: all 0.5s ease-in-out !important;
  opacity: 0.2 !important;
  margin-bottom: 10px !important;
}

.b4j4s:hover {
  opacity: 1 !important;
}

div.zLj3X.rJ2xz.bYpwS.U8eXG.M5vdR,
div.hwFVM,
.nOssi,
.r1yVH,
#popover-secondary-menu {
  display: none !important;
}

div.tHGFe,
ul.QmKQx.hSanJ {
  display: none !important;
}

.ZdQR2 {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}
div.uqkHb.ufM77 {
  background-color: #fff !important;
}
