/* vidbinge-transparency */
html, body, nav, header{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* vidbinge-no footer */
footer{
  display: none !important;
}

/* vidbinge-no animation */
.h-\[88px\]{
  display: none !important;
}
