/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar, 
header,
#header,
.header, header::before,
app,
#app, footer,
.sidebar-wrap,
section, .main,
#__next, .sidebar-wrapper, .sidebar-footer-wrapper, .sidebar-footer-container::before,
#root, .min-h-screen.bg-white,
.app, .AppContainer,
.app-root, #wrapper,
body[data-theme="dark"], body[data-theme="light"],
#pass-sidebar, .side-bar,
#main, .sidebar, .global-content__content,
main, .header-top,
#content, #cu-identity,
section, .l-root,
#__next, .landing-hero,
#navigation-wrapper,
#global-navbar, .layout__content-wrapper,
.head.notfixed, .main-container,
#app > div, .btm-nav > a, .oc-content--main,
body.dark_mode, body.light_mode,
text-div > textarea, html[data-user-theme] body, #td-outer-wrap > div, html[data-user-theme] .td-header-wrap .td-header-menu-wrap-full, .td-ss-main-content > .td_module_11, html[data-user-theme] .tdc-footer-wrap  > div, .page-nav > *, article, html[data-user-theme] .post, html[data-user-theme] .td_block_related_posts{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

/* no footer */
footer, mfe-footer-pharos-footer, .footer, #footer, .tdc-footer-wrap {
  display: none !important;
}
