/* Additional :  https://github.com/code4charity/YouTube-Extension/ , https://addons.mozilla.org/en-US/firefox/addon/youtube-timestamps/ */

/* transparency */
:root{
  --primary-background-color: #00000000;
  --dark-theme-background-color: #00000000;
--yt-spec-base-background: #00000000;
--yt-spec-brand-background-solid: #00000000;
}

html[dark]{
  background-color: #00000000 !important;
}
  
#container.ytd-searchbox{
  background-color: #00000000;
}

  /* no left side guide */
ytd-mini-guide-renderer {
  display: none;
}
#page-manager{
  margin-left: 0;
}

/* transparent youtube header */
#masthead-container{
  #background.ytd-masthead{
    background-color: #00000000;
    /* backdrop-filter: blur(30px); */
  }
}

/* Hide youtube filter chips at top */
.ytd-two-column-browse-results-renderer #header{
  display: none;
}

/* Make youtube feed more compact */
ytd-rich-item-renderer[rendered-from-rich-grid] {
    --ytd-rich-item-row-usable-width: calc(100% - var(--ytd-rich-grid-gutter-margin)* 1);
  margin-bottom: 1em !important;
}
ytd-video-meta-block.grid #metadata.ytd-video-meta-block{
  flex-direction: row;
  text-overflow:ellipsis;

  #metadata-line span:nth-child(3){
    width: 2em;
    height: 1em;
    margin-left: 0.5em;
  }
}

/* Youtube home feed cards improvements */
ytd-rich-grid-media{
    margin-bottom: 0.7em !important;
ytd-menu-renderer #button {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
  :hover ytd-menu-renderer #button{
    opacity: 1;
  }

  #avatar-container{
    margin: 1.75em 1.5em 0 0.5em;
    transition: scale 0.4s ease-in-out;

    .yt-spec-avatar-shape--avatar-size-medium{
      width: 45px;
      height: 45px;

      .yt-spec-avatar-shape__image{
        /* scale: 1.2; */
        border-radius: 1.5em;
        /* margin: 0.1em; */
      }
    }

    &:hover{
      scale: 1.2;
    }
  }

  #video-title{
    height: 1.2em;
  }
}

/* Make video backgroound transparent */
.html5-main-video, .html5-video-container, #movie_player, #container, #ytd-player, #player-container, #player-full-bleed-container, #full-bleed-container{
  background-color: #00000000 !important;
}

/* transparent overlay chat */
#chat{
  position: absolute !important;
height: 800px;
top: 50em;
}

/* search box background */
.ytSearchboxComponentSearchButton, div.style-scope.tp-yt-app-drawer{
  background-color: var(--yt-spec-text-primary-inverse) !important;
}

/* ------ Remove this ------ */
/* forcing video to take full size in view */
ytd-watch-flexy{
  margin-top: 0;
}
#movie_player > div.html5-video-container video{
  height: 100vh;
  width: 100vw !important;
}

/* Extension : Web scrobbler extension warning removed */
#scrobbler-infobox-el {
  display: none;
}

/* Extension : timed comments on seekbar mods */
.__youtube-timestamps__stamp{
  scale: 3;
  border-radius: 1.5px;
  transition: all 0.3s ease-in-out;

  &:hover{
    scale: 5;
  }
}

.__youtube-timestamps__preview-wrapper{
  scale: 1.5;
  transform: translateX(16%);
  .__youtube-timestamps__preview{
  border-radius: 1em;
  backdrop-filter: blur(20px) !important;
  background-color: #00000099 !important;
  border: solid 2px gray !important;

.__youtube-timestamps__preview__avatar{
  height: 2.5em;
  width: 2.5em;
  border-radius: 0.5em;
}

  .__youtube-timestamps__preview__text-stamp{
    background-color: #ffaaaa;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
    color: #000;
  }

  .__youtube-timestamps__preview__name, .__youtube-timestamps__preview__text{
  color: #ffffff !important;
  }
  }
}

/* ----- I can't rmmbr what these did LOL ----- */
#content #dismissible:hover{
  ytd-video-meta-block{
    opacity: 1;
  }
}

#panels-full-bleed-container{
  width: 0;
}