/* am-Transparency */
body,
.qr-container,
#background_bg,
.zc-av-header,
.smartconf-ftr,
.smartconf-main,
.amc-posstky-label,
.art-hr-line,
#screenshare_container,
.zimageeditor__overlay,
:fullscreen:not(:root)::backdrop,
.zwc-pagewrapper,
header,
.zwrapper,
.zw-product-header,
.content-wrap,
.z-bottom-cta-menu,
.mobile-menu-icon1,
.z-bottom-cta-menu a,
.zwc-faq-wrap,
.zwc-faq-wrap::before,
.zwc-footer-sectionwrap {
  background-color: transparent !important;
}

#quoteui,
.AV-call-fullscrn,
.AV-call-fullscrn .AV-call-main,
.AV-call-new-header,
.AV-call-new-footer,
.rtcp-mp-top-gradient,
.rtcp-mp-bottom-gradient {
  background: none !important;
}

body,
#leftpannel,
#overlay_secondary,
.am-leftbar,
.art-lhs-modules-container {
  --am-bg-color-main: transparent !important;
  --am-bg-color-1: transparent !important;
  --am-bg-color-2: transparent !important;
  --am-bg-color-3: transparent !important;
  --am-meeting-det-bg: transparent !important;
  --am-bg-chatwindow: transparent !important;
  --am-overlay-bg: transparent !important;
  --am-bdr-chatwindow: transparent !important;
  --am-media-list-bg: transparent !important;
  --am-btn-secondary-bg: transparent !important;
  --am-image-viewer-bg: transparent !important;
  --am-rec-card-bg: transparent !important;
  --bg-color-1: transparent !important;
  --bg-color-2: transparent !important;
  --bg-color-3: transparent !important;
  --lhs-bg-color: transparent !important;
  --chatwindow-bg-color: transparent !important;
  --chatwindow-hdr-bg-color: transparent !important;
  --sticky-bg: transparent !important;
  --custom-background: transparent !important;
  --overlay-bg-dark: transparent !important;
  --light-footer-bg: transparent !important;
  --am-unfurl-audio-background: transparent !important;
  --time-divider-bg: transparent !important;
  --chatwindow-composer-bg: transparent !important;
  --lhs-menu-color: transparent !important;
  --rtcp-mp-vido-bg-color: transparent !important;
  --voice-record-bg: transparent !important;
  --am-btn-standard: transparent !important;
}

/* am-Immersive Popup */
#wms_theatremode_overlay,
#wms_theatremode > .mc183cf01f_videoplayer_container,
.zmobile-menu-new-inner,
.dropdown-menu,
.zimageeditor__tools,
.zimageeditor__footer,
.rtcpmediaplayerdiv {
  background-color: transparent !important;
}

body,
#leftpannel,
#overlay_secondary,
.am-leftbar,
.art-lhs-modules-container {
  --am-container-bg: transparent !important;
}

#imgmaskbg {
  backdrop-filter: none !important;
}

body {
  &:has(#quoteui) {
    #officechat,
    #lhs-rail,
    #app {
      display: none !important;
    }
  }

  &:has(> div[jsid="country_code_select"]) {
    #nextbtn {
      filter: blur(20px) !important;
    }
  }

  &:has(
    > #lhs-context-menu,
    > #wms_theatre_mountpoint,
    > #imgmaskbg[style="display: block;"],
    #mediaerrorpopup,
    #art-media-preview,
    #art-modal-view:not(:empty),
    #mediacall_container > .AV-call-wrapper.AV-call-fullscrn,
    #app[data-v-874ed99a] > div > .amc-recipients-container,
    #app[data-v-874ed99a] > div > div[data-vue-dialogcomponent],
    #app[data-v-874ed99a] > div > .art-dialog-wrapper,
    #recordingplay-section > .rtcpmediaplayerdiv
  ) {
    #officechat,
    #lhs-rail,
    #lhsOverlay {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#app[data-v-874ed99a] > div > .amc-image-viewer) {
    #lhs-rail,
    #app[data-v-874ed99a] > div > .am-wrapper {
      filter: blur(20px) !important;
    }
  }

  &:has(#am-modal-container > .amc-image-viewer) {
    #am-modal-container {
      background-color: transparent !important;
    }
    #am-modal-container > div:nth-child(-n + 4) {
      opacity: 0 !important;
    }
  }

  &:has(#lhs-rail .amc-posrel > .active) {
    #leftpannel #art-chats,
    #leftpannel #lhs_globalsearch,
    #overlay_secondary > div > div:nth-child(n + 2),
    .art-rail-dp {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#leftpannel .amc-posrel > .active, #overlay_secondary .amc-posrel > .active) {
    #leftpannel #art-chats,
    #leftpannel #chatlist-header > .amc-form,
    #leftpannel #lhs_globalsearch,
    #overlay_secondary > div > div:nth-child(n + 2) {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#art-smiley-container) {
    #midcontainer {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(.dropdown.active, .zmobile-menu-new-inner.zshow) {
    main {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(> #zimageeditor) {
    #art-media-preview {
      opacity: 0 !important;
    }
  }
}

#overlay_secondary:has(.amc-range-calndr) {
  .am-meeting-list {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

#chatwindows > div {
  &:has(.art-selected) {
    #chatbody {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#msgarea > div > .in-view .msg-opt-list) {
    #art-msgarea-container {
      overflow-y: hidden !important;
    }

    #msgarea > div > .in-view:not(:has(.msg-opt-list)) {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }

    @media screen and (max-width: 1299px) {
      #msgarea > div > .in-view:has(.msg-opt-list) > div > span {
        filter: blur(20px) !important;
      }
    }

    @media screen and (min-width: 1300px) {
      #msgarea > div > .in-view:has(.msg-opt-list) > div > span {
        xfilter: blur(20px) !important;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  #chatwindows:has(> div:nth-child(2):not([style])) {
    #msgarea > div > .in-view:has(.msg-opt-list) > div > span {
      filter: blur(20px) !important;
    }
  }
}

/* am-Glass Effect */
.amc-menu-item:not(:hover),
.zcl-menu-item,
.zcoverlay > :last-child::before,
.amc-action .amc-action,
.amc-missed-call-bg,
.dropdown-menu > li > a {
  background-color: transparent !important;
}

body,
#leftpannel,
#overlay_secondary,
.am-leftbar,
.art-lhs-modules-container {
  --color-highlight: hsla(0, 0%, 100%, 0.08) !important;
  --border-color: var(--color-highlight) !important;
  --am-container-bg: var(--color-highlight) !important;
  --am-dialog-bg: var(--color-highlight) !important;
  --am-color-hover1: var(--color-highlight) !important;
  --am-color-hover2: var(--color-highlight) !important;
  --am-color-hover3: var(--color-highlight) !important;
  --am-color-theme-selected-bg: var(--color-highlight) !important;
  --am-color-theme-hover-bg: var(--color-highlight) !important;
  --am-color-mode: var(--color-highlight) !important;
  --am-menu-color: var(--color-highlight) !important;
  --am-color-divider: var(--color-highlight) !important;
  --am-border-color: var(--color-highlight) !important;
  --am-tab-border-color: var(--color-highlight) !important;
  --am-recurrence-border-color: var(--color-highlight) !important;
  --am-meeting-card-border: var(--color-highlight) !important;
  --am-cropper-border-bg: var(--color-highlight) !important;
  --am-border-color-1: var(--color-highlight) !important;
  --am-border-color-2: var(--color-highlight) !important;
  --am-btn-primary-active: var(--color-highlight) !important;
  --am-btn-negative-active: var(--color-highlight) !important;
  --am-btn-secondary-hover-bg: var(--color-highlight) !important;
  --other-msg-bg: var(--color-highlight) !important;
  --self-msg-bg: var(--color-highlight) !important;
  --am-color-theme-hover-bg-updated: #0b394d66 !important;
  --chatwindow-composer-bg: var(--color-highlight) !important;
  --lhs-icon-bg-hover: var(--color-highlight) !important;
  --info-msg-bg: var(--color-highlight) !important;
  --bg-hover-color: var(--color-highlight) !important;
  --input-border-color: var(--color-highlight) !important;
  --am-input-border-color1: var(--color-highlight) !important;
  --lhs-border-color: var(--color-highlight) !important;
  --am-unfurl-audio-background: var(--color-highlight) !important;
  --time-divider-bg: var(--color-highlight) !important;
  --lhs-menu-color: var(--color-highlight) !important;
  --other-msg-bg-in-lhs: var(--color-highlight) !important;
  --color-mode: var(--color-highlight) !important;
  --icon-bg-hover: var(--color-highlight) !important;
  --color-hdr: var(--color-highlight) !important;
  --voice-record-bg: var(--color-highlight) !important;
  --am-btn-standard-hover: var(--color-highlight) !important;
  --am-color-negative-hover: var(--color-highlight) !important;
  --am-color-theme: var(--color-highlight) !important;
  --am-self-msg-bg: var(--color-highlight) !important;
}

.login-container,
.signin_container,
#signin_flow,
.textbox,
.selectbox_options_container,
.selectbox_options,
.zcl-menu-item:hover,
.modalwindow > div,
.amc-default-img,
.amc-list-menu,
.AV-call-info,
.AV-call-options,
.AV-call-mini-btn,
.AV-call-newbox,
.AV-call-ssfullscrn-optn,
.AV-call-miniplayer-header-cnt :is(.zcf-maximize, .AV-call-subtimer, .AV-alert-indicator),
.amc-missed-call-bg:hover,
.msg-actions-hover,
.amc-range-calndr,
.z-bottom-cta-menu a,
.zmobile-menu-new-inner,
.dropdown-menu,
.dropdown-menu > li > a:hover,
.zimageeditor__tools,
.zimageeditor__footer,
.rtcp-mp-closebutton,
.zcl-icon:hover,
.zoomoption :hover {
  background-color: var(--color-highlight) !important;
}

div[purpose="message_actions"] {
  --bg-color-1: var(--color-highlight) !important;
}

.AV-call-info,
.AV-call-options,
.AV-call-miniplayer-header-cnt :is(.zcf-maximize, .AV-call-subtimer, .AV-alert-indicator) {
  backdrop-filter: blur(4px) !important;
}

.art-rail-dp::before,
.content-wrap.active {
  border-color: var(--color-highlight) !important;
}

.zoomoption,
.zh-arf-add::before {
  color: var(--lhs-icon-color) !important;
}

/* zw-Fix Overlappings */
.art-filters-wrapper,
.amc-posstky-label {
  position: relative !important;
}

#art-chats.amc-ovrflwA {
  overflow-y: hidden !important;
}

#art-chats .amc-flex-col,
#art-archived-chatlist {
  overflow-y: auto !important;
}

body {
  overflow-y: hidden !important;
}

main {
  height: calc(100dvh - 68px) !important;
  overflow-y: auto !important;
}

.zw-product-header .content-wrap {
  position: relative !important;
}

.zw-product-header {
  padding-block: 0 !important;
}

@media only screen and (max-width: 767px) {
  main {
    height: calc(100dvh - 106px) !important;
  }

  .z-bottom-cta-menu {
    position: relative !important;
  }
}

/* am-Misc */
#art-modal-view > .smileydivmn {
  --bg-color-1: var(--color-highlight) !important;
}

body {
  &:has(#overlay_secondary) {
    #leftpannel {
      opacity: 0 !important;
    }
  }

  &:has(#lhs_globalsearch) {
    #art-chats {
      display: none !important;
    }
  }
}

.am-main:has(.amc-meeting-detail, .amc-recording-detail) > :first-child {
  display: none !important;
}

/* am-No Footer */
#footer,
footer {
  display: none !important;
}
