/* at-Transparency */
body,
.qr-container,
#background_bg,
.zc-av-header,
.smartconf-ftr,
.smartconf-main,
.amc-posstky-label,
#screenshare_container,
:fullscreen:not(:root)::backdrop {
  background-color: transparent !important;
}

#quoteui,
.AV-call-fullscrn,
.AV-call-fullscrn .AV-call-main,
.AV-call-new-header,
.AV-call-new-footer {
  background: none !important;
}

:root .arattai-classic [data-classic="arattai-classic"],
.am-nitemode {
  --am-bg-color-main: transparent !important;
  --bg-color-1: transparent !important;
  --bg-color-3: transparent !important;
  --am-bg-color-1: transparent !important;
  --am-bg-color-2: transparent !important;
  --am-bg-color-3: transparent !important;
  --lhs-bg-color: transparent !important;
  --am-meeting-det-bg: transparent !important;
  --am-bg-chatwindow: transparent !important;
  --am-overlay-bg: transparent !important;
  --am-bdr-chatwindow: transparent !important;
  --chatwindow-bg-color: transparent !important;
  --chatwindow-hdr-bg-color: transparent !important;
  --am-container-bg: transparent !important;
  --am-media-list-bg: transparent !important;
  --sticky-bg: transparent !important;
  --custom-background: transparent !important;
  --am-btn-secondary-bg: transparent !important;
  --other-msg-bg: #2b2b2b66 !important;
  --self-msg-bg: #0b394d66 !important;
  --am-color-theme-hover-bg-updated: #0b394d66 !important;
  --am-image-viewer-bg: transparent !important;
  --overlay-bg-dark: transparent !important;
}

/* at-Glass Effect */
.amc-menu-item,
.zcl-menu-item,
.zcoverlay > :last-child::before,
.amc-action .amc-action,
.amc-missed-call-bg {
  background-color: transparent !important;
}

:root .arattai-classic [data-classic="arattai-classic"],
.am-nitemode {
  --am-dialog-bg: hsla(0, 0%, 100%, 0.08) !important;
  --am-color-hover1: hsla(0, 0%, 100%, 0.08) !important;
  --am-color-theme-selected-bg: hsla(0, 0%, 100%, 0.08) !important;
  --am-color-theme-hover-bg: hsla(0, 0%, 100%, 0.08) !important;
  --chatwindow-composer-bg: hsla(0, 0%, 100%, 0.08) !important;
  --am-color-mode: hsla(0, 0%, 100%, 0.08) !important;
  --am-menu-color: hsla(0, 0%, 100%, 0.08) !important;
  --lhs-icon-bg-hover: hsla(0, 0%, 100%, 0.08) !important;
  --info-msg-bg: hsla(0, 0%, 100%, 0.08) !important;
  --bg-hover-color: hsla(0, 0%, 100%, 0.08) !important;
}

.login-container,
.signin_container,
#signin_flow,
.textbox,
.selectbox_options_container,
.selectbox_options,
.zcl-menu-item:hover,
.modalwindow > div,
.amc-list-menu,
.AV-call-info,
.AV-call-options,
.AV-call-mini-btn,
.AV-call-newbox,
.AV-call-ssfullscrn-optn,
.AV-call-miniplayer-header-cnt :is(.zcf-maximize, .AV-call-subtimer, .AV-alert-indicator),
.amc-missed-call-bg:hover,
.msg-actions-hover {
  background: hsla(0, 0%, 100%, 0.08) !important;
}

div[purpose="message_actions"] {
  --bg-color-1: hsla(0, 0%, 100%, 0.08) !important;
}

.AV-call-info,
.AV-call-options,
.AV-call-miniplayer-header-cnt :is(.zcf-maximize, .AV-call-subtimer, .AV-alert-indicator) {
  backdrop-filter: blur(4px) !important;
}

/* at-Immersive Popup */
#wms_theatremode_overlay,
#wms_theatremode > .mc183cf01f_videoplayer_container {
  background-color: transparent !important;
}

body {
  &:has(#quoteui) {
    #officechat,
    #lhs-rail {
      display: none !important;
    }
  }

  &:has(> div[jsid="country_code_select"]) {
    #nextbtn {
      filter: blur(20px) !important;
    }
  }

  &:has(
    #mediaerrorpopup,
    > #wms_theatre_mountpoint,
    #mediacall_container > .AV-call-wrapper.AV-call-fullscrn,
    > #imgviewer[style="display: block;"],
    #app[data-v-874ed99a] > div > .amc-recipients-container,
    #app[data-v-874ed99a] > div > div[data-vue-dialogcomponent],
    #app[data-v-874ed99a] > div > .art-dialog-wrapper
  ) {
    #officechat,
    #lhs-rail,
    #lhsOverlay {
      filter: blur(20px) !important;
    }
  }

  &:has(#app[data-v-874ed99a] > div > .amc-image-viewer) {
    #lhs-rail,
    #app[data-v-874ed99a] > div > .am-wrapper {
      filter: blur(20px) !important;
    }
  }

  &:has(#am-modal-container > .amc-image-viewer) {
    #am-modal-container {
      background-color: transparent !important;
    }
    #am-modal-container > div:nth-child(-n + 4) {
      opacity: 0 !important;
    }
  }

  &:has(.amc-posrel > .active) {
    #leftpannel #art-chats,
    #leftpannel #chatlist-header > .amc-form,
    #overlay_secondary > div > div:nth-child(n + 2) {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  & #chatwindows:has(.art-selected) {
    #chatbody {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#lhs-rail .amc-posrel > .active) {
    .art-rail-bottom-actions > .art-lhs-module {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#art-smiley-container) {
    #midcontainer {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }
}

#art-msgarea-container:has(#msgarea > div > .in-view .msg-opt-list) {
  overflow-y: hidden !important;

  #msgarea > div > .in-view:not(:has(.msg-opt-list)) {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }

  @media screen and (max-width: 1300px) {
    #msgarea > div > .in-view > div > span {
      filter: blur(20px) !important;
    }
  }
}

/* at-Misc */
#art-modal-view > .smileydivmn {
  --bg-color-1: hsla(0, 0%, 100%, 0.08) !important;
}

.art-filters-wrapper,
.amc-posstky-label {
  position: relative !important;
}

#art-chats.amc-ovrflwA {
  overflow-y: hidden !important;
}

#art-chats .amc-flex-col {
  overflow-y: auto !important;
}

body {
  &:has(#lhsOverlay > #overlay_secondary) {
    #leftpannel {
      opacity: 0 !important;
    }
  }

  &:has(#lhs_globalsearch) {
    #art-chats {
      display: none !important;
    }
  }
}

/* at-No Footer */
#footer {
  display: none !important;
}
