/* bilibili-transparency */
html,
body,
#bili-header-container,
#i_cecream,
.bili-header,
.large-header,
.mini-header,
.bili-header .bili-header__banner,
.bili-header .bili-header__channel {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
  --darkreader-bg--bg3: transparent !important;
}

/* bilibili-rounded */
.bili-video-card__wrap {
  border-radius: 0.5em !important;
}

/* no footer */
footer,
.bili-footer {
  display: none !important;
}
