/* transparency */
html, body {
  background: transparent !important;
}

/* global text color */
body :not(.notetiny):not(.notetiny *) {
  color: white !important;
}

/* no footer */
.footer {
  display: none !important;
}