/* fb-Transparency */
body, ._95k9, ._4t2a, ._4-i2, [role="link"] > div, .html-div > div .x1jx94hy, input, .xcrg951[role="presentation"] {
  background-color: transparent !important;
}

:root, .x2bj2ny, .x1jx94hy, .x1h0vfkc, .xezm23g, .__fb-dark-mode, .__fb-light-mode {
  --surface-background: transparent !important;
  --overlay-alpha-80: transparent !important;
  --nav-bar-background: transparent !important;
  --card-background-flat: transparent !important;
  --card-background: transparent !important;
  --comment-background: transparent !important;
  --messenger-card-background: transparent !important;
  --web-wash:  transparent !important;
}

/* fb-Glass Effect */ 
._1gaz, ._6luv, ._55r1, ._1gax, ._59s7 {
  background-color: rgba(255,255,255,0.1) !important;
}

:root, .x2bj2ny, .x1jx94hy, .x1h0vfkc, .xezm23g, .__fb-dark-mode, .__fb-light-mode {
  --card-background: rgba(255,255,255,0.1) !important;
  --comment-background: rgba(255,255,255,0.1) !important;
  --messenger-card-background: rgba(255,255,255,0.1) !important;
  --secondary-button-background: rgba(255,255,255,0.1) !important;
}

/* fb-Immersive Popup */
body:has([role="dialog"], [role="menu"], [role="none"][tabindex]) {
  #globalContainer, #scrollview, [role="main"], [role="complementary"] {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

/* fb-Misc */
span[aria-hidden="true"] {
  opacity: 0 !important;
}

/* fb-No Footer */
._95ke {
  display: none !important;
}
