/* gio-Transparency */
body,
#headerbar,
.list-group-item:not(:hover, .active),
.well,
.btn-default, 
.breadcrumb-row,
.breadcrumb-container,
.breadcrumb,
.form-control {
  background-color: transparent !important;
}

:root {
  --dark-mode-primary-color: transparent !important;
  --light-mode-primary-color: transparent !important;
}

/* gio-Fix Overlapping Header */
body {
  padding-top: 0 !important;
  overflow-y: hidden !important;
}

#headerbar {
  position: relative !important;
  margin-bottom: 0 !important;
}

#content {
  height: calc(100dvh - 60px) !important;
  padding-top: 20px !important;
  overflow-y: scroll !important;
}

/* gio-Immersive Popup */
.dropdown-menu {
  background-color: transparent !important;
}

body {
  &:has(.dropdown.open) {
    #content {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }
    
  &:has(.btn-group.open) {
    .wikidisplay {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }
}

/* gio-Glass Effect */
:root {
  --dark-mode-highlight-color: hsla(0, 0%, 100%, 0.08) !important;
  --light-mode-highlight-color: hsla(0, 0%, 100%, 0.08) !important;
}

.dropdown-menu,
.btn-default,
.form-control {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}

/* gio-No Footer */
footer,
.footer-links {
  display: none !important;
}
