/* lin-transparency */
html,
body,
nav,
header,
footer,
section,
main,
#root,
#__next,
.app,
.AppContainer,
[class*="Sidebar_"],
[class*="Header_"],
[class*="Layout_"],
[class*="Footer_"],
[class*="background"],
[class*="Background"],
[data-theme="dark"],
[data-theme="light"] {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* lin-css vars */
:root {
  --color-bg-quaternary: transparent !important;
  --color-bg-tertiary: transparent !important;
  --color-bg-secondary: transparent !important;
  --color-bg-primary: transparent !important;
  --color-background: transparent !important;
  --color-bg: transparent !important;
}

/* lin-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
  --darkreader-background-0d0d0d: transparent !important;
}

/* lin-no footer */
footer,
.footer,
#footer {
  display: none !important;
}
