/* notion-transparecy */
body {
  background-color: #00000000 !important;
  background: #00000000 !important;
}

.notion-app-inner,
.notion-cursor-listener,
.notion-frame,
.notion-sidebar-container,
header {
  background-color: #00000000 !important;
  background: #00000000 !important;
  box-shadow: none !important;
}

/* notion-hide elements */
div.autolayout-row.autolayout-fill-width.autolayout-center.autolayout-space {
  display: none !important;
}

/* notion-rounded banner */
.layout-full img{
  border-radius: 1em !important;
}
