/* pin-transparecy */
:root {
  --color-background-box-light: transparent !important;
  --color-background-box-default: transparent !important;
}

.qiB > div{
  background-color: transparent !important;
}

.mainContainer
  > div:nth-child(1)
  > div:nth-child(3)
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1) {
  background-color: transparent !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
    border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

[data-test-id="typeaheadResults"]{
  background-color: light-dark(#fff, #222) !important;
  border-radius: 2em !important;
}

/* pin-text color */
body,
#VerticalNavContent {
  color: #fff !important;
  fill: #fff !important;
}

#VerticalNavContent {
  filter: invert() !important;
  border: none !important;
}
