/* transparency */
:root{
  --background-color-interactive-subtle: transparent !important;
}

html, body, header, .mw-page-container, .vector-pinned-container, .vector-sticky-pinned-container::after, .infobox{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* no footer */
footer{
  display: none !important;
}
