/* transparency */
:root {
  --background-color-interactive-subtle: transparent !important;
}

html,
body,
header,
.mw-page-container,
.vector-pinned-container,
.vector-sticky-pinned-container::after,
.infobox {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* no footer */
footer {
  display: none !important;
}
