/* zen-transparency */
:root {
  --light: transparent !important;
}

html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar header,
#header,
.header,
app,
#app,
.app,
.app-root,
#pass-sidebar,
#main,
main,
.page .center,
.overflow::after,
.astronav-items,
#content,
section,
#__next,
#navigation-wrapper,
#global-navbar,
#nd-sidebar,
.head.notfixed,
body.dark_mode,
body.light_mode {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* footer */
#footer {
  background-color: color-mix(in srgb, var(--zen-dark), transparent) !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
  border: none !important;
}
