/* amazon-transparency */
html,
body,
nav,
#navbar,
#nav-belt,
#nav-main,
#pageContent,
.a-container,
.a-container > div,
.alm-carousel-desktop,
.a-box,
.a-tabs,
.a-button,
.cards_carousel_widget-suggestion,
.amazonlive-widget-padding,
.tile--t5OMY,
.a-cardui,
.image-shoveler,
.a-section,
.a-row,
.celwidget tr,
.celwidget td,
.a-link-normal,
.a-popover-header,
.a-popover-inner,
.header,
#dp,
#nav-progressive-subnav,
#nav-subnav,
.a-expander-content-fade,
.a-expander-partial-collapse-header,
.tux-bg-page {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

.a-expander-partial-collapse-header:has([aria-expanded="false"]) {
  margin-bottom: 0.5em;
  a {
    background-color: var(--darkreader-background-222222, #fff) !important;
    padding: 0.5em;
    border-radius: 1em;
  }
}

/* amazon-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* amazon-translucent overlays */
.nav-fixed #nav-belt,
.nav-flyout,
.persistent-header,
.a-button-inner,
#hmenu-canvas,
._store-subnav-desktop_style_subnav-sticky__227qt,
.a-alert-container,
.a-popover-wrapper {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* amazon-no banner */
#desktop-banner,
#desktop-banner-stripe,
.banner-desktop {
  display: none !important;
}

/* amazon-no footer */
footer,
#navFooter,
hr {
  display: none !important;
}
