/* google-transparency */
html,
body,
section,
article,
header,
footer,
main,
aside,
nav,
form,
input,
button,
table,
tbody,
tr,
.cIlcle .fHE6De,
#imp > div > div > div .k4o2Hc,
td,
#imp > div > div,
#imp > div > div > div,
body:not(:has([aria-label="Google Maps"]))
  div:not(
    [role="img"],
    .RNNXgb,
    [style="background:#344DC9"],
    .immersive-container,
    [role="dialog"],
    .k4o2Hc,
    [role="tablist"],
    [role="listitem"] > [role="button"] > div > div,
    [jscontroller="Dvn7fe"] > div,
    .kHtcsd div,
    [jsname="RNNXgb"]
  ),
[role="columnheader"] {
  background: transparent !important;
  background-color: transparent !important;
}

.aajZCb,
.review-dialog,
[role="dialog"] .IHjTsb,
button + .gXQlA,
[isfullscreen="false"] [role="dialog"],
[role="dialog"] .JHxP8e,
.iRQHZe [tabindex="-1"],
#liveresults-sports-immersive__team-fullpage,
div.immersive-container {
  background-color: var(--uv-styles-color-surface) !important;
}

div.sfbg {
  background-color: var(--darkreader-border-ffffff) !important;
}

:root {
  --darkreader-background-ffffff: transparent !important;
}

body {
  background-color: #00000000 !important;
}

.in7vHe.FR7ZSc.FR7ZSc .niO4u,
div.RNNXgb,
div.immersive-container,
[role="dialog"],
#sports-app > div > div[role="link"],
#sports-app [role="link"] [role="heading"] .ofy7ae,
#liveresults-sports-immersive__league-fullpage [role="heading"] .ofy7ae,
h2 + [jsname="tiXAab"].iDYYme.OiT5Ue,
[jscontroller="Dvn7fe"] {
  background-color: var(--EpFNW) !important;
}

#gsr > .tkcvsb > div {
  background-color: var(--COEmY) !important;
}

/* google-shadows and borders */
.minidiv .sfbg,
.minidiv .sfbg,
.JryvJ .qS9jbf,
.sHEJob,
.Hwkikb.WY0eLb {
  box-shadow: none !important;
  border: none !important;
}

#sfooter,
[role="contentinfo"] {
  display: none !important;
}

.w6VYqd {
  background-color: #fff !important;
}

/* google-hover */
.rfiSsc {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;

  &:hover {
    opacity: 1 !important;
  }
}

/* google-full overlay fix */
#liveresults-sports-immersive__match-fullpage {
  background-color: var(--EpFNW) !important;
}

#searchform.minidiv div.RNNXgb,
.Al1iSe > div > div,
[jscontroller="Dvn7fe"]:has([data-bkt="searchbox"]) .aajZCb {
  background-color: var(--uv-styles-color-footer, var(--EpFNW)) !important;
}

.kuydt:not(.ecGr2) {
  background-color: var(--EpFNW) !important;
  border-radius: 1em 0 0 1em;
}

#liveresults-sports-immersive__match-fullpage .nGzje,
[data-hveid="CAEQAQ"],
#liveresults-sports-immersive__league-fullpage > div:nth-child(2) > div:nth-child(1) {
  background-color: var(--uv-styles-color-footer, var(--EpFNW)) !important;
  border-radius: 2em !important;
}

/* google-glass effect*/
div.RNNXgb,
#imp > div > div > div c-wiz > .k4o2Hc:nth-child(1),
.aajZCb,
.emcav .RNNXgb {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: background-color 0.5s ease-in-out !important;
  background-color: var(--uv-styles-color-footer, var(--EpFNW)) !important;
}

/* google-search zoom */
#main {
  transition: all 0.3s ease-in-out !important;
}

body:has(.A8SBwf.pD4qTd.emcav) #main {
  filter: blur(20px) !important;
  scale: 0.98 !important;
}

.aajZCb,
.emcav .RNNXgb {
  background-color: #fff5 !important;
  @media (prefers-color-scheme: dark) {
    background-color: #0007 !important;
  }
}
