/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
.informers3-weather__text,
.HeaderDesktop,
#search-result li,
.NativeScroll-Inner,
.AppAdvancedSearch,
.HeaderNav-TabCover,
header + div > aside + div,
article::before,
article::after {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

body > img[aria-hidden="true"] {
  display: none !important;
}

/* no footer */
footer {
  display: none !important;
}
