/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#__next,
body > div,
[data-sidebar="sidebar"],
[data-panel-id] > div > div > div,
[data-panel-group-direction="horizontal"] > div,
[data-panel-group-direction="horizontal"] > div > div,
[data-panel-id] > div > div > div,
[data-panel-group-id] > div > div > div,
body > div > div > div,
.w-full.flex-1 > div,
[dir="ltr"] > div > div > div > div > div {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
