/* transparency */
body, .header-bottom {
    background-color: transparent !important;
}

/* submenu glass effect */
.sub-menu {
    background-color: transparent !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    text-shadow: 0 0 4px black, 0 0 8px black !important;
}

/* show header on hover */
.site-header {
  transition: opacity 0.3s ease-in-out !important;
  opacity: 0 !important;
  &:hover {
    opacity: 1 !important;
  }
}