/* gacc-transparency */
html, body {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

:root {
   --gm3-sys-color-background: transparent !important;
   --gm3-sys-color-surface-container: transparent !important;
   --gm3-sys-color-surface-container-lowest: transparent !important;
}

/* gacc-glass effect */
@media (prefers-color-scheme: dark) {
  :root {
    --gm3-sys-color-surface-container-lowest: #0005 !important;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --gm3-sys-color-surface-container-lowest: #fff8 !important;
  }
}
