/* aistd-transparecy */
:root{
    --color-surface-container-lowest: #00000000 !important;
    --color-sidebars-background: #00000000 !important;
  }
  
  .makersuite-layout, .layout-navbar, select-header, .navbar-header, .router-outlet-wrapper, .nav-toggle-wrapper, .chunk-editor-main, ms-run-settings, .footer, .turn-footer[_ngcontent-ng-c2950371965] > [_ngcontent-ng-c2950371965], .turn-footer[_ngcontent-ng-c2950371965], body, ms-header-root, .system-instructions textarea, .model-run-time-pill, .turn-footer[_ngcontent-ng-c2569464191]{
    background-color: #00000000 !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }

/* aistd-hide disclaimer */
  div.disclaimer-container.ng-tns-c1318864088-1.ng-star-inserted{
    display: none !important;
  }

/* aistd-prompt */
  .prompt-input-wrapper, .suggestion-card, .system-instructions{
    box-shadow:  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: light-dark(#fff8, #0005)  !important;
  }

  /* hover */
ms-navbar, ms-run-settings{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}
