/* aistd-transparecy */
:root{
    --color-surface-container-lowest: #00000000 !important;
    --color-sidebars-background: #00000000 !important;
  }
  
  .makersuite-layout, .layout-navbar, select-header, .navbar-header, .router-outlet-wrapper, .nav-toggle-wrapper, .chunk-editor-main, ms-run-settings, .footer, .turn-footer[_ngcontent-ng-c2950371965] > [_ngcontent-ng-c2950371965], .turn-footer[_ngcontent-ng-c2950371965]{
    background-color: #00000000 !important;
  }

/* aistd-hide disclaimer */
  div.disclaimer-container.ng-tns-c1318864088-1.ng-star-inserted{
    display: none !important;
  }
