/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#__next,
#home_area,
.h-cover-img,
.comments-wrap,
#right_nav,
#left_nav,
.bb-main::before,
.bb-main::after {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

.h-cover {
  opacity: 0.5 !important;
}
