/* notion-Transparency */
:root,
.notion-light-theme {
  --c-graBacPri: transparent !important;
  --c-graBacSec: transparent !important;
  --c-graBacTer: transparent !important;
  --c-graBacEle: transparent !important;
  --ca-graBacPriTra: transparent !important;
  --ca-graBacSecTra: transparent !important;
  --ca-graBacTerTra: transparent !important;
  --ca-graBacIntTra: transparent !important;
  --c-graBacInt: transparent !important;

  --c-greBacPri: transparent !important;
  --c-greBacSec: transparent !important;
  --c-greBacTer: transparent !important;
  --c-greBacEle: transparent !important;
  --ca-greBacPriTra: transparent !important;
  --ca-greBacSecTra: transparent !important;
  --ca-greBacTerTra: transparent !important;
  --ca-greBacIntTra: transparent !important;
  --c-greBacInt: transparent !important;

  --c-oraBacPri: transparent !important;
  --c-oraBacSec: transparent !important;
  --c-oraBacTer: transparent !important;
  --c-oraBacEle: transparent !important;
  --ca-oraBacPriTra: transparent !important;
  --ca-oraBacSecTra: transparent !important;
  --ca-oraBacTerTra: transparent !important;
  --ca-oraBacIntTra: transparent !important;
  --c-oraBacInt: transparent !important;

  --c-pinBacPri: transparent !important;
  --c-pinBacSec: transparent !important;
  --c-pinBacTer: transparent !important;
  --c-pinBacEle: transparent !important;
  --ca-pinBacPriTra: transparent !important;
  --ca-pinBacSecTra: transparent !important;
  --ca-pinBacTerTra: transparent !important;
  --ca-pinBacIntTra: transparent !important;
  --c-pinBacInt: transparent !important;

  --c-purBacPri: transparent !important;
  --c-purBacSec: transparent !important;
  --c-purBacTer: transparent !important;
  --c-purBacEle: transparent !important;
  --ca-purBacPriTra: transparent !important;
  --ca-purBacSecTra: transparent !important;
  --ca-purBacTerTra: transparent !important;
  --ca-purBacIntTra: transparent !important;
  --c-purBacInt: transparent !important;

  --c-redBacPri: transparent !important;
  --c-redBacSec: transparent !important;
  --c-redBacTer: transparent !important;
  --c-redBacEle: transparent !important;
  --ca-redBacPriTra: transparent !important;
  --ca-redBacSecTra: transparent !important;
  --ca-redBacTerTra: transparent !important;
  --ca-redBacIntTra: transparent !important;
  --c-redBacInt: transparent !important;

  --c-teaBacPri: transparent !important;
  --c-teaBacSec: transparent !important;
  --c-teaBacTer: transparent !important;
  --c-teaBacEle: transparent !important;
  --ca-teaBacPriTra: transparent !important;
  --ca-teaBacSecTra: transparent !important;
  --ca-teaBacTerTra: transparent !important;
  --ca-teaBacIntTra: transparent !important;
  --c-teaBacInt: transparent !important;

  --c-yelBacPri: transparent !important;
  --c-yelBacSec: transparent !important;
  --c-yelBacTer: transparent !important;
  --c-yelBacEle: transparent !important;
  --ca-yelBacPriTra: transparent !important;
  --ca-yelBacSecTra: transparent !important;
  --ca-yelBacTerTra: transparent !important;
  --ca-yelBacIntTra: transparent !important;
  --c-yelBacInt: transparent !important;

  --c-bacSec: transparent !important;
  --c-bacTer: transparent !important;
  --ca-bacPriTra: transparent !important;
  --ca-bacSecTra: transparent !important;
  --ca-bacTerTra: transparent !important;
  --ca-bacIntTra: transparent !important;
  --c-bacInt: transparent !important;

  --ca-sidIteSelBac: transparent !important;
  --ca-sidSecBac: transparent !important;
  --ca-conBacTra: transparent !important;
  --ca-carConBacTra: transparent !important;
  --c-calIteBac: transparent !important;
  --cl-calIteHovBac: transparent !important;

  --cd-boaIteDefBac: transparent !important;
  --cd-colGalPreCarBac: transparent !important;
  --ca-modUndBac: transparent !important;
  --c-beiBanBac: transparent !important;
  --c-darBanBac: transparent !important;
  --c-keyDonBarBac: transparent !important;
  --c-keyActBarBac: transparent !important;
  --cl-susUIUseAvaBac: transparent !important;
  --cd-codBloBac: transparent !important;
  --c-codStiBloBac: transparent !important;
  --cd-tabHeaRowColBac: transparent !important;
  --cd-embPlaBac: transparent !important;
  --ca-tokInpMenIteBac: transparent !important;
  --cl-hovDisBac: transparent !important;
  --c-hovMarDisBac: transparent !important;
  --c-selMarDisBac: transparent !important;
  --ca-butHovBac: transparent !important;
  --ca-tabRowHovBac: transparent !important;
  --ca-outButHovBac: transparent !important;
  --cl-outButPreBac: transparent !important;
  --ca-butPreBac: transparent !important;
  --ca-butPreBacLig: transparent !important;
  --cl-carHovBac: transparent !important;
  --cl-carPreBac: transparent !important;
  --c-whiButBac: transparent !important;
  --c-assCorButBac: transparent !important;
  --c-assCorButBacHov: transparent !important;
  --c-assCorButBacPre: transparent !important;
  --ca-ligGraButHovBac: transparent !important;
  --ca-ligGraButPreBac: transparent !important;
  --c-butGroBac: transparent !important;
  --c-whiButHovBac: transparent !important;
  --c-whiButPreBac: transparent !important;
  --c-timBac: transparent !important;
  --c-peeTimBac: transparent !important;
  --cd-timDarBac: transparent !important;
  --cl-homEmpStaPreJoiButBac: transparent !important;
  --c-homScrButBacBas: transparent !important;
  --cl-homScrButBacPre: transparent !important;
  --ca-homTilBac: transparent !important;
  --ca-homCarCovPhoBas: transparent !important;
  --cd-homCarBacBas: transparent !important;
  --cd-homCarBacHov: transparent !important;
  --ca-homCarBacPre: transparent !important;
  --cd-homCarTemCarBacBas: transparent !important;
  --cd-homCarTemCarBacHov: transparent !important;
  --ca-homCarTemCarBacPre: transparent !important;
  --cl-perHomBacPho: transparent !important;
  --c-sitBuiBac: transparent !important;
  --cl-sitInsSte: transparent !important;
  --ca-equTemPlaBac: transparent !important;
  --ca-pilBacYel: transparent !important;
  --ca-pilBacBlu: transparent !important;
  --ca-pilBacRed: transparent !important;
  --cl-pilBacWhi: transparent !important;
  --ca-pilHovBacYel: transparent !important;
  --ca-pilHovBacBlu: transparent !important;
  --ca-pilHovBacRed: transparent !important;
  --ca-pilHovBacWhi: transparent !important;
  --ca-pilPreBacYel: transparent !important;
  --ca-pilPreBacBlu: transparent !important;
  --ca-pilPreBacRed: transparent !important;
  --ca-pilPreBacWhi: transparent !important;
  --cd-pilSelBacYel: transparent !important;
  --cl-pilSelBacBlu: transparent !important;
  --c-pilSelBacRed: transparent !important;
  --cl-pilSelBacWhi: transparent !important;
  --cl-pilSelHovBacYel: transparent !important;
  --ca-pilSelHovBacBlu: transparent !important;
  --ca-pilSelHovBacRed: transparent !important;
  --ca-pilSelHovBacWhi: transparent !important;
  --c-pilSelPreBacYel: transparent !important;
  --ca-pilSelPreBacBlu: transparent !important;
  --cl-pilSelPreBacRed: transparent !important;
  --ca-pilSelPreBacWhi: transparent !important;
  --ca-marEdiBacRed: transparent !important;
  --ca-marEdiBacYel: transparent !important;
  --ca-marEdiBacBlu: transparent !important;
  --ca-marEdiBacWhi: transparent !important;
  --c-marEdiBacHovRed: transparent !important;
  --c-marEdiBacHovYel: transparent !important;
  --cd-marEdiBacHovBlu: transparent !important;
  --ca-marEdiBacHovWhi: transparent !important;
  --cl-marEdiBacPreRed: transparent !important;
  --cl-marEdiBacPreYel: transparent !important;
  --cd-marEdiBacPreBlu: transparent !important;
  --ca-marEdiBacPreWhi: transparent !important;
  --ca-glaPag: transparent !important;
  --ca-glaWas: transparent !important;
  --ca-popOveBac: transparent !important;
  --ca-embBloResInnBg: transparent !important;
  --ca-calEveHovBac: transparent !important;
}

@media screen {
  .notion-dark-theme {
    --c-bluBacPri: transparent !important;
    --c-bluBacSec: transparent !important;
    --c-bluBacTer: transparent !important;
    --c-bluBacEle: transparent !important;
    --ca-bluBacPriTra: transparent !important;
    --ca-bluBacSecTra: transparent !important;
    --ca-bluBacTerTra: transparent !important;
    --ca-bluBacIntTra: transparent !important;
    --c-bluBacInt: transparent !important;

    --c-broBacPri: transparent !important;
    --c-broBacSec: transparent !important;
    --c-broBacTer: transparent !important;
    --c-broBacEle: transparent !important;
    --ca-broBacPriTra: transparent !important;
    --ca-broBacSecTra: transparent !important;
    --ca-broBacTerTra: transparent !important;
    --ca-broBacIntTra: transparent !important;
    --c-broBacInt: transparent !important;

    --c-graBacPri: transparent !important;
    --c-graBacSec: transparent !important;
    --c-graBacTer: transparent !important;
    --c-graBacEle: transparent !important;
    --ca-graBacPriTra: transparent !important;
    --ca-graBacSecTra: transparent !important;
    --ca-graBacTerTra: transparent !important;
    --ca-graBacIntTra: transparent !important;
    --c-graBacInt: transparent !important;

    --c-greBacPri: transparent !important;
    --c-greBacSec: transparent !important;
    --c-greBacTer: transparent !important;
    --c-greBacEle: transparent !important;
    --ca-greBacPriTra: transparent !important;
    --ca-greBacSecTra: transparent !important;
    --ca-greBacTerTra: transparent !important;
    --ca-greBacIntTra: transparent !important;
    --c-greBacInt: transparent !important;

    --c-oraBacPri: transparent !important;
    --c-oraBacSec: transparent !important;
    --c-oraBacTer: transparent !important;
    --c-oraBacEle: transparent !important;
    --ca-oraBacPriTra: transparent !important;
    --ca-oraBacSecTra: transparent !important;
    --ca-oraBacTerTra: transparent !important;
    --ca-oraBacIntTra: transparent !important;
    --c-oraBacInt: transparent !important;

    --c-pinBacPri: transparent !important;
    --c-pinBacSec: transparent !important;
    --c-pinBacTer: transparent !important;
    --c-pinBacEle: transparent !important;
    --ca-pinBacPriTra: transparent !important;
    --ca-pinBacSecTra: transparent !important;
    --ca-pinBacTerTra: transparent !important;
    --ca-pinBacIntTra: transparent !important;
    --c-pinBacInt: transparent !important;

    --c-purBacPri: transparent !important;
    --c-purBacSec: transparent !important;
    --c-purBacTer: transparent !important;
    --c-purBacEle: transparent !important;
    --ca-purBacPriTra: transparent !important;
    --ca-purBacSecTra: transparent !important;
    --ca-purBacTerTra: transparent !important;
    --ca-purBacIntTra: transparent !important;
    --c-purBacInt: transparent !important;

    --c-redBacPri: transparent !important;
    --c-redBacSec: transparent !important;
    --c-redBacTer: transparent !important;
    --c-redBacEle: transparent !important;
    --ca-redBacPriTra: transparent !important;
    --ca-redBacSecTra: transparent !important;
    --ca-redBacTerTra: transparent !important;
    --ca-redBacIntTra: transparent !important;
    --c-redBacInt: transparent !important;

    --c-teaBacPri: transparent !important;
    --c-teaBacSec: transparent !important;
    --c-teaBacTer: transparent !important;
    --c-teaBacEle: transparent !important;
    --ca-teaBacPriTra: transparent !important;
    --ca-teaBacSecTra: transparent !important;
    --ca-teaBacTerTra: transparent !important;
    --ca-teaBacIntTra: transparent !important;
    --c-teaBacInt: transparent !important;

    --c-yelBacPri: transparent !important;
    --c-yelBacSec: transparent !important;
    --c-yelBacTer: transparent !important;
    --c-yelBacEle: transparent !important;
    --ca-yelBacPriTra: transparent !important;
    --ca-yelBacSecTra: transparent !important;
    --ca-yelBacTerTra: transparent !important;
    --ca-yelBacIntTra: transparent !important;
    --c-yelBacInt: transparent !important;

    --c-bacSec: transparent !important;
    --c-bacTer: transparent !important;
    --ca-bacPriTra: transparent !important;
    --ca-bacSecTra: transparent !important;
    --ca-bacTerTra: transparent !important;
    --ca-bacIntTra: transparent !important;
    --c-bacInt: transparent !important;

    --ca-conBacTra: transparent !important;
    --ca-carConBacTra: transparent !important;
    --c-calIteBac: transparent !important;
    --cl-calIteHovBac: transparent !important;

    --cd-boaIteDefBac: transparent !important;
    --cd-colGalPreCarBac: transparent !important;
    --ca-modUndBac: transparent !important;
    --c-beiBanBac: transparent !important;
    --c-darBanBac: transparent !important;
    --c-keyDonBarBac: transparent !important;
    --c-keyActBarBac: transparent !important;
    --cl-susUIUseAvaBac: transparent !important;
    --cd-codBloBac: transparent !important;
    --c-codStiBloBac: transparent !important;
    --cd-tabHeaRowColBac: transparent !important;
    --cd-embPlaBac: transparent !important;
    --ca-tokInpMenIteBac: transparent !important;
    --cl-hovDisBac: transparent !important;
    --c-hovMarDisBac: transparent !important;
    --c-selMarDisBac: transparent !important;
    --ca-butHovBac: transparent !important;
    --ca-tabRowHovBac: transparent !important;
    --ca-outButHovBac: transparent !important;
    --cl-outButPreBac: transparent !important;
    --ca-butPreBac: transparent !important;
    --ca-butPreBacLig: transparent !important;
    --cl-carHovBac: transparent !important;
    --cl-carPreBac: transparent !important;
    --c-whiButBac: transparent !important;
    --c-assCorButBac: transparent !important;
    --ca-ligGraButHovBac: transparent !important;
    --ca-ligGraButPreBac: transparent !important;
    --c-butGroBac: transparent !important;
    --c-whiButHovBac: transparent !important;
    --c-whiButPreBac: transparent !important;
    --c-timBac: transparent !important;
    --c-peeTimBac: transparent !important;
    --cd-timDarBac: transparent !important;
    --cl-homEmpStaPreJoiButBac: transparent !important;
    --c-homScrButBacBas: transparent !important;
    --cl-homScrButBacPre: transparent !important;
    --ca-homTilBac: transparent !important;
    --ca-homCarCovPhoBas: transparent !important;
    --cd-homCarBacBas: transparent !important;
    --cd-homCarBacHov: transparent !important;
    --ca-homCarBacPre: transparent !important;
    --cd-homCarTemCarBacBas: transparent !important;
    --cd-homCarTemCarBacHov: transparent !important;
    --ca-homCarTemCarBacPre: transparent !important;
    --cl-perHomBacPho: transparent !important;
    --c-sitBuiBac: transparent !important;
    --cl-sitInsSte: transparent !important;
    --ca-equTemPlaBac: transparent !important;
    --ca-pilBacYel: transparent !important;
    --ca-pilBacBlu: transparent !important;
    --ca-pilBacRed: transparent !important;
    --cl-pilBacWhi: transparent !important;
    --c-pilHovBacYel: transparent !important;
    --c-pilHovBacRed: transparent !important;
    --ca-pilHovBacWhi: transparent !important;
    --ca-pilPreBacYel: transparent !important;
    --ca-pilPreBacBlu: transparent !important;
    --ca-pilPreBacRed: transparent !important;
    --ca-pilPreBacWhi: transparent !important;
    --cd-pilSelBacYel: transparent !important;
    --cl-pilSelBacBlu: transparent !important;
    --c-pilSelBacRed: transparent !important;
    --cl-pilSelBacWhi: transparent !important;
    --cl-pilSelHovBacYel: transparent !important;
    --ca-pilSelHovBacRed: transparent !important;
    --ca-pilSelHovBacWhi: transparent !important;
    --c-pilSelPreBacYel: transparent !important;
    --ca-pilSelPreBacBlu: transparent !important;
    --cl-pilSelPreBacRed: transparent !important;
    --ca-pilSelPreBacWhi: transparent !important;
    --ca-marEdiBacRed: transparent !important;
    --ca-marEdiBacYel: transparent !important;
    --ca-marEdiBacBlu: transparent !important;
    --ca-marEdiBacWhi: transparent !important;
    --c-marEdiBacHovRed: transparent !important;
    --c-marEdiBacHovYel: transparent !important;
    --cd-marEdiBacHovBlu: transparent !important;
    --ca-marEdiBacHovWhi: transparent !important;
    --cl-marEdiBacPreRed: transparent !important;
    --cl-marEdiBacPreYel: transparent !important;
    --cd-marEdiBacPreBlu: transparent !important;
    --ca-marEdiBacPreWhi: transparent !important;
    --ca-glaPag: transparent !important;
    --ca-glaWas: transparent !important;
  }
}

body {
  background: transparent !important;
}
