/* todoist-transparency */
html,
body,
#todoist_app > div:has(> .app-sidebar-container),
#todoist_app > div > div.app-sidebar-container > div > nav,
#todoist_app > div > div.app-sidebar-container > div > nav > div {
  background-color: transparent !important;
}

#todoist_app > div > div:has(> #content),
header > div,
.task-list-item,
.task_list_item:hover .task_list_item__actions, 
.task_list_item .task_list_item__actions__active,
.theme_dark .task_list_item:hover .task_list_item__actions, 
.theme_dark .task_list_item__actions__active,
.section {
  background-color: transparent !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer, mfe-footer-pharos-footer, .footer, #footer{
  display: none !important;
}
