/* inoa-Transparency */
body,
main,
.input,
.social-button,
#root,
.fixed,
._TableEmpty_zob1a_1,
._Table__head-row_pfg8l_57,
._Typography_17qm4_1,
._card_2grii_1,
.bg-clouds,
._CreateNewHint_1ivyu_1,
._CreateNewHintCard_1ivyu_47,
._resources-item_1n55e_16,
._Banner_1tl5b_1,
._courses-banner_htss4_10,
._Alert_pam0z_1,
._plan-usage__upgrade_1da3n_46,
nav,
._input_nbwhf_1,
._sidenav-content_3zq3a_251,
._setting__theme_16vnc_216,
._setting__font-size-input_16vnc_323,
._container_13cb0_214,
._dialog-actions_13cb0_259 {
  background-color: transparent !important;
}

/* inoa-Transparent Editor */
._editor-panel-container_ju0pj_168,
._sidenav-children_3zq3a_246,
._container_ju0pj_160,
._toolbar_kzmq2_228,
._status-bar_iklxf_591,
._tabs-bar_1jz5n_215,
._container_51qei_211,
.cm-gutters,
._tab_8yosf_196,
._tab-close-button-wrapper_8yosf_276,
._dropdown-menu-button_1xjic_251 {
  background-color: transparent !important;
  background: none !important;
}

/* inoa-Transparent Console */
._console-output_iklxf_594 {
  background-color: transparent !important;
}

:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inoa-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inoa-Translucent Overlays */
._PopupBox_56g29_1,
._header--mobile_1ej6i_83,
._PlanItem-progress_1da3n_136,
#radix-\:rs\:,
#radix-\:r7t\:,
#radix-\:rh\:,
._tooltip_5iy2d_160,
._share-sketch-panel_1ppjn_171,
.Toastify__toast,
._onboarding-content_eyqze_174,
.cm-activeLineGutter,
._tab-selected_8yosf_208,
.ReactModal__Content,
._upload-info-popover_kzmq2_197,
._file-selected_56btt_250 {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}
