/* bkl-transparency */
body,
.site-body,
footer,
.article-hero::before {
  background: transparent !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

:root {
  --back-secondary: #00000000 !important;
  --back-highlight: rgba(0, 0, 0, 0) !important;
}

.navbar {
  border-bottom: none !important;
  border-bottom: none !important;
}

#primary-nav.hide-border #nav-bar-search,
#primary-nav.hide-border .search-btn {
  border-width: 0px !important;
}

.modal-search .search-btn,
.navbar .search-btn,
.modal-search .search-bar,
.navbar .search-bar,
.btn-general {
  background-color: #00000000 !important;
}

/* bkl-no footer */
footer {
  display: none !important;
}
