/* bkl-transparency */
body,
.site-body,
footer,
.article-hero::before {
  background: transparent !important;
}

:root {
  --back-secondary: #00000000 !important;
  --back-highlight: rgba(0, 0, 0, 0) !important;
}


/* bkl-no footer */
footer {
  display: none !important;
}
