/* transparency */
html, body, #site-content, .PrimaryNav-strip-Xyi::after, .PrimaryNav-strip-Xyi::before, .PrimaryNav-strip-Xyi, .Nav-storyNav-Uw0, .Btn-base-L7P, .ForYouUnified-root-R69{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer{
  display: none !important;
}

/* no thanks */
.ForYou-rowWrapper-U4T{
  display: none;
}

