/* bing-transparency */
html, body, .hp_body, .hp_top_cover_container::before, header, #b_content, .b_algo, .dg_b, #rfPane{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  background-image: none !important;
}

/* bing-hidden */
.bottom_row, #hp_top_cover, .shaders, .hp_top_cover_container, .hp_media_container{
  display: none !important;
}

/* bing-no footer */
footer{
  display: none !important;
}
