/* inob-Transparency */
.blog-card,
.info-wrapper,
.alignleft a,
.blog-home-btn,
.image-post {
  background-color: transparent !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inob-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inob-Translucent Overlays */
nav,
.select-btn,
.dropdown-menu {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inob-No Footer */
#footer {
  display: none !important;
}
