/* transparecy */
html.theme--dim,
html.theme--dark,
html.theme--light,
.r-kemksi,
.r-1d5kdc7,
.r-1d5kdc7 > div:nth-child(1) > div:nth-child(1),
[data-testid="homeScreenFeedTabs"],
div.css-175oi2r:has([data-testid="homeScreenFeedTabs"]),
div.css-175oi2r:has([href="/feeds"]),
[aria-label="View your feeds and explore more"],
[placeholder="Search"] + div,
.css-175oi2r.r-bnwqim.r-13qz1uu:has([placeholder="Search"]),
div:has(div > button[aria-label="Go back"]),
[aria-label="Compose reply"],
[role="tablist"],
[data-testid="profileView"] div.css-175oi2r.r-12vffkv,
#root > div > div > div > div > div,
.r-12vffkv {
  --background: transparent !important;
  background-color: transparent !important;
}

[data-testid="homeScreenFeedTabs-selector"] > div > div,
[data-feed-context] > div > div,
[data-testid="userBannerImage"],
[data-testid="userBannerImage"] img {
  border-radius: 1em !important;
}

/* no borders */
html.theme--dim,
.r-kemksi,
.r-1d5kdc7,
.r-1d5kdc7 > div:nth-child(1) > div:nth-child(1),
.css-175oi2r {
  border: none !important;
}

/* overlay fixes */
[role="menu"] .css-175oi2r,
[role="dialog"] .css-175oi2r {
  background-color: var(--backgroundLight) !important;
}

/* hover right sidebar */
.r-kemksi > div:nth-child(3) {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* hover nav */
nav {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}
