/* bundesliga-transparency */
html, body, nav, header, .tile__match, .tile__epg, .teaser, dfl-editorial-teaser, .partnerbar, .row{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* bundesliga-darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* bundesliga-no footer */
footer{
  display: none !important;
}
