

/* Transparent */
body {
  /*@--dsw-static-neutral-bluish-00: transparent !important; <-- Not suggested, as it will break the white color of the page*/
  --dsw-alias-bg-base: transparent !important;
    
  --dsw-alias-markdown-code-block: #f9fafb90 !important; 
  --dsw-alias-markdown-code-block-banner: #f9fafb90 !important;
  --dsw-specific-bubble: #edf3fea0 !important;
    
}

/* Enhanced white transparency$May cause some display issues*/
body {
  --dsw-static-neutral-bluish-100: #ebeef2d0;
  --dsw-static-neutral-bluish-00: #fffd;
  --dsw-static-neutral-bluish-50: #f9fafb85;
  --dsw-static-deepseek-100: #e4edfd85;
  --dsw-static-deepseek-50: #edf3fe85;
}
.md-code-block.md-code-block-light .token.comment, .md-code-block.md-code-block-light .token.prolog, .md-code-block.md-code-block-light .token.cdata {
  color: #626369; /*letting comments in codes visible*/
}


/* Dark Theme*/
body[data-ds-dark-theme] {
    /*@
    --dsw-static-neutral-bluish-950: transparent !important;
    --dsw-static-neutral-bluish-900: #1b1b1c61 !important;
    These are also deprecated*/
    --dsw-alias-bg-base: transparent !important;
    --dsw-alias-markdown-code-block-banner: #2c2c2e90 !important;
    --dsw-alias-markdown-code-block: #1b1b1c90 !important;
    --dsw-specific-bubble: #2c2c2e90 !important;
}   

/*Enhanced dark transparency*/
body[data-ds-dark-theme] {
    --dsw-static-neutral-bluish-950: transparent ;
    --dsw-static-neutral-bluish-900: #1b1b1c61 ;
}

/*Translucent bottom chat bar*/
div:has(> div > div > textarea[name="search"]) {
  background: #4e4e8b80 !important;  
  backdrop-filter: blur(10px) saturate(180%) !important;          
}

body[data-ds-dark-theme] div:has(> div > div > textarea[name="search"]) {
  background: #1e1e425e !important;  
  backdrop-filter: blur(10px) saturate(180%) !important;          
}

/* deepseek-remove decoration */

div.fcaa63f8.d9fb9344,
.fcaa63f8,
._62b4800 {
  display: none !important;
}

/* deepseek-larger margin */

div.aaff8b8f {
  margin-bottom: 1em !important;
}

/* deepseek-hover show side bar */

.dc04ec1d,
div.ds-flex {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;

  &:hover {
    opacity: 1 !important;
  }
}
