/* deepseek-transparecy */
body[data-ds-dark-theme] {
  --dsr-bg: transparent !important;
  --dsr-side-bg: transparent !important;
}

.b480065b {
  background: none !important;
}

/* deepseek-other changes */
div.fcaa63f8.d9fb9344,
.fcaa63f8 {
  display: none !important;
}

.dc04ec1d,
div.ds-flex {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;

  &:hover {
    opacity: 1 !important;
  }
}

div.aaff8b8f {
  margin-bottom: 1em !important;
}
