/*  class-glass effect */
.lXuxY, .jWCzBe:hover, .gHz6xd, .d4Fe0d, .n4xnA, .hgjBDc, .MHxtic:hover, .GWZ7yf {
   background-color: #18181875 !important;
   border-color: #90909080;
}

.s2g3Xd, .vwNuXe, .VfPpkd-P5QLlc, .ysU8Le, .rHGeGc-O1htCb {
   background-color: #08080875 !important;
}

.vwNuXe, .xHPsid, .YJHsie {
   border-radius: 10px !important;
}

.qhnNic * {
   border-color: #90909080;
}

.xHPsid, .YJHsie {
   background-color: #08080890 !important;
   backdrop-filter: blur(10px);
}

/*  class-sidebar $ Adds rounding, a darker blurred background, and moves the scroll bar to the left side. */
.tCcYY[role="menu"] {
   background-color: transparent !important;
}

.rknsod {
   background-color: #08080890 !important;
   backdrop-filter: blur(10px);
   border-top-right-radius: 35px !important;
   border-bottom-right-radius: 35px !important;
}

.uTwgne[aria-current="page"] {
   background-color: #ffffff30 !important;
   * {
      background-color: transparent !important;
   }
}

.rknsod {
   direction: rtl;
}

.uTwgne, .ug8OTc {
   :hover {
      background-color: #ffffff06 !important;
   }
   direction: ltr;
}

/* class-hover $ Hides top bar. */
.joJglb:not(:hover), body:has(.joJglb:not(:hover)) .J6rR1b {
   > * {
      opacity: 0%;
      transition: 0.2s;
   }
   height: 20px;
   transition: 0.3s;
}

.joJglb:hover, body:has(.joJglb:hover) .J6rR1b {
   > * {
      opacity: 100%;
      transition: 0.4s;
   }
   height: 70px;
   transition: 0.3s;
}

/* class-transparency */
.OX4Vcb,
nav,
.Tabkde,
.Aopndd,
.RIDjNe,
.mwJvDe .KEDCCd {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* class-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
