/* inocl-Transparency */
._Header-inner_lfa7m_16,
._Header-hamburgher_lfa7m_101,
._Header-menusheet_lfa7m_155,
.hero-banner,
.title-and-description,
.content-page,
.tabs-content__tab,
.tabs-content__card-container,
.standard-card-item {
  background-color: transparent !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inocl-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inocl-Translucent Overlays */
nav,
._Header-overlay_lfa7m_137[data-show="true"] {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inocl-No Footer */
#footer {
  display: none !important;
}
