/* copilot-transparency */
html, body, .dark\:bg-midnight-850:is([data-theme="dark"] *), .bg-gradient-chat-light{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

div.space-y-8:nth-child(1){display: none !important;}
