/* inods-Transparency */
._Header-inner_lfa7m_16,
._Header-hamburgher_lfa7m_101,
._Header-menusheet_lfa7m_155,
.menu-list,
.content-page {
  background-color: transparent !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inods-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inods-Translucent Header */
nav,
._Header-overlay_lfa7m_137[data-show="true"],
.menu-container {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inods-No Footer */
#footer {
  display: none !important;
}
