/* deepl-transparency */
html, body, .page-header, div.bg-gray-50{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

[data-testid="translator-source-lang-list"],[data-testid="translator-target-lang-list"], .FlyoutPanel-module--visible--ecbf4, [data-headlessui-state="open"]{
  background-color: var(--darkreader-bg--color-gray-50, var(--tw-ring-offset-color)) !important;
}

/* deepl-darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* deepl-no footer */
footer{
  display: none !important;
}
