/* jellyfin-transparency */
html,
body,
nav,
header,
.backgroundContainer,
.skinHeader,
video,
.videoPlayerContainer,
.detailPageSecondaryContainer,
.detailRibbon,
.backdropImage,
.paperList,
.MuiPaper-root,
.visualCardBox,
.MuiBox-root,
.MuiTableRow-root {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
    border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}
