/* derpy-transparent */
body[data-theme="dark-blue"] {
  --background-color: rgba(0, 0, 0, 0) !important;
  --page-background-color: rgba(0, 0, 0, 0) !important;
}

body[data-theme="light-blue"] {
  --background-color: rgba(255, 255, 255, 0) !important;
  --page-background-color: rgba(255, 255, 255, 0) !important;
}

/* derpy-transparent header */
body[data-theme="dark-blue"] {
  --header-color: rgba(0, 0, 0, 0.35) !important;
  --header-hover-color: rgba(0, 0, 0, 0.15) !important;
  --header-field-color: rgba(0, 0, 0, 0.25) !important;
  --header-field-hover-color: rgba(0, 0, 0, 0.25) !important;
  --header-link-background: rgba(0, 0, 0, 0) !important;
  --header-link-hover: rgba(0, 0, 0, 0.15) !important;
}

body[data-theme="light-blue"] {
  --header-color: rgba(255, 255, 255, 0.35) !important;
  --header-hover-color: rgba(255, 255, 255, 0.15) !important;
  --header-field-color: rgba(255, 255, 255, 0.25) !important;
  --header-field-hover-color: rgba(255, 255, 255, 0.25) !important;
  --header-link-background: rgba(255, 255, 255, 0) !important;
  --header-link-hover: rgba(255, 255, 255, 0.15) !important;
}

.header {
  a.header__link {
    background: var(--header-link-background) !important;
  }
  a.header__link:hover {
    background: var(--header-link-hover) !important;
  }
}

.header__input {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.header__input[inputmode="search"] {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.header__search__button[title="Search syntax help"] {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.header__search__button:hover {
  background: var(--header-hover-color) !important;
}

:root {
  --autocomplete-background: rgba(29, 36, 47, 0.8) !important;
}
.autocomplete {
  top: 40px !important;
  border: none !important;
  border-radius: 6px !important;
}

body[data-theme="dark-blue"] {
  --input-color: rgba(0, 0, 0, 0.45) !important;
  --input-color-focus: rgba(0, 0, 0, 0.55) !important;
}
body[data-theme="light-blue"] {
  --input-color: rgba(255, 255, 255, 0.45) !important;
  --input-color-focus: rgba(255, 255, 255, 0.55) !important;
}

.input[id="searchform_q"] {
  transition: background ease 0.1s !important;
  border: none !important;
  border-radius: 6px !important;
  margin-bottom: 6px !important;
}
.input[id="searchform_q"]:focus {
  background: var(--input-color-focus) !important;
}

span.header__link-user__dropdown-arrow {
  background-color: var(--header-link-background) !important;
}

.header__input {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.header__filter-form {
  transition: transform 0.1s ease !important;
}

/* derpy-transparent header 2 */
body[data-theme="dark-blue"] {
  --header-secondary-color: rgba(0, 0, 0, 0) !important;
  --header-secondary-hover-color: rgba(0, 0, 0, 0.35) !important;
}

body[data-theme="light-blue"] {
  --header-secondary-color: rgba(255, 255, 255, 0) !important;
  --header-secondary-hover-color: rgba(255, 255, 255, 0.35) !important;
}

.header--secondary {
  background: var(--header-secondary-color) !important;
  backdrop-filter: none !important;

  a.header__link {
    background: var(--header-secondary-color) !important;
  }
  a.header__link:hover {
    background: var(--header-secondary-hover-color) !important;
  }
}

.header--secondary span.header__counter {
  background: var(--header-secondary-color) !important;
}

.dropdown .dropdown__content > :not(.hidden) {
  backdrop-filter: blur(10px) !important;
  background: rgba(0, 0, 0, 0.46) !important;
}
.dropdown .dropdown__content > :not(.hidden):hover {
  background: rgba(0, 0, 0, 0.64) !important;
}

/* derpy-image list */
body[data-theme="dark-blue"] {
  --block-header-color: rgba(0, 0, 0, 0.35) !important;
  --block-header-hover-color: rgba(0, 0, 0, 0.15) !important;
  --block-header-light-color: rgba(0, 0, 0, 0.35) !important;
}

body[data-theme="light-blue"] {
  --block-header-color: rgba(255, 255, 255, 0.35) !important;
  --block-header-hover-color: rgba(255, 255, 255, 0.15) !important;
  --block-header-light-color: rgba(255, 255, 255, 0.35) !important;
}
main#content.layout--wide div.column-layout div.column-layout__main div#imagelist-container.block {
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}

main#content.layout--wide div.column-layout div.column-layout__main div#imagelist-container.block a:not(.active) {
  background: var(--header-link-background) !important;
}
main#content.layout--wide div.column-layout div.column-layout__main div#imagelist-container.block a:hover {
  background: var(--block-header-hover-color) !important;
  color: var(--block-header-link-text-hover-color) !important;
}

:where(main#content.layout--wide div.column-layout div.column-layout__main div#imagelist-container.block a.active) {
  background: initial;
}

main#content.layout--wide div#imagelist-container.block section.block__header.page__header.flex {
  a {
    background: transparent !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}
main#content.layout--wide div#imagelist-container.block div.block__header.block__header--light.page__header.flex {
  a {
    background: transparent !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}

/* derpy-image header */
body[data-theme="dark-blue"] {
  --media-box-header-bg: rgba(0, 0, 0, 0.35) !important;
  --media-box-header-bg-hover: rgba(0, 0, 0, 0.05) !important;
}

body[data-theme="light-blue"] {
  --media-box-header-bg: rgba(255, 255, 255, 0.35) !important;
  --media-box-header-bg-hover: rgba(255, 255, 255, 0.45) !important;
}

.media-box__header {
  background: var(--media-box-header-bg) !important;
  border-radius: 3px !important;
}

.media-box {
  border-radius: 3px !important;
}

/*derpy-image page*/
div#extrameta.image-metabar.flex.flex--wrap.block__header--user-credit.center--layout div span.image_uploader strong {
  a {
    background: transparent !important;
    border-radius: 3px !important;
  }
  a:hover {
    background: var(--header-hover-color) !important;
  }
}

#image_options_area .block__header--js-tabbed {
  border: none !important;
  a {
    border: none !important;
    background: var(--image-options-area-background) !important;
    border-radius: 6px !important;
    margin-right: 6px !important;
    transition: ease 0.1s !important;
  }
}

#js-comment-form .block__header--js-tabbed {
  border: none !important;
  background: var(--image-options-area-background) !important;
  a {
    border: none !important;
    background: none !important;
  }
  a:hover {
    border-radius: 6px !important;
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}
#js-comment-form .block__tab {
  border: none !important;
}
#js-refresh-comments {
  border: none !important;
  border-radius: 6px !important;
  color: #4f95db !important;
  font-weight: 700;
}
#js-refresh-comments:hover {
  color: var(--block-header-link-text-hover-color) !important;
  background: var(--image-options-area-button-hover) !important;
}
#js-comment-form #fa,
#js-comment-form #hide-mobile {
  transition: color 0.3s ease;
}
#js-comment-form .button[type="submit"] {
  border: none !important;
  background: var(--image-options-area-button) !important;
  border-radius: 3px !important;
  color: #4f95db !important;
  font-weight: 600 !important;
  transition: ease 0.1s !important;
}
#js-comment-form .button[type="submit"]:hover {
  color: var(--block-header-link-text-hover-color) !important;
  background: var(--image-options-area-button-hover-nt) !important;
}

main#content.layout--wide div.layout--narrow div.image-description div.block div.block__content blockquote {
  border: none !important;
  background: var(--image-options-area-background) !important;
  backdrop-filter: blur(2px) !important;
  border-radius: 3px !important;
}

main#content.layout--wide div.layout--narrow div#image_tags_and_source.js-tagsauce div.block__header__buttons {
  a {
    background: none !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}
main#content.layout--wide div.layout--narrow div.js-sourcesauce div#image-source.block {
  a {
    background: none !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}

main#content.layout--wide div.block.block__header .flex.flex--wrap.image-metabar.center--layout div.stretched-mobile-links {
  a.interaction--comments:hover {
    color: var(--pure-hover) !important;
  }
}

form#js-comment-form
  div.block
  div
  div.block__tab.communication-edit__tab.selected.js-preview-input-wrapper
  div.field
  textarea#js-comment-form_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input {
  border-radius: 6px !important;
}
form#js-comment-form
  div.block
  div
  div.block__tab.communication-edit__tab.selected.js-preview-input-wrapper
  div.field
  textarea#js-comment-form_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input:focus {
  background: var(--input-color) !important;
  border-radius: 0px !important;
}

main#content.layout--wide div.layout--narrow div.image-description div.block div.block__content pre {
  background: var(--image-options-area-background) !important;
  border-radius: 6px !important;
  padding: 12px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  code {
    font-family: "Cascadia Code", "Fira Code", "JetBrains Mono", monospace !important;
    font-weight: 600 !important;
    font-variation-settings: "wght" 600 !important;
  }
}

div#container.layout--center-aligned main#content.layout--wide div.block.block__header .flex.flex--wrap.image-metabar.center--layout div.stretched-mobile-links a {
  border-radius: 6px;
}

.stretched-mobile-links:has(a.interaction--upvote.active):has(a.interaction--fave.active) {
  a.interaction--upvote.active {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }

  a.interaction--fave.active {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }
}

/* derpy-activity side */
body[data-theme="dark-blue"] {
  --background-odd-color: rgba(0, 0, 0, 0.25) !important;
  --background-even-color: rgba(0, 0, 0, 0.45) !important;
}

body[data-theme="light-blue"] {
  --background-odd-color: rgba(255, 255, 255, 0.25) !important;
  --background-even-color: rgba(255, 255, 255, 0.45) !important;
}

/* derpy-animations */
body[data-theme="dark-blue"] {
  --media-box-header-bg-hover: rgba(0, 0, 0, 0.45) !important;
  --media-box-bg-hover: rgba(0, 0, 0, 0.05) !important;
}

body[data-theme="light-blue"] {
  --media-box-header-bg-hover: rgba(255, 255, 255, 0.45) !important;
  --media-box-bg-hover: rgba(255, 255, 255, 0.05) !important;
}
.header__filter-form:hover {
  transform: scale(1.02) !important;
}

.media-box__header {
  transition:
    box-shadow 0.1s ease,
    background-color 0.05s ease !important;
}

.media-box:hover .media-box__header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
  background: var(--media-box-header-bg-hover) !important;
}
.media-box:hover {
  background: var(--media-box-bg-hover) !important;
  transition: ease 0.08s !important;
}

#image_options_area .block__header--js-tabbed {
  a:hover {
    border-radius: 6px !important;
    transform: scale(1.1);
    margin-right: 12px !important;
    margin-left: 6px !important;
  }
  a:first-child:hover {
    margin-left: 0px !important;
    margin-right: 12px !important;
  }
}

#js-comment-form .button[type="submit"]:hover {
  transform: scale(1.1) !important;
}

a.block__header--single-item:hover {
  transition: ease 0.1s !important;
}

form#js-comment-form
  div.block
  div
  div.block__tab.communication-edit__tab.selected.js-preview-input-wrapper
  div.field
  textarea#js-comment-form_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input,
.block__tab.communication-edit__tab.selected.js-preview-input-wrapper div.field textarea#post_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input {
  transition:
    border 0.5s ease,
    border-radius 0.2s ease !important;
}

.block.communication,
.communication__options {
  transition: ease 0.2s !important;
}

div#container.layout--center-aligned main#content.layout--wide div.block.block__header .flex.flex--wrap.image-metabar.center--layout div.stretched-mobile-links a {
  transition: all ease 0.2s !important;
}

/* derpy-misc and fixes */
.media-box {
  border: none !important;
}
.block__content:not(.flex):not(.alternating-color) {
  border: none !important;
  border-radius: 3px !important;
}
.block__content {
  border: none !important;
}
.block__header {
  border-radius: 6px !important;
}
.block--fixed {
  border: none !important;
}

body[data-theme="dark-blue"] {
  --image-options-area-background: rgba(0, 0, 0, 0.35) !important;
  --image-options-area-button: rgba(0, 0, 0, 0.25) !important;
  --image-options-area-button-hover: rgba(0, 0, 0, 0.15) !important;
  --image-options-area-button-hover-nt: rgba(0, 0, 0, 0.3) !important;
  --pure-hover: rgba(255, 255, 255, 1) !important;
  --single-item-bg-hover: rgba(0, 0, 0, 0.5) !important;
}

body[data-theme="light-blue"] {
  --image-options-area-background: rgba(255, 255, 255, 0.35) !important;
  --image-options-area-button: rgba(255, 255, 255, 0.25) !important;
  --image-options-area-button-hover: rgba(255, 255, 255, 0.15) !important;
  --image-options-area-button-hover-nt: rgba(255, 255, 255, 0.3) !important;
  --pure-hover: rgba(255, 255, 255, 1) !important;
  --single-item-bg-hover: rgba(255, 255, 255, 0.5) !important;
}

main#content.layout--wide div.block.block__header div.stretched-mobile-links {
  a:has([class]):not(:hover):not(.active) {
    background: transparent !important;
  }
}
:where(main#content.layout--wide div.block.block__header div.stretched-mobile-links a:hover) {
  background: revert;
  color: revert;
}

.column-layout__left > div:nth-child(2) > a:nth-child(1) {
  background: var(--block-header-color) !important;
  border-radius: 6px !important;
}
.break-word,
.no-overflow {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  border-radius: 6px !important;
}
.column-layout__left > div:nth-child(4) > div:nth-child(1) > a:nth-child(1) {
  background: none !important;
}

div#container.layout--center-aligned main#content.layout--narrow div.block div.block__header:not(.block__header--light):not(.page__header):not(.flex) {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
main#content.layout--narrow div.block div.block__header--sub.block__header--light.page__header div.page__info span.js-subscription-target {
  a.js-subscription-link {
    background: transparent !important;
    border-radius: 6px !important;
  }
  a.js-subscription-link:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
    border-radius: 6px !important;
  }
}

:where(.block__header):not(:has(.stretched-mobile-links)) {
  a {
    background: transparent;
    border-radius: 6px;
  }
  a:hover {
    background: var(--block-header-hover-color);
    color: var(--block-header-link-text-hover-color);
    border-radius: 6px;
  }
}

main#content.layout--narrow div.block div.block__header div.flex.flex--wrap.block__header.block__header--light.page__header {
  background: transparent !important;
  border-top: solid rgba(0, 0, 0, 0.3) 2px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.page__pagination {
  a {
    background: transparent !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}
.pagination.hide-mobile-t {
  a {
    background: transparent !important;
  }
  a:hover {
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}

a.interaction--downvote.disabled {
  background: transparent !important;
  opacity: 50% !important;
}

div.media-box div.media-box__header.media-box__header--link-row a.interaction--comments:hover {
  color: var(--pure-hover) !important;
}
a.block__header--single-item:hover {
  background: var(--single-item-bg-hover) !important;
}

main#content.layout--wide form#searchform.js-search-form div.block div.block__header.flex a:not(:hover) {
  background: transparent !important;
}
main#content.layout--wide form#searchform.js-search-form div.block div.block__header.flex div.dropdown.block__header__dropdown-tab div.dropdown__content {
  a {
    background: rgba(0, 0, 0, 0.46) !important;
  }
  a:hover {
    background: rgba(0, 0, 0, 0.64) !important;
  }
}

.communication__body__text {
  background: rgba(0, 0, 0, 0.21) !important;
  border-radius: 6px !important;
  margin-bottom: 6px !important;
  padding-top: 1px !important;
}
hr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.21), rgba(10, 10, 10, 0.11), rgba(0, 0, 0, 0.21)) !important;
}

.block__header--js-tabbed {
  a {
    border: none !important;
    background: none !important;
  }
  a:hover {
    border-radius: 6px !important;
    background: var(--block-header-hover-color) !important;
    color: var(--block-header-link-text-hover-color) !important;
  }
}
.block__tab.communication-edit__tab.selected.js-preview-input-wrapper {
  border: none !important;
}
.block__tab.communication-edit__tab.selected.js-preview-input-wrapper div.field textarea#post_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input {
  border-radius: 6px !important;
}
.block__tab.communication-edit__tab.selected.js-preview-input-wrapper div.field textarea#post_body.input.input--wide.input--text.input--resize-vertical.js-toolbar-input.js-preview-input:focus {
  background: var(--input-color) !important;
  border-radius: 0px !important;
}

.paragraph {
  margin-left: 8px !important;
}
.communication:target {
  border: none !important;
}

.block.communication {
  border-radius: 3px !important;
}
.block.communication:has(a.communication__interaction:hover) {
  background: var(--header-hover-color) !important;
  .communication__options {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25) !important;
  }
}

.tagsinput {
  background: var(--image-options-area-background) !important;
  border-radius: 6px !important;
  .input:focus {
    background: var(--input-color) !important;
  }
}
.quick-tag-table__tab > div {
  border-right: 0 !important;
  border-left: 0 !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px !important;
  margin-right: 6px !important;
}
.block__tab.quick-tag-table__tab {
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}
.js-tagtable .block__header--js-tabbed {
  background: var(--image-options-area-background) !important;
  border-radius: 6px !important;
}
