/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
.app,
.app-root,
body[data-theme="dark"],
body[data-theme="light"],
#pass-sidebar,
#main,
main,
#content,
section,
#__next,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
#app>div,
.btm-nav>a,
body.dark_mode,
body.light_mode,
text-div>textarea {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

.region-header, .region-header-menubar, 
.top-level-navigation, 
.project-navigation, .project-overview-tab,
.wiki-nav-bg,
.widget-host,
.ms-DetailsHeader,
.kanban-board, .kanban-board-column, .kanban-board-column-header-container,
.bolt-table, .bolt-table th, .bolt-card, .bolt-tabbar, .bolt-page, .bolt-textfield, .bolt-textfield-input,
.work-item-form-subheader, .work-item-form-control-wrapper > * > *, .work-item-form-control-wrapper > *, .work-item-form-control-content, .work-item-form-control, .work-item-form-collapsible-section-content > *,
.taskboard-collapsed-row,
.taskboard-expanded-cell,
.feedback-workflow-wrapper, .feedback-columns-container,
.board-actions-menu,
#root,
.content-section,
.fabric-icon {
    background-color: transparent !important;
}

.devops-dashboard-grid .grid-item {
    background-color: rgba(32, 31, 30, 0.5) !important;
}

.enter-new-comment > div > div:not(:focus-within) {
    background-color: transparent !important;
}

/* darkreader */
:root {
    --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
    display: none !important;
}


/* comment corner-radius */
.enter-new-comment > div {
    border-radius: 10px !important;
}