/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
.app,
.app-root,
body[data-theme="dark"],
body[data-theme="light"],
#pass-sidebar,
#main,
main,
#content,
section,
#__next,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
#app>div,
.btm-nav>a,
body.dark_mode,
body.light_mode,
text-div>textarea {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

.region-header, .region-header-menubar, .region-header .search.focus,
.top-level-navigation, 
.project-navigation, .project-overview-tab, .project-overview .processTemplateName,
.wiki-nav-bg, .comment-item, .comment-thread, .markdown-editor-text-input, .markdown-editor-toolbar, .markdown-textarea,
.widget-host,
.ms-DetailsHeader,
.kanban-board, .kanban-board-column, .kanban-board-column-header-container,
.bolt-table, .bolt-table th, .bolt-tabbar, .bolt-master-panel, .bolt-page, .bolt-page-grey, .bolt-page-white, .bolt-textfield, .bolt-textfield-input, .bolt-callout-content, .bolt-card
.work-item-form-subheader, .work-item-form-control-wrapper > * > *, .work-item-form-control-wrapper > *, .work-item-form-control-content, .work-item-form-control, .work-item-form-collapsible-section-content > *,
.taskboard-collapsed-row,
.taskboard-expanded-cell,
.feedback-workflow-wrapper, .feedback-columns-container,
.board-actions-menu,
.content-section,
.fabric-icon, .bolt-textfield > button, .activity-feed-timeline-iteration,
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin,
.repos-changes-viewer .sticky {
    background-color: transparent !important;
}

.activity-feed-timeline-dot {
    background-color: white;
}

.devops-dashboard-grid .grid-item, 
.markdown-component, 
.wit-card, .bolt-card:hover,
.repos-file-editor-background,
.repos-summary-header > div:first-child {
    background-color: rgba(32, 31, 30, 0.5) !important;
}

.enter-new-comment > div > .rooster-wrapper:not(:focus-within) > .rooster-editor,
.work-item-form-control-content > .work-item-form-control > .rooster-wrapper:not(:focus-within) > .rooster-editor {
    background-color: rgba(32, 31, 30, 0.5) !important;
}

.enter-new-comment > div > .rooster-wrapper:not(:focus-within) > .rooster-command-bar,
.work-item-form-control-content > div > .rooster-wrapper:not(:focus-within) > .rooster-command-bar {
    opacity: 0 !important;
}

/* darkreader */
:root {
    --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
    display: none !important;
}


/* PBI comment corner-radius */
.enter-new-comment > .rooster-wrapper {
    border-radius: 10px !important;
}

/* PBI text-field corner-radius */
.work-item-form-control > .rooster-wrapper {
    border-radius: 10px !important;
}