/* azdo-transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
.app,
.app-root,
body[data-theme="dark"],
body[data-theme="light"],
#pass-sidebar,
#main,
main,
#content,
section,
#__next,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
#app>div,
.btm-nav>a,
body.dark_mode,
body.light_mode,
text-div>textarea {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

.region-header, .region-header-menubar, .region-header .search.focus,
.top-level-navigation, 
.project-navigation, .project-overview-tab, .project-overview .processTemplateName,
.wiki-nav-bg, .comment-item, .comment-thread, .markdown-editor-text-input, .markdown-editor-toolbar, .markdown-textarea,
.widget-host,
.ms-DetailsHeader,
.kanban-board, .kanban-board-column, .kanban-board-column-header-container,
.bolt-table, .bolt-table:not(.sticky-table) th, .bolt-tabbar:not(.sticky), .bolt-master-panel, .bolt-page, .bolt-page-grey, .bolt-page-white, .bolt-textfield, .bolt-textfield-input, .bolt-card,
.work-item-form-subheader, .work-item-form-control-wrapper > * > *, .work-item-form-control-wrapper > *, .work-item-form-control-content, .work-item-form-control, .work-item-form-collapsible-section-content > *,
.taskboard-collapsed-row,
.taskboard-expanded-cell,
.feedback-workflow-wrapper, .feedback-columns-container,
.board-actions-menu,
.content-section,
.fabric-icon, .bolt-textfield > button, .activity-feed-timeline-iteration,
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin,
.testplans-hub-refresh-portal-component,
.ci-yaml-editor-header,
.tasks-tab-content .task-tab-left-section {
    background-color: transparent !important;
}

.activity-feed-timeline-dot {
    background-color: white;
}

.taskboard-collapsed-row, 
.taskboard-expanded-cell {
    border: none !important;
}

.project-card > .bolt-card-white,
.devops-dashboard-grid .grid-item, 
.markdown-component, 
.wit-card:not(.taskboard-card), .bolt-card,
.repos-file-editor-background, .repos-commit-editor-background,
.ci-yaml-editor-tab,
.selected,
.repos-summary-header > div:first-child,
.task-group-tasks .task-group-tasks-tab-content .overview-container,
.title_65b34777, .fieldGroup_e7469fb8 {
    background-color: rgba(32, 31, 30, 0.5) !important;
}

.enter-new-comment > div > .rooster-wrapper:not(:focus-within) > .rooster-editor,
.work-item-form-control-content > .work-item-form-control > .rooster-wrapper:not(:focus-within) > .rooster-editor {
    background-color: rgba(32, 31, 30, 0.5) !important;
}

.enter-new-comment > div > .rooster-wrapper:not(:focus-within) > .rooster-command-bar,
.work-item-form-control-content > div > .rooster-wrapper:not(:focus-within) > .rooster-command-bar {
    opacity: 0 !important;
}

/* azdo-No sticky table headers */
.bolt-table.sticky-table th {
    position: static !important;
    background-color: transparent !important;
}

/* azdo-No sticky tabbars */
.bolt-tabbar.sticky {
    position: static !important;
    background-color: transparent !important;
}

/* azdo-No sticky changes viewer */
.repos-changes-viewer .sticky {
    position: static !important;
    background-color: transparent !important;
}

/* azdo-PBI comment corner-radius */
.enter-new-comment > .rooster-wrapper {
    border-radius: 10px !important;
}

/* azdo-PBI text-field corner-radius */
.work-item-form-control > .rooster-wrapper {
    border-radius: 10px !important;
}

/* azdo-darkreader */
:root {
    --darkreader-background-ffffff: transparent !important;
}

/* azdo-No borders */
div[role="separator"] {
    opacity: 0 !important;    
}

div[role="navigation"], 
div[role="menubar"],
.repos-compare-toolbar {
    border-color: transparent !important;
    box-shadow: none !important;
}

