/* Transparency */
body,
.devsite-article-body > section,
.button-primary,
.devsite-search-field,
.android-quick-link,
.android-fully-clickable,
.android-item-dark-background-grey-1000,
.devsite-landing-row-item-description::after,
.devsite-landing-row-item-description::before,
.devsite-landing-row-item::after {
  background: none !important;
}

:root,
body,
devsite-header,
devsite-search,
.devsite-tabs-dropdown-column,
.android-grouped-resources-contained--primary {
  --devsite-background-color: transparent !important;
  --devsite-background-1: transparent !important;
  --devsite-button-primary-background: rgba(255, 255, 255, 0.1) !important;
  --devsite-button-background-hover: rgba(255, 255, 255, 0.1) !important;
  --devsite-dropdown-column-background: transparent !important; 
  --devsite-background-3: transparent !important;
  --devsite-popout-background: transparent !important;
  --devsite-header-color-lower: transparent !important;
  --group-background: rgba(255, 255, 255, 0.1) !important;
  --devsite-body-background: transparent !important;
}

/* Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
  --darkreader-background-f8f9fa: transparent !important;
}

/* Glass Effect */ 
.button-primary,
.devsite-search-field,
.android-quick-link,
.android-fully-clickable,
.android-item-dark-background-grey-1000,
#drawer,
body[codelabs-content-type="paginated"] google-codelab-step pre {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Fix Overlapping Header */
body {
  overflow: hidden !important;
}

devsite-header {
  position: relative !important;
}

#gc-wrapper {
  margin-top: 0 !important; 
}

main {
  height: calc(100dvh - var(--devsite-js-header-height)) !important;
  overflow-y: scroll !important;
}

html:has(
    .devsite-dropdown--open, 
    [devsite-book-nav--open=""], 
    [search-active=""], 
    devsite-header [open=""]
  ) {
  main {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
  
  .devsite-collapsible-section {
    display: none !important;
  }
}

google-codelab[drawer--open] {
  #codelab-title, #main {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}


google-codelab:has(devsite-language-selector[open]) {
  #main {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

/* Misc */
[template="codelab"] .devsite-toc-embedded {
  display: none !important;
}

/* No Footer */
footer,
devsite-footer-promos,
devsite-footer-linkboxes,
devsite-footer-utility,
devsite-content-footer {
  display: none !important;
}
