/* Transparency */
body,
.devsite-article-body > section,
devsite-playlist .devsite-playlist--header,
.button-primary,
.devsite-search-field,
.android-quick-link,
.android-fully-clickable,
.android-item-dark-background-grey-1000,
.devsite-landing-row-item-description::after,
.devsite-landing-row-item-description::before,
.devsite-landing-row-item::after,
devsite-playlist [expanded] {
  background: none !important;
}

:root,
body,
devsite-header,
devsite-search,
.devsite-tabs-dropdown-column,
.android-grouped-resources-contained--primary {
  --devsite-background-color: transparent !important;
  --devsite-background-1: transparent !important;
  --devsite-background-2: transparent !important;
  --devsite-button-primary-background: transparent !important;
  --devsite-button-background-hover: transparent !important;
  --devsite-dropdown-column-background: transparent !important;
  --devsite-background-3: transparent !important;
  --devsite-popout-background: transparent !important;
  --devsite-header-color-lower: transparent !important;
  --group-background: transparent !important;
  --devsite-body-background: transparent !important;
}

/* Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
  --darkreader-background-f8f9fa: transparent !important;
}

/* Glass Effect */
:root,
devsite-tabs .devsite-tabs-dropdown-content,
devsite-language-selector {
  --devsite-button-primary-background: hsla(0, 0%, 100%, 0.08) !important;
  --devsite-button-background-hover: hsla(0, 0%, 100%, 0.08) !important;
  --group-background: hsla(0, 0%, 100%, 0.08) !important;
  --darkreader-background-ffffff1a: hsla(0, 0%, 100%, 0.08) !important;
  --darkreader-background-e8eaed: hsla(0, 0%, 100%, 0.08) !important;
  --devsite-background-1: hsla(0, 0%, 100%, 0.08) !important;
  --darkreader-bg--devsite-book-nav-background: hsla(0, 0%, 100%, 0.08) !important;
}

.button-primary,
.devsite-search-field,
.android-quick-link,
.android-fully-clickable,
.android-item-dark-background-grey-1000,
.devsite-popout-result {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}

@media only screen and (max-width: 768px) {
  google-codelab #drawer {
    background-color: hsla(0, 0%, 100%, 0.08) !important;
  }
}

/* Fix Overlapping Header */
body,
devsite-book-nav {
  overflow-y: hidden !important;
}

devsite-header,
devsite-book-nav .devsite-mobile-header {
  position: relative !important;
}

#gc-wrapper {
  margin-top: 0 !important;
}

main {
  height: calc(100dvh - var(--devsite-js-header-height)) !important;
  overflow-y: scroll !important;
}

.devsite-nav-list {
  height: calc(100dvh - 49px) !important;
  overflow-y: scroll !important;
}

/* Immersive Popup */
html:has(.devsite-dropdown--open, [devsite-book-nav--open=""], [search-active=""], devsite-header [open=""]) {
  main,
  .devsite-collapsible-section {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

body[devsite-book-nav--open] {
  devsite-header {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

google-codelab[drawer--open] {
  #codelab-title,
  #main {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

google-codelab:has(devsite-language-selector[open]) {
  #main {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

/* Misc */
body[type="codelab"] {
  .devsite-toc-embedded {
    display: none !important;
  }
  .devsite-article {
    border: none !important;
  }
}

/* No Footer */
footer,
devsite-footer-promos,
devsite-footer-linkboxes,
devsite-footer-utility,
devsite-content-footer,
.devsite-playlist--footer,
.devsite-quiz-rating {
  display: none !important;
}
