/* mozilla-transparency */
html, body, header, .article-actions-container, .sidebar-filter-container{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* mozilla-no footer */
footer, .article-footer{
  display: none !important;
}

/* mozilla-non sticky */
.sticky-header-container{
  position: relative !important;
}
