/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
#header,
.header,
app,
#app,
.app,
.app-root,
#pass-sidebar,
#main,
main,
[data-testid="brand-of-the-week--feed"],
#content,
section,
#__next,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
#sticky-bar,
body[data-theme="dark"],
body[data-theme="light"],
body.dark_mode,
body.light_mode {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

header {
  border-radius: 1em !important;
}

/* hidden */
[data-testid="top-bar"] {
  display: none !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
  display: none !important;
}
