/* docs-darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
  --darkreader-background-f9fbfd: transparent !important;
}

/* docs-transparency */
html, body, body.docs-grille-gm3, #docs-chrome:not(.docs-hub-chrome), #docs-editor, #docs-editor-container, .kix-appview-editor, .navigation-widget-floating-navigation-button.navigation-widget, .outlines-widget-chaptered .kix-outlines-widget-header-contents,
#docs-header:not(.docs-hub-appbar) .docs-titlebar-buttons{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  --gm3-sys-color-surface-bright: transparent !important;
}

/* docs-borders */
.kix-page-paginated {
    border-radius: 1em !important;
    overflow: hidden !important;
}

/* docs-color fix */
.docs-gm .docs-menubar .goog-control, .docs-appbar-circle-button, .docs-titlebar-badge-container, #docs-parent-collections-container-outer{
    filter: invert(1) !important;
}


.docs-title-input-label-inner {
  visibility: hidden !important;
}


.docs-title-input {
    color: white !important;
}

/* docs-rounded ruler */
#kix-horizontal-ruler {
    border-radius: 10px !important;
}

#kix-vertical-ruler {
    border-radius: 10px !important;
}

/* docs-autohide sidebar */
.left-sidebar-container {
    opacity: 0 !important;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}

.left-sidebar-container:hover {
    opacity: 1 !important;
}

