/* inodc-Transparency */
body,
.sidebar,
.page-layout,
.getting-started,
.search-hits,
.sidebar__categories,
.sidebar__checkboxs,
.sidebar__category-type,
.api-info,
.tabs__item button,
.api-info__client-library__title,
.api-info__client-library__tabs,
.api-info__auth-token__code {
  background-color: transparent !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inodc-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inodc-Translucent Header */
header,
.header__panel,
.open {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inodc-No Footer */
footer {
  display: none !important;
}
