/* transparency */
html,
body,
.dig-Theme-vis2023--bright,
.dig-Theme-vis2023--dark,
._sidebar-background_1cajl_17,
._sc-comment-stream-editor_12v0k_171 ._sc-comment-editor-focus-container_12v0k_199,
._crop-details-light_12mja_8,
._toolbar-holder_4tpnk_4,
._upscale-light_160y1_10,
._adjust-light_1ah3m_36,
._filter-row_7x6z1_20,
.folder-history-event-header.folder-history-event-header--right-rail,
._sidebar_x74gj_1 {
  --dig-color__background__subtle: transparent !important;
  --dig-color__background__base: transparent !important;
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
.dig-Mode--dark,
.dig-Theme--dark {
  --color__standard__background: transparent !important;
}
.dig-5lbgm3o_22-1-0,
.dig-5lbgm3o_22-2-1,
.copy-link-mini-modal__overlay {
  background-color: var(--dig-color__background__raised) !important;
}
._titleBarWrapper_10wwt_31 {
  --dig-color__background__raised: transparent !important;
}
/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
