/* ddg-Transparency */
html,
body,
.site-wrapper,
.search--header,
.related-searches__item,
.set-head__menu > .set-tab:not(.is-active),
.frm__select,
.frm__select select,
.btn,
.cloudsave,
.set-bookmarklet,
.set-reset,
.badge-link,
.frm__input,
.nKc6YUBojXXvgstPGALT::after,
.YejuTyTJeJ_rpBUTUpcl,
.HHJGgzrZRmw9obWw1QS1 > :first-child,
.module,
code,
.module__toggle {
  background-color: transparent !important;
}

:root,
.desktop-homepage_root__Ikj1_,
.minimal-homepage_layout__5B6f9 {
  --theme-bg-home: transparent !important;
  --theme-bg-home-searchbox: transparent !important;
  --theme-bg-cta-cards: transparent !important;
  --theme-searchbox-bg--focused: transparent !important;
  --sds-color-background-01: transparent !important;
  --theme-col-bg-card: transparent !important;
  --theme-col-bg-expandcollapse: transparent !important;
  --theme-col-bg-button-secondary: transparent !important;
  --sds-color-background-container-01: transparent !important;
  --theme-assist-bg-chat-system: transparent !important;
  --sds-color-background-utility: transparent !important;
  --theme-assist-gradient-stop: transparent !important;
  --theme-col-bg-page: transparent !important;
}

/* ddg-Transparent Header */
#header_wrapper {
  position: relative !important;
  background-color: transparent !important;
}

body {
  padding-top: 0 !important;
}

/* ddg-Immersive Popup */
:root {
  --theme-col-bg-page-alt-2: transparent !important;
  --theme-sidemenu-bg: transparent !important;
  --sds-color-background-backdrop: transparent !important;
  --sds-color-background-02: transparent !important;
}

.modal__box,
.modal__header,
.nav-menu--slideout,
.searchbox_input__rnFzM,
.modal--popover--gray {
  background-color: transparent !important;
}

.S344rnw9ISpO7vPLUpsK {
  position: relative !important;
}
.IrVYRCUvYQ98h_9Xp7aN {
  height: 100% !important;
}

body {
  &:has(.modal.is-showing) {
    .site-wrapper {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(.nav-menu--slideout.is-open, header.header_header__w2BOs > [data-testid="sidemenu"], div > div[data-type="modal-overlay"]) {
    #header_wrapper,
    #content_wrapper,
    #web_content_wrapper,
    header > .header_headerContent__LYxh6,
    .desktop-homepage_heroContent__4HUFA,
    .homepage-cta-section_scrollCta__Wmixn,
    #features,
    .minimal-homepage_minimalContentWrap__YnOEL {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has([data-testid="dropdown-options"].eRQYVfFPOfM6ezz54H_V) {
    #react-layout .FMPme3X940xAt4SKPFuw,
    .CWpd1G8aesXbBJgiTnPA,
    .REA4sYRb0Pu217KZv20I {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }

  &:has(#searchbox_homepage > .searchbox_hasQuery__QuxUy[data-expanded], #search_form > div[data-expanded]) {
    .desktop-homepage_heroContent__4HUFA,
    .homepage-cta-section_scrollCta__Wmixn,
    #features,
    #react-duckbar,
    #web_content_wrapper,
    .center_intrinsic__Gt_PZ {
      filter: blur(20px) !important;
      pointer-events: none !important;
    }
  }
}

article[data-testid="result"]:has(.OHr0VX9IuNcv6iakvT6A.IBL7rESCoklmJ_3nDLDz) {
  > div:not(.OHr0VX9IuNcv6iakvT6A.IBL7rESCoklmJ_3nDLDz),
  > .OHr0VX9IuNcv6iakvT6A.IBL7rESCoklmJ_3nDLDz > button {
    filter: blur(20px) !important;
    pointer-events: none !important;
  }
}

.CtkpS3dEx_8mUSlrwMlb,
.sz280YLkLemh3mLtestR,
.fzkQi_OLimocjCZsGKGh {
  backdrop-filter: blur(20px) !important;
}

/* ddg-Glass Effect */
:root,
.cta-cards_card__v9a4R,
.searchbox_combobox__P9Gnn,
.fCp5GIWYTsUwPglO0ME2,
.O9Ipab51rBntYb0pwOQn,
.T265XEcezvjUhK71U8pN {
  --theme-bg-cta-cards: hsla(0, 0%, 100%, 0.08) !important;
  --theme-bg-home-searchbox: hsla(0, 0%, 100%, 0.08) !important;
  --theme-sidemenu-bg: hsla(0, 0%, 100%, 0.08) !important;
  --theme-searchbox-bg--focused: hsla(0, 0%, 100%, 0.08) !important;
  --theme-searchbox-suggestion--hover: hsla(0, 0%, 100%, 0.08) !important;
  --sds-color-background-01: hsla(0, 0%, 100%, 0.08) !important;
  --theme-col-bg-card: hsla(0, 0%, 100%, 0.08) !important;
  --theme-col-bg-button-secondary: hsla(0, 0%, 100%, 0.08) !important;
  --theme-col-bg-page-alt-2: hsla(0, 0%, 100%, 0.08) !important;
  --sds-color-background-container-01: hsla(0, 0%, 100%, 0.08) !important;
  --theme-assist-bg-chat-system: hsla(0, 0%, 100%, 0.08) !important;
  --sds-color-background-utility: hsla(0, 0%, 100%, 0.08) !important;
  --sds-color-background-02: hsla(0, 0%, 100%, 0.08) !important;
  --sds-color-background-container-pre: hsla(0, 0%, 100%, 0.08) !important;
}

.related-searches__item,
.modal__box,
.nav-menu--slideout,
.search--header,
.set-head__menu > .set-tab:not(.is-active),
.frm__select,
.btn,
.cloudsave,
.set-bookmarklet,
.set-reset,
.badge-link,
.frm__input,
.YejuTyTJeJ_rpBUTUpcl,
.HHJGgzrZRmw9obWw1QS1 > :first-child,
.module,
code {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}

.settings-page-wrapper .is-checked .frm__switch__label,
.settings-page-wrapper .btn--primary {
  background-color: #7295f666 !important;
}

/* ddg-Animations */
.site-wrapper,
#header_wrapper,
#content_wrapper,
#react-duckbar,
#web_content_wrapper,
.FMPme3X940xAt4SKPFuw,
article[data-testid="result"] > div,
header > .header_headerContent__LYxh6,
.desktop-homepage_heroContent__4HUFA,
.homepage-cta-section_scrollCta__Wmixn,
#features,
.minimal-homepage_minimalContentWrap__YnOEL,
.center_intrinsic__Gt_PZ {
  transition-property: filter !important;
  transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1) !important;
}

article[data-testid="result"] > .OHr0VX9IuNcv6iakvT6A.IBL7rESCoklmJ_3nDLDz > div {
  transition-property: transform !important;
  transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1) !important;
}

/* Misc */
nav::before,
nav::after,
nav > ul::before,
.js-ask-ai-chat-wrapper > form::after {
  display: none !important;
}

/* ddg-No Learn more */
#features,
.homepage-cta-section_scrollCta__Wmixn {
  display: none !important;
}

/* ddg-No Share Feedback */
.TccjmKV6RraCaCw5L9gd {
  display: none !important;
}

/* ddg-No Footer */
.footer {
  display: none !important;
}
