/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
.app,
.app-root,
#pass-sidebar,
#main,
main,
#content,
section,
[data-testid="page-item-detail"] > div,
#__next,
[data-testid="home-neue-page"] > div,
#navigation-wrapper,
#global-navbar,
.yOYRDk3w,
.head.notfixed,
#app > div > div,
#app > div > div > div,
body[data-theme="dark"],
body[data-theme="light"],
body.dark_mode,
body.light_mode {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
  display: none !important;
}
