/* faceit-transparency */
* {
  background-color: transparent !important;
  border: none !important;
}
[class*="styles__HolderButton"], [class*="styles__Container"], [class*="styles__HolderDiv"], [class*="Card-sc"], [class*="styles__CanvasHolder"], [class*="ListContentPlayer__Holder"] {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}
[class*="modal-"], #radix-:rq: {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
}
