/* feedly-Transparency */
html,
body,
nav,
header,
.FeedlyChrome,
#feedlyFrame,
#headerBarFX,
.TopHeaderBar,
.LeftnavEmptySpace {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* feedly-No thanks */
.TZCVJGAQJfvz8bV8MrrA {
  display: none !important;
}

/* feedly-Article view background */
.home.theme--dark .InlineArticle.InlineArticle--fullArticle {
  border-color: transparent !important;
  background-color: #0005 !important;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px !important;
}
.home.theme--light .InlineArticle.InlineArticle--fullArticle {
  border-color: transparent !important;
  background-color: #fff8 !important;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px !important;
}

/* feedly-Active element */
.home.theme--dark {
  --semanticColorBackgroundStatesLightActive: #0005 !important;
  color-scheme: dark !important;
}
.home.theme--light {
  --semanticColorBackgroundStatesLightActive: #fff8 !important;
  color-scheme: light !important;
}
