/* figma-transparency */
html,
body,
.objects_panel_container--container--jBz9j,
.sidebar--navDefault--pYuzm,
#left-panel-container > div,
[data-testid="layer-row-with-children"],
.x1n5zjp5,
[aria-label="Right sidebar"] > div,
[aria-label="Left sidebar"] > div,
.properties_panel--propertiesPanel--BQ7Lw,
#fullscreen-root .gpu-view-content canvas {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

:root,
[data-preferred-theme="dark"],
[data-preferred-theme="light"] {
  --color-border: transparent !important;
}

/* figma-overlay fix */
.toolbelt--root--jwHGa {
  background-color: var(--color-bg-secondary) !important;
}
