/* transparency */
html, body, ._yb_lrldux, #ybar-inner-wrap, main, .hero-headlines.yf-1m9jpnz, .container-wrapper.yf-x6ev64, .container, .dock-header{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* no footer */
footer{
  display: none !important;
}
