/* gemini-transparecy */
:root .dark-theme,
:root .light-theme {
  --gem-sys-color--surface: #00000000 !important;
  --gem-sys-color--surface-container: #00000000 !important;
}

input-container,
.input-gradient::before,
.toolbox-drawer-container button {
  background: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* gemini-better text input */
input-area-v2.ng-tns-c2580532240-2.ui-improvements-phase-1.ng-star-inserted {
  border: 0px;
  background: var(--bard-color-new-conversation-button);
}

/* gemini-other changes */
.content-container chat-window .chat-container .bottom-container {
  margin-bottom: 30px !important;
}

input-container hallucination-disclaimer,
.disclaimer {
  display: none !important;
}

.input-area-container {
  margin-bottom: 2em !important;
}

.cdk-overlay-pane > div,
mat-card {
  background-color: var(--bard-color-neutral-96) !important;
  border-radius: 1em !important;
}

/* gemini-hover */
.side-nav-menu-button,
.boqOnegoogleliteOgbOneGoogleBar,
top-bar-actions {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;

  &:hover {
    opacity: 1 !important;
  }
}

/* gemini-input */
.input-area-container input-area-v2 {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: light-dark(#fff8, #0005) !important;
}

/* the buttons that are in a div with the input area */
div:has(input-area-v2) button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
