/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
article-page > div,
.app,
.header > *,
.app-root,
#pass-sidebar,
.grid_layout,
#main,
a.CommunityRanking-desktop__Row-sc-133592ca-0:not(:hover),
main,
a.ChartItem-desktop__Row-sc-15970c69-0:not(:hover),
#content,
#top-songs,
section,
#application > div > div,
#__next,
#featured-stories,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
body[data-theme="dark"],
body[data-theme="light"],
body.dark_mode,
body.light_mode {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer,
.page_footer {
  display: none !important;
}
