/* gh-transparency */
html,
header,
body,
nav,
.TableHeader.prc-DataTable-TableHeader-CRPoj,
.diffbar.details-collapse.js-details-container.Details.flex-1.d-flex.flex-items-center.width-full.flex-wrap.gap-2,
.VisibleAndOverflowContainer-module__Box_0--cTFgm button,
.cm-editor.ͼ1.ͼ2.ͼ5x1.ͼ5xi.hide-help.js-codemirror-editor,
.Layout-module__viewer--M_UyD,
#discussions-search-combobox,
.Layout-module__container--ON_wj,
.Box-sc-g0xbh4-0.fFvqfZ,
.Sidebar-module__container--s585U .Sidebar-module__sidebar--sn0TN,
.Sidebar-module__container--s585U:where(.Sidebar-module__pinned--e3Nsi),
.Sidebar-module__container--s585U:where(.Sidebar-module__visible--d8dRm),
.prc-Button-ButtonBase-c50BI.prc-Button-IconButton-szpyj,
.color-bg-default,
.feed-background,
.notranslate,
[aria-labelledby="folders-and-files"] .bgColor-muted,
.dxnHPp,
.kcVpNH,
.discussion-timeline-actions,
.TimelineItem-break,
.gh-header,
.PageLayout-pane,
.bSTcOH,
.gOhIYN,
#blob-edit-side-panel-id,
#repository-container-header,
.empty-cell,
.FleZw,
.MarkdownInput-module__textArea--QjIwG,
.notifications-list-item,
.notifications-list-item.notification-read,
.search-results-page,
.Box-sc-g0xbh4-0 .erfCwp th,
.application-main > div > div,
#memex-root,
[aria-label="Project"],
#memex-project-view-root > div,
[aria-label="Formatting tools"],
.slicer-items-module__SlicerPanel--nSeK0,
.jyoUVC,
.gisthead,
.Box-sc-g0xbh4-0[role="grid"],
[role="row"],
.Header,
.eqCHeb {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

button[role="tab"] {
  &[aria-selected="true"] {
    border-radius: 0.5em !important;
  }
}

.MarkdownEditor-module__viewSwitchBorder--zeiDB {
  display: none !important;
}

/* gh-transparent lists */
.PageLayout-content .Box:not(.Popover-message),
.PageLayout-content .Box-row,
#repo-content-turbo-frame .Box.Box:not(.Popover-message) {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.CommentBox-container {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 0px !important;
  margin: 0px;
  overflow: hidden;
  border: none;
}

/* gh-bordered boxes */
[data-selector="repos-split-pane-content"] {
  section,
  .NWhVB,
  .cm-gutters,
  [data-testid="codemirror-editor"],
  [data-testid="codemirror-editor"] .cm-content,
  .llKfAj {
    background: none !important;
    box-shadow: none !important;
  }
}

#new_comment_field {
  margin: 0px !important;
}

#user-profile-frame .Box,
.mgKNn,
.fGELhp,
.timeline-comment,
.empty-diff-line,
.Diff-module__diffHeaderWrapper--rsdD4::before {
  background: none !important;
  box-shadow: none !important;
}

.feed-item-content,
.color-bg-subtle,
.ajax-pagination-btn,
action-graph .color-bg-inset,
[data-testid="comment-header"] .Box-sc-g0xbh4-0,
.copilotPreview__suggestionButton:not(:hover) {
  background-color: transparent !important;
  background: none !important;
  box-shadow: none !important;
}

/* gh-no footer */
footer:has(h2),
div.px-2:nth-child(3) {
  opacity: 0 !important;
}

/* gh-hover */
.feed-left-sidebar,
.feed-right-sidebar {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* gh-border mods */
table,
.eIKYQa,
div.border-bottom,
.tabnav,
.discussion-sidebar-item,
.Box-sc-g0xbh4-0 .crArEc,
.Box-sc-g0xbh4-0 .dJnomT,
.d-flex.flex-column.border.rounded-2.mb-3.pl-1,
.tabnav-tab,
.TabNav__TabNavLink-sc-pwdi4r-3,
.TableHeader.prc-DataTable-TableHeader-CRPoj,
td {
  border: none !important;
}

.discussion-sidebar-item {
  padding-top: 0.5em !important;
}

.ChatMessage-module__content--MYneF {
  padding: 0.7em !important;
}

.dJnomT,
.jPdcfu,
.gOHzTT,
.eBevHz,
.Box-header,
#repos-sticky-header > div,
.jbBkdO,
.file-header,
.Box-sc-g0xbh4-0.crMLA-D.react-issue-comment,
.TabNav-item {
  border-radius: 0.5em !important;
}

/* gh-overlay fixes */
modal-dialog .search-suggestions,
details-dialog.Box,
.Table.prc-DataTable-Table-qYfrL,
.Box-sc-g0xbh4-0.gOHzTT.js-notification-shelf-offset-top.color-bg-default,
.Popover-message {
  background-color: var(--bgColor-inset) !important;
  border-radius: 1em !important;
}

/* gh-glass effect */
.prc-Button-ButtonBase-c50BI,
.MergeabilityIcon-module__mergeabilityIcon--GOu7M,
.range-editor,
.TableHead.prc-DataTable-TableHead-eOrJU,
.Table.prc-DataTable-Table-qYfrL,
.tabnav-tab.selected,
.TabNav__TabNavLink-sc-pwdi4r-3.selected,
.timeline-comment-header,
.Metadata-module__container--tL6Q3,
.CodeBlock-module__header--RMUQr,
.CodeBlock-module__codeContainer--dAEis,
.ChatMessage-module__actions--Jllb6,
.ContentPreviewTab-module__tabContent--zNIXv:hover,
.cm-gutters,
.cm-editor.ͼ1.ͼ2.ͼ5nc.ͼ5fa.hide-help.js-codemirror-editor,
.FilePreview-module__toolbar--toYCM,
.cm-content,
.FileBlock-module__container--zWu5c,
.ChatMessage-module__content--MYneF,
.Layout-module__previewPane--vF1ZO.Layout-module__active--nDCtU,
.ChatInput-module__container--NFzCy,
#settings-frame .Box,
.form-select,
.edit_user button,
.Box-sc-g0xbh4-0 .gxwXUv,
.Box-sc-g0xbh4-0.fXxPgR,
#file-tree-filter-field,
.highlight pre,
.ListItem-module__listItem--kHali:hover,
.Box-sc-g0xbh4-0 .gpHFJV,
.Box-row.Box-row--focus-gray.p-0.mt-0.js-navigation-item.js-issue-row.navigation-focus,
.d-flex.flex-column.border.rounded-2.mb-3.pl-1,
.form-group .form-control,
.Box-sc-g0xbh4-0 .erfCwp,
.Box-sc-g0xbh4-0 .eHDvEW,
.Box-sc-g0xbh4-0 .ldkMIO,
.Box-sc-g0xbh4-0 .eWEbRA:hover,
.react-directory-row:hover,
.tabnav-tab[aria-selected="true"],
.snippet-clipboard-content.notranslate.position-relative.overflow-auto,
.Shared-module__CommentBox--x3rre,
.Box-sc-g0xbh4-0 .crArEc,
.copilotPreview,
.MarkdownEditor-module__inputWrapper--MtV0d,
.TextInput-wrapper,
.AppHeader-search-whenRegular,
turbo-frame > article > div.feed-item-content,
#feed-filter-menu summary,
.pagehead-actions button,
.pagehead-actions details summary,
.tabnav-tab:hover,
#fork-button,
.BtnGroup button,
.BtnGroup details summary,
input[value="Follow"],
.Button--secondary,
#dashboard-repos-filter-left,
.react-directory-remove-file-icon button,
#branch-picker-repos-header-ref-selector,
.FilterInputWrapper-module__Box_1--vewob,
.FilterInputWrapper-module__Box_1--vewob button,
.SearchBarActions-module__buttons--N7M2V a,
#\:rbo\:-list-view-container,
table[aria-labelledby="folders-and-files"],
#\:r1a\:-list-view-container,
[aria-label="Issues"][data-issue-and-pr-hovercards-enabled],
#js-issues-search,
.QueryBuilder [data-target="query-builder.styledInput"],
.Box-body,
a[aria-label="Add file"],
button[aria-label="Search this repository"],
[data-testid="issue-body"],
#\:rc\:-list-view-container,
.container:has(#repos-sticky-header),
.UnderlineNav-item:hover,
.TabNav__TabNavLink-sc-pwdi4r-3:hover,
.notifications-list,
.notifications-list-item.notification-unread,
.Box-header,
.Box-sc-g0xbh4-0.iwUbcA,
#type-options summary,
#language-options summary,
#sort-options summary,
.Box-sc-g0xbh4-0.NWhVB,
[data-selector="repos-split-pane-content"] .Box-sc-g0xbh4-0.NWhVB,
.react-issue-comment,
.MergeBox-module__mergePartialContainer--N4i3Z,
.MarkdownEditor-module__previewWrapper--UHhTL,
.FormControl-input,
.js-previewable-comment-form,
.btn.btn-block.js-profile-editable-edit-button,
.btn.js-quick-submit-alternative,
#your-repos-filter {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset !important;
  background-color: light-dark(#fff8, #0005) !important;
  border-radius: 0.5em !important;
}

.avatar-upload div.position-absolute {
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset !important;
}

.TabNav__TabNavTabList-sc-pwdi4r-1.DvNYj,
.tabnav-tabs.d-flex.overflow-auto,
.fLXEGX {
  gap: 8px !important;
}

.CommentBox-container,
.CommentBox-comment {
  background-color: light-dark(#fff8, #0005) !important;
  border-radius: 0 0 10px 10px !important;
  border: none !important;
  margin: 0px !important;
}

#new_comment_field,
.CommentBox-comment {
  box-shadow: none !important;
}

.tabnav.CommentBox-header {
  border: none !important;
  background-color: light-dark(#fff8, #0005) !important;
}

.timeline-comment-group .timeline-comment {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset !important;
  background-color: light-dark(#fff8, #0005) !important;
  border-radius: 0.5em !important;
}

.row-module__timelineBodyRowContainer--ml7YX {
  padding: 0.5em !important;
}

/* no tab text */
.UnderlineNav-item {
  span:not([class="Counter"]) {
    opacity: 0 !important;
    width: 0em !important;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.2) !important;
  }
  &:hover {
    span:not([class="Counter"]) {
      width: 6em !important;
      opacity: 1 !important;
    }
  }
}

.UnderlineNav-item:hover .Counter {
  margin-left: var(--control-medium-gap) !important;
}

.AppHeader-localBar .Counter {
  margin-left: 0px !important;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.2) !important;
}

/* repo sidebar hover */
.Layout-sidebar {
  .BorderGrid-cell {
    .mt-2,
    ul,
    div:not(.hide-sm.hide-md, .flex-items-center, .my-3, .f6) {
      height: 0 !important;
      opacity: 0 !important;
      margin: 0 !important;
      transition: all 0.5s ease-out !important;
    }
  }
  &:hover {
    .BorderGrid-cell {
      .mt-2,
      ul,
      div:not(.hide-sm.hide-md, .flex-items-center, .my-3, .f6) {
        height: 100% !important;
        opacity: 1 !important;
        margin: 0.5em !important;
      }
    }
  }
}

/* immersive search */
.application-main {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}

body:has(header > .search-expanded) .application-main {
  filter: blur(20px) !important;
  scale: 1.05 !important;
}

/* Hide Separator in toolbar */
.AppHeader .AppHeader-globalBar .AppHeader-actions::before {
  display: none !important;
}

/* better vertical timeline icon bg */
.TimelineItem-badge,
.prc-Timeline-TimelineBadge-BqMiN {
  background-color: light-dark(#fff8, #00000054) !important;
  border: solid var(--borderWidth-thin) #3d444d !important;
}
