/* google-transparecy */
html,
body,
div,
section,
article,
header,
footer,
main,
aside,
nav,
span,
form,
input,
button,
table,
tbody,
tr,
td {
  background: transparent !important;
}

.aajZCb {
  background-color: var(--uv-styles-color-surface) !important;
}

div.sfbg {
  background-color: var(--darkreader-border-ffffff) !important;
}

:root {
  --darkreader-background-ffffff: transparent !important;
}

body {
  background-color: #00000000 !important;
}

.in7vHe.FR7ZSc.FR7ZSc .niO4u,
div.RNNXgb,
.aajZCb {
  background-color: var(--EpFNW) !important;
}

/* google-shadows and borders */
.minidiv .sfbg,
.minidiv .sfbg,
.JryvJ .qS9jbf,
.sHEJob,
.Hwkikb.WY0eLb {
  box-shadow: none !important;
  border: none !important;
}

#sfooter,
[role="contentinfo"] {
  display: none !important;
}

.w6VYqd {
  background-color: light-dark(#fff, #000) !important;
}

/* google-hover */
.rfiSsc {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;

  &:hover {
    opacity: 1 !important;
  }
}

/* google-full overlay fix */
#liveresults-sports-immersive__match-fullpage {
  background-color: var(--EpFNW) !important;
}

#liveresults-sports-immersive__match-fullpage  .nGzje{
  background-color: var(--uv-styles-color-footer) !important;
  border-radius: 2em !important;
}

/* google-maps */
html:has([title="Google Maps"]){
.xoLGzf, .tXNTee, .hdeJwf, .DAdBuc, .E9Z7uf .m6QErb.iS1Ot, .ztgaDb, .WzvKIe{
  background: light-dark(#fff, #000) !important;
}
}
