/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
.app-sidebar-content__wrap,
.app-filters,
.i8-header__content,
.app-icons-menu {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

.main-hero-section__bg {
  display: none !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
