/* inoid-Transparency */
.profile-header,
.box,
.bio textarea,
.legacy {
  background-color: transparent !important;
  background: none !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inoid-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inoid-Translucent Header */
nav {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inoid-Translucent Overlays */
.app-sub-menu,
.popup-container__box {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inoid-No Footer */
#footer {
  display: none !important;
}
