/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#main-content > div,
.home-hero-container,
.overflow-hidden.black-dark-gray-gradient {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
