/* keep-styles */
body,
header,
.PvRhvb-bN97Pc {
  background-color: transparent !important;
  border: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
