/* kick-transparency */
:root, .bg-surface-lower, .bg-black{
  --tw-bg-opacity: 0 !important;
  --background-color: transparent !important;
}

/* kick-nav shadow */
nav{
  box-shadow: none !important;
}

/* kick-overlay bg */
.z-dropdown{
  background-color: var(--tw-shadow-color, #000) !important;
}
