/* meet-transparency */
html,
body,
nav,
header,
[jsname="Jup3Tc"],
.c8mVDd,
c-wiz,
.Sdwpn.P9KVBf,
.P9KVBf .dkjMxf,
.R3Gmyc,
.WUFI9b,
[aria-label="navigational drawer"] {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

@media (prefers-color-scheme: dark) {
  [aria-label="Side panel"],
  [role="option"][aria-selected="false"],
  .ix4A2e,
  [role="banner"],
  .pI48Vc,
  .PQ1s4c {
    p,
    i,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    input {
      color: #fff !important;
    }
  }
}

/* meet-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* meet-no footer */
footer,
.xDIlIc,
.sxAeHb,
[jsname="cDPtp"] {
  display: none !important;
}

/* meet-hidden */
h1.r3f7Nb,
.MZWksc:has(span),
.sIR20d {
  display: none !important;
}

/* meet-meet card */
.mtr0Je {
  border-radius: 1em !important;
  margin-bottom: 1em !important;
}

div.uW2Fw-IE5DDf {
  display: none;
}

/* meet-no permission prompt */
div.uW2Fw-Sx9Kwc.uW2Fw-Sx9Kwc-OWXEXe-n2to0e.UcM4Rc.YqDQLb.tTaNEd.uW2Fw-Sx9Kwc-OWXEXe-FNFY6c {
  display: none;
}
