/* fbm-transparecy */
:root {
  --web-wash: #00000000 !important;
  --messenger-card-background: #00000000 !important;
  --mwp-header-background-color: #00000000 !important;
  --mwp-message-row-background: #00000000 !important;
}

.xcrg951 {
  background-color: #00000000 !important;
  box-shadow: none !important;
}
