/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#__next > div,
#pageScroll + .ease-out-quart,
#pageScroll + .ease-out-quart + .ease-out-quart {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

.cursor-zoom-out.h-full {
  background-color: light-dark(#fff6, #0006) !important;
  border-radius: 2em !important;
}

.cursor-zoom-out.h-full + div {
  box-shadow: black 0 0 1000px 80px !important;
}
