/* miruro-transparency */
html, body, .eGxCRW, .iDHeGb, .daqunT, .hIxxKF, .ijmopf, .cqJwte, .eakZjw, .gfuLhl, .kdqxUl, .fwmihZ, .iiVqpN{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* miruro-no footer */
footer{
  display: none !important;
}
