/* monkey-transparecy */
:root {
  --bg-color: #00000000 !important;
}

/* monkey-hide footer */
footer {
  display: none !important;
}

/* monkey-hide header */
header {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* monkey-fix text color */
#words .word letter {
  color: var(--ss-font-placeholder-color) !important;
}
