/* ytm-transparent bg */
:root {
  --ts-body-color: #00000000 !important;
   transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

body {
  background-color: transparent !important;
   transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

/* ytm-hover navbar and titlebar */
.ytmusic-guide-renderer,
ytmusic-nav-bar {
  opacity: 0.01 !important;
  transition: opacity 0.5s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

ytmusic-app[is-bauhaus-sidenav-enabled] #guide-wrapper.ytmusic-app{
  background-color: transparent !important;
  border: none !important;
}

/* ytm-hide elements */
#nav-bar-divider,
#background,
div.av.style-scope.ytmusic-player-page,
ytmusic-chip-cloud-renderer.style-scope.ytmusic-section-list-renderer,
tp-yt-paper-toast.toast-button.style-scope.yt-notification-action-renderer.paper-toast-open {
  display: none !important;
}

/* ytm-player sidebar */
#side-panel{
  width: 40em !important;
  height: 80vh !important;
  padding: 0 2em !important;
  right: -30em !important;
  top: 10vh !important;
  opacity: 0 !important;
  position: absolute !important;
  transition: all 0.3s ease-in-out !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 2em 0 0 2em !important;
  background-color: #0005;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;

    tp-yt-paper-tabs{
      transition: height 0.3s ease-in-out !important;
      height: 0 !important;
    }

  &:hover{
    right: 0 !important;
    opacity: 1 !important;

    tp-yt-paper-tabs{
      height: 4em !important;
    }
  }

  &:has(ytmusic-tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]){
    right: 0 !important;
    opacity: 1 !important;
  }
}

/* ytm-centered player */
#main-panel {
  position: absolute !important;
  height: 70vh !important;
  max-width: 70vw !important;
  aspect-ratio: 1 !important;
  top: 50vh !important;
  left: 50vw !important;
  transform: translate(-50% , -50%) !important;
}

/* ytm-navbar and titlebar bg removed */
#nav-bar-background,
#mini-guide-background {
  border: none !important;
  height: 0 !important;
  width: 0 !important;
}

#guide,
ytmusic-nav-bar,
.background-gradient {
  background-color: var(--ts-body-color) !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
}

#player-page {
  padding: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

ytmusic-player-bar,
#player-bar-background {
  margin: 1vw !important;
  width: 98vw !important;
  border-radius: 1em !important;
  overflow: hidden !important;
  transition: all 0.5s ease-in-out !important;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#layout:not([player-ui-state="PLAYER_PAGE_OPEN"]) #player-bar-background{
  background-color: #000 !important;
}

/* ytm-no mini video */
 ytmusic-player#player[player-ui-state="MINIPLAYER"]{
   display: none !important;
}


/* ytm-immersive player */
#content{
  transition: opacity 0.5s ease-in-out !important;
}


#player, #song-image #thumbnail{
  border-radius: 2em !important;
  overflow: hidden !important;
  box-shadow: #0006 0 0 50px !important;
}

#player-page{
    background-color: transparent !important;
    background: none !important;
  }



ytmusic-player-bar, #player-bar-background{
    background-color: #0002  !important;
  }

  ytmusic-app-layout > #content{
    height: calc(100vh - 190px) !important;
    overflow: scroll !important;
  }

/* ytm-centered player */
 #left-controls{
    position: absolute !important;
    left: 49vw !important;
    bottom:15px !important;
    transform: translateX(-50%) !important;
    width: fit-content !important;
  }

  .time-info{
position: absolute !important;
bottom: -10px !important;
width: 100% !important;
text-align: center !important;
padding: 0 !important;
margin: 0 !important;
  }
  
  .middle-controls{
    position: absolute !important;
    left: 1vw !important;
    bottom:15px !important;
  }

  .middle-controls{
    order: 0 !important;
  }

  #left-controls{
    order: 1 !important;
  }
