/* transparency */
body,
html {
  background: transparent !important;
}
.profiles-gate-container {
  background: transparent !important;
}
.default-ltr-yhcdbf-cache-1rt8xw3,
.nf-modal .nf-modal-background,
.player-loading,
.player-loading .gradient,
.nf-screen-wrapper {
  background: transparent !important;
}

/* transparent billboard fade $ makes the featured show/game fade into the background. */
.billboard-row .billboard .hero-image-wrapper .hero-vignette,
.billboard-row .billboard,
.billboard-row,
.default-ltr-iqcdef-cache-1v829xk::after,
.default-ltr-iqcdef-cache-1gluhd1::before {
  background: transparent !important;
}
.billboard-row .billboard .hero-image-wrapper .hero-vignette,
.billboard-row .billboard .hero-image-wrapper .trailer-vignette,
.billboard-row .billboard .hero-image-wrapper .static-image,
.billboard-row .billboard video,
.default-ltr-iqcdef-cache-1x8ghsg,
#\38 2675013 > video:nth-child(1) {
  mask-image: linear-gradient(180deg, #000000ff 0, #000000ff 80%, #00000055 88%, #00000000 98%, #00000000) !important;
}
/* remove player black bars */
.default-ltr-iqcdef-cache-18tyyic {
  background: transparent !important;
}
