/* transparency */
html, body, header, section, .blockTit{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer{
  display: none !important;
}

/* borders */
.imageTextItem li, .hover-img img, .addAttentionItem li{
  border-radius: 1em !important;
  overflow: hidden !important;
}

/* no ads */
[data-name="advertisement"]{
  display: none !important;
}
