/* ycom-transparency */
:root {
  --darkreader-background-ffffff: transparent !important;
}
table {
  background-color: transparent !important;
}
.commtext, .c00 a:link, a:link {
  color: whitesmoke;
}
