/* nc-transparency */
html, body, 
.app-navigation, /* @ sidebar in files */
.content-list__search, .text-menubar, .text-menubar--ready, 
.app-content.no-snapper, /* @ body of tasks app*/
.header /* @ header of tasks app*/ {
  background: none !important;
  --color-main-background: transparent !important;

  /* @ sidebar for music app */
  --color-main-background-blur: transparent !important;

  /* @ border color for calendar, maybe change to be more selective */
  --color-border: rgba(125, 125, 125, 0.1) !important;
}

/* @ popup menus, right-click, contacts, notifications, settings */
.v-popper__inner, /* @ memories app */
.modal-container,
.account-menu__list,
.notification-container,
.contactsmenu__menu,
.input-field__label,
.memories-top-bar {
  background: rgba(23, 23, 23, 0.9) !important;
  background-color: rgba(23, 23, 23, 0.9) !important;
  border-radius: 12px !important;
}

/* @ popup menu carret */
.header-menu__carret,
.v-popper__arrow-container {
  border-bottom-color: rgba(23, 23, 23, 0.9) !important;
}

/* @ files table border */
.files-list__table {
  --color-border: transparent !important;
}

/* @ darker area of calender,  */
.fc-day,
.frontmatter /* @ markdown properties header in notes*/ {
  --color-main-background: rgba(23, 23, 23, 0.5) !important;
  --color-background-dark: rgba(23, 23, 23, 0.15) !important;

  /* @ background for calendar yearly view days outside of month */
  --fc-neutral-bg-color: transparent !important;
}

/* @ calendar menu toggle button */
.content.app-calendar div.app-navigation div.app-navigation-toggle-wrapper {
  background: rgba(23, 23, 23, 0.5) !important ;
  border-radius: 10px !important;
}

/* @ tasks transparency */
.task-list {
  --color-main-background: rgba(23, 23, 23, 0.2) !important;
  /* background: rgba(23,23,23, 0.4) !important; */
}

/* @ memories app sidebar solid color */
aside#app-sidebar-vue.app-sidebar.app-sidebar--full {
  --color-main-background: rgb(35, 37, 45);
}

/* @ music app header */
.sm2-bar-ui {
  --color-main-background: rgba(23, 23, 23, 0.5) !important;
  --color-background-dark: rgba(23, 23, 23, 0.15) !important;
  border-radius: 12px !important;
}

/* @ audio-player app open album */
.songcontainer {
  background-color: rgba(32, 32, 32, 1) !important;
  color: rgb(255, 255, 255) !important;
}

.songcontainer > div > h2 /* @ audio-player app open album title */ {
  color: rgb(255, 255, 255) !important;
}
/* @ audio-player volume slider */
#playerVolume.sm2-button-bd.sm2-inline-button.volume-slider {
  background: rgba(23, 23, 23, 0.2) !important;
  border-radius: 100px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* @ audio-player volume slider knob */
#playerVolume.sm2-button-bd.sm2-inline-button.volume-slider::-moz-range-thumb {
  background: rgba(32, 32, 32, 1) !important;
}

/* @ music app top bar and volume slider */
#controls.started {
  background: rgba(32, 32, 32, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 1em !important;
  box-shadow: #00000040 0 0 20px !important;
}

/* @ add outline to artist and album text */
#controls.started div.song-info.clickable span.title,
span.artist {
  text-shadow:
    1px 1px 2px rgba(23, 23, 23, 0.5),
    -1px 1px 2px rgba(23, 23, 23, 0.5),
    -1px -1px 2px rgba(23, 23, 23, 0.5),
    1px -1px 2px rgba(23, 23, 23, 0.5);
}

/* @ music app: add background to popups */
.popovermenu {
  background-color: rgba(32, 32, 32, 0.8) !important;
}

/* @ music app: adjust volume slider style */
#controls .volume-control input[type="range"] {
  background: rgba(255, 255, 255, 0.5) !important;

  /* @ move the slider around a bit */
  height: 7px !important;
  width: 47px !important;
  left: 31px !important;
  top: 28px !important;
  border-radius: 4px;
}

/* @ music app album and artist highlight background */
.album-area.highlight,
.artist-area.highlight {
  background-color: rgba(23, 23, 23, 0.2) !important;
  border-radius: 20px !important;
}
