/* ninite-transparency */
body,
html,
div {
  background: transparent !important;
  color: #fff !important;
  border: none !important;
}

/* ninite-no footer & links */
.footer {
  display: none !important;
}
div.col-sm-12 {
  display: none !important;
}

/* ninite-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
