/* nunflix-transparency */
html, body, nav, header, .video-player-page{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* nunflix-darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* nunflix-no footer */
footer{
  display: none !important;
}
