/* transparency */
body,
#header,
#sr-header-area,
.side,
.spacer,
.link.odd,
[role="main"],
.res-nightmode .entry.res-selected,
.res-nightmode .link {
  background-color: transparent !important;
  border: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparency !important;
}

/* misc */
#redesign-beta-optin-btn {
  display: none !important;
}

.listing-chooser {
  border-radius: 1em !important;
}

/* hover */
.listing-chooser,
#sr-header-area {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* tabs */
.tabmenu {
  li a {
    border-radius: 0.5em !important;
    background-color: transparent !important;
  }

  li.selected a {
    background-color: white !important;
  }
}

/* res night mode */
.res-nightmode {
  &.entry.res-selected,
  .res-nightmode .entry.res-selected .md-container {
    background-color: transparent !important;
  }

  /* .thing is required for extra specificity to override the RES rules */
  &.res-commentBoxes .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment.thing {
    background-color: transparent !important;
  }
  &.res-commentBoxes .comment.thing,
  &.res-commentBoxes .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment.thing,
  &.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment.thing {
    background-color: transparent !important;
  }
}

/* no footer */
.footer-parent {
  display: none !important;
}

/* no thanks */
.premium-banner-outer {
  display: none !important;
}
