/* perplexity-transparency */
body,#__next > main:nth-child(1) > div:nth-child(1),  .erp-tab\:rounded-none, div.sticky:nth-child(2), .pb-\[144px\] > div:nth-child(1), .pb-32 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1), .mt-xs > div:nth-child(1) > div:nth-child(1), .dark\:bg-offsetDark{
  background-color: transparent !important;
  border: none !important;
}

/* perplexity-hover */
.grid-cols-6{
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover{
    opacity: 1 !important;
  }
}

/* perplexity-hidden */
div.pb-md:nth-child(3){
  display: none !important;
}
