/* photos-transparecy */
:root{
  --darkreader-bg--gm3-sys-color-background: transparent !important;
  --darkreader-background-ffffff: transparent !important;
  --darkreader-bg--gm3-sys-color-surface-container: transparent !important;
  --gm3-sys-color-background: transparent !important;
  --gm3-sys-color-surface-container: transparent !important;
}

/* photos-roundness */
.RY3tic{
  border-radius: 0.5em !important;
}
