/* pixiv-forced transparency */
html{
  background-color: transparent !important;
}

:root{
    --charcoal-background1: transparent !important;
    --charcoal-background2-hover: transparent !important;
    --charcoal-surface1: transparent !important;
    
}


.charcoal-token,.iqkFre,.iUhfll,.bGUtlw,.gTliJP,.hGOogv,.dWlHet,.cxXhWC,.cuTZeZ{
    --charcoal-background1: transparent !important;
    --charcoal-background2-hover: transparent !important;
    background: transparent !important;
}

/* pixiv-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
