/* inoph-Transparency */
body,
.container-fluid,
.row div,
.header,
.list-group-item,
._card_2grii_1,
._InputBox__wrapper_khprl_11,
.menu-list,
.customArrow_button__DqoaW {
  background-color: transparent !important;
  background: none !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inoph-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inoph-Translucent Header */
nav,
.menu-container {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inoph-Translucent Overlays */
.customSearch_container__pCEX7 {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inoph-No Footer */
#footer {
  display: none !important;
}
