/* transparency */
html,
body,
nav,
header,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#__next,
#root-client > div,
#root-client > div > div > div,
#root-client > div > div > div > div,
.MuiBox-root.css-vfjv7r,
#root-client > div > div > section > div,
.MuiDrawer-root > div,
#pphr-view-page-container,
#gc-root-container,
.MuiBox-root.css-1w3vdug,
section > .MuiBox-root,
section > .MuiContainer-root,
[data-testid="tltr-landing-page"] {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
  display: none !important;
}
