/* quora-transparecy */
body,
.q-color-mode--dark .qu-borderColor--raised {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* quora-other changes */
.qu-borderRadius--small {
  border-radius: 1em !important;
}

div.q-box.qu-py--small.qu-color--gray_light {
  display: none !important;
}
