/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.Footer_content__WG3KU,
.header,
header::before,
app,
.page_heroBackground__MQqbj,
#app,
footer,
.page_heroBackground__MQqbj::after,
.sidebar-wrap,
section,
.main,
#__next,
.sidebar-wrapper,
.sidebar-footer-wrapper,
.sidebar-footer-container::before,
#root,
.min-h-screen.bg-white,
.app,
.AppContainer,
.app-root,
#wrapper,
body[data-theme="dark"],
body[data-theme="light"],
#pass-sidebar,
.side-bar,
#main,
.sidebar,
.global-content__content,
main,
.header-top,
#content,
#cu-identity,
section,
.l-root,
#__next,
.landing-hero,
#navigation-wrapper,
#global-navbar,
.layout__content-wrapper,
.head.notfixed,
.main-container,
#app > div,
.btm-nav > a,
.oc-content--main,
body.dark_mode,
body.light_mode,
text-div > textarea {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

canvas {
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%) !important;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%) !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-size: cover !important;
  mask-size: cover !important;
}

.APISection_fadeX__MSwzf,
.APISection_fadeY__osgmL {
  display: none !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer,
mfe-footer-pharos-footer,
.footer,
#footer,
.Footer_content__WG3KU {
  display: none !important;
}
