/* rw-transparency $ Make all background surfaces transparent */

html,
body,
aside,
main,
header,
nav,
section,
article,
div,
button,
a,
input,
span,
li {
  background-color: transparent !important;
}

/* rw-readable $ Keep popover panels and menus readable */

div[class*="_appearancePanel_"],
div[class*="_appearancePanel_"] *,
div[class*="_dropdownContent_"],
div[class*="_dropdownContent_"] *,
div[class*="_content_1j6f0"],
div[class*="_content_1j6f0"] *,
div.popover,
div.popover *,
div[class*="_commandsContainer_"],
div[class*="_commandsContainer_"] *,
div[class*="_paletteActionRow_"],
div[class*="_paletteActionRow_"] *,
div[class*="_palette_29opr"] > *,
div[class*="_palette_29opr"] input,
div[class*="_sortMenu_"],
div[class*="_sortMenu_"] *,
div[class*="_filterMenu_"],
div[class*="_filterMenu_"] * {
  background-color: light-dark(#eee, #1a1f25) !important;
}

/* rw-borders $ Remove borders, shadows, and dividers */

div[class*="_divider_"],
div[class*="_trashDivider_"],
div.document-header-separator,
span[class*="_bulletSeparator_"] {
  border-color: transparent !important;
}

*:focus-visible {
  outline: 2px solid light-dark(#0003, #fff3) !important;
}

/* rw-hover $ Hide sidebar toggle until hovered */

[aria-label="Toggle sidebar"] {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}
