/* roblox-transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar header,
#header,
.header,
app,
#app,
.app,
.alert,
.content {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* roblox-navigation transparency */
.rbx-left-col {
  background-color: transparent !important;
}

/* roblox-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* roblox-transparent footer */
footer,
#footer,
.footer {
  background-color: transparent !important;
}
