/* inosch-Transparency */
body,
._Header-inner_1iljv_16,
._Content-footer_q55wc_84,
._Header-logo_link_1iljv_43,
._common-card_1k27k_1,
.swiper-slide a,
.tabs__blur,
._Header-hamburgher_1iljv_101,
._Header-menusheet_1iljv_151 {
  background-color: transparent !important;
  background: none !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inosch-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inosch-Translucent Header */
nav,
._Viewport_q55wc_96,
._Header-menusheet_1iljv_151[data-show="true"],
._Header-menusheet_root_second_1iljv_190 {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inosch-Translucent Overlays */
.app-sub-menu,
.popup-container__box {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inosch-No Footer */
#footer {
  display: none !important;
}
