/* sspai-transparency */
html,
body,
nav,
header,
#app,
.loadingDiv,
#app::after,
.ss__custom__header__wrapper[data-v-1cf92778]::after {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* sspai-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* sspai-no footer */
footer {
  display: none !important;
}
