/* inost-Transparency */
html,
body,
.site-navigation-wrapper,
.site-navigation,
.navmenu-item,
.productitem,
.highlights-banner__container,
.highlights-banner__block,
.ino-collection-list,
.quantity-selector__input,
.quantity-selector__button,
.options-selection__input-select,
.navmenu.navmenu-depth-3,
.productgrid--utils,
.form-field-input {
  background-color: transparent !important;
  background: none !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* inost-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* inost-Translucent Header */
.announcement-bar,
.ino-header,
.navmenu-meganav,
.navmenu.navmenu-depth-2.navmenu-submenu,
.ino-collection-anchor-menu-wrap {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inost-Translucent Overlays */
.customSearch_container__pCEX7 {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* inost-Misc */
.site-announcement,
.ino-collection-anchor-menu-wrap {
  opacity: 0;
}
.header-expanded .site-announcement,
.ino-collection-anchor-menu-wrap.is-active {
  opacity: 1;
}

/* inost-No Footer */
#shopify-section-arduino-footer {
  display: none !important;
}
