/* transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar,
header,
#header,
.header,
app,
#app,
.app,
#loading-screen,
#pre-core-title-bar,
[data-cid="calling-roster"] > div,
[data-cid="call-screen-wrapper"],
[data-tid="ubar-toolbar-wrapper"],
.app-root,
[role="region"] > div,
[data-tid="calling-screen-background"],
#pass-sidebar,
[data-tid="entity-header"],
#main,
[data-tid="slot-measurer"] > div,
main,
[data-tid="title-bar"],
#content,
[data-tid="slot-measurer"],
section,
[role="region"],
[data-acc-id="announcing-region-message-list"] > div > div > div,
#__next,
#navigation-wrapper,
#global-navbar,
.head.notfixed,
body[data-theme="dark"],
body[data-theme="light"],
body.dark_mode,
body.light_mode {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
