/* Global Styles */
*:not(.css-dxjz5z-Root-bodyText-circle-Root-Root-EnhancedAvatar) {
  background-color: transparent !important;
  box-shadow: none !important;
  transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
    border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

/* Create Goal  */
.css-q219va-Container-raised20-block-blockRounded-EnhancedDialog {
  background-color: rgb(31, 15, 41);
  box-shadow: 0px 2px 6px var(--theme-elevations-shadow_20);
  border-radius: var(--theme-radii-regular);
  position: relative;
  width: 448px;
  padding: var(--theme-spacings-4x);
}
.css-8z2umx-StyledButton-button-headingBase-h5Subtitle-fonts-setColor-sizes-paddings-focus {
  background-color: var(--theme-colors-accent-hover);
  border-color: transparent;
  color: var(--theme-colors-ui_000-hover);
}

/* Current page indicator */
[aria-current='page'] .css-ttexsm-StyledSectionItem-p1Body {
  background: rgb(64, 50, 72) !important;
}
/* Current date indicator */
.css-1617awf-Root-Root .e1m21rws4 {
  font-weight: 500;
  color: rgb(252, 127, 239);
  background-color: rgb(61, 31, 58);
}

/* Header styles */
div.rbc-time-header {
  background: rgb(64, 50, 72) !important;
  border-radius: 0px 0px 15px 15px;
}
div.e1777ai84.css-3p14j7-Grid-Grid.e1777ai83 {
  border-radius: 15px 15px 0 0;
}
div.css-1a08mon-TimerFormContent.e9rmxga1 {
  background: rgba(45, 45, 45, 0.9) !important;
  backdrop-filter: blur(20px) !important;
}
div.e1iz715u1.e7lj72v4.css-1mxia9b-PopdownRoot-raised50-floating-PopdownStyled-PopdownCss-EnhancedTimeEntryAutocompletePopdown.e1q6sy3w3 {
  margin-left: calc(30vw - 150px);
}

/* Calendar Events */
div.rbc-event-content {
  background: rgba(24, 16, 31, 0.46) !important;
}

/* Dark Backgrounds for Containers */
div.css-1yt6waa-Popup-raised50-floating-TimeEntryContextPopup.e170p7c22,
div.e1iz715u1.e7lj72v4.css-1mxia9b-PopdownRoot-raised50-floating-PopdownStyled-PopdownCss-EnhancedTimeEntryAutocompletePopdown.e1q6sy3w3,
div.css-tb7iby-Popup-raised50-floating.e170p7c22,
div.no-grayscale.css-1wrx1hq-SidePanel.exbqsju21,
.css-d6u4rg-Items-raised50-floating,
div.e1ca48sm4.css-ex1j7i-Container-raised20-block-blockRounded-StyledDialog.e83ceiu9,
div.e1777ai84.css-3p14j7-Grid-Grid.e1777ai83,
div.css-1a08mon-TimerFormContent.e1v405v61,
div.css-1vpgx7o-Content.e1kfxc442,
div.css-ahf7z5-PopdownRoot-raised50-floating.e1q6sy3w3,
div.css-1d2bfqm-Content-raised50-floating.e3049c00,
.DayPicker_transitionContainer,
div.css-3rrz6s-PopdownRoot-raised50-floating-popdownStyles-emptyStyles-ContextMenu.e1q6sy3w3,
.css-7zh651-Content {
  background: #140d1a !important;
}

/* Pulse Animation */
.css-1ph40e9-Pulse {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transform-origin: center center 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--theme-colors-accent-regular);
}

/* Calendar Styles */
.css-88kx1e-EnhancedCalendar-label-button-label-raised20-raised20-bodyText-tooltipText-rbcSlotSelectionCss-bodyText-rbcEventCss-weekViewCss-weekViewCss-rbcCalendarCss-CalendarContainer
  .rbc-current-time-indicator {
  background-color: rgb(209, 114, 199);
  height: 3px;
  box-shadow: 0px 2px 6px var(--theme-elevations-shadow_20);
  border-radius: 2px;
  z-index: 5;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer {
  display: none !important;
}
