/* twitch-transparency */

html,
body,
nav,
header,
.chat-room,
.channel-root__right-column,
.Layout-sc-1xcs6mc-0.cCSAoN,
.Layout-sc-1xcs6mc-0.LJevC,
.Layout-sc-1xcs6mc-0.gDDWxy,
.Layout-sc-1xcs6mc-0.gyMdFQ,
.Layout-sc-1xcs6mc-0.bXENUW,
.Layout-sc-1xcs6mc-0.jmERFg,
.Layout-sc-1xcs6mc-0.dRMwTz,
.Layout-sc-1xcs6mc-0.cMeiZH,
.Layout-sc-1xcs6mc-0.gGBpkX,
.Layout-sc-1xcs6mc-0.iSIERH,
.Layout-sc-1xcs6mc-0.dewBQX,
.Layout-sc-1xcs6mc-0.eOHCrm,
.Layout-sc-1xcs6mc-0.kjWTWh,
.ScAvatar-sc-144b42z-0.dLsNfm.tw-avatar,
.ScAvatar-sc-144b42z-0.dLsNfm,
.Layout-sc-1xcs6mc-0.bXENUW.chat-room__content,
.Layout-sc-1xcs6mc-0.gQAGKi.bits-leaderboard-expanded-top-three-entry,
.Layout-sc-1xcs6mc-0.JxIvc.marquee-animation__original,
.Layout-sc-1xcs6mc-0.jmERFg.stream-chat-header,
.channel-root__right-column.channel-root__right-column--expanded,
.bits-leaderboard-expanded-top-three-entry,
.marquee-animation__original,
.stream-chat-header,
.chat-room__content,
.stream-chat,
.chat-shell,
.chat-shell__expanded,
.ixiIRM > div:nth-child(1),
.stream-display-ad__container_squeezeback,
.video-player,
.channel-root,
.top-nav__menu,
.video-player__container,
.channel-root__player > div > div,
.channel-root,
.side-nav,
.channel-info-content,
.channel-root__info:not(:has(#offline-channel-main-content)) {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
#offline-channel-main-content {
  background-color: var(--color-background-body) !important;
}
main {
  border-radius: 1em !important;
}

body:has(.persistent-player--theatre) {
  .channel-root,
  nav,
  [aria-label="Expand Side Nav"] {
    display: none !important;
  }
}

.highlight,
.chat-input-tray__open,
.Layout-sc-1xcs6mc-0.kelbCv {
  background-color: var(--color-background-input-checkbox-checked-background) !important;
}

/* twitch-no footer */
footer {
  display: none !important;
}

.channel-root__info {
  position: relative;
}
