/* twitch-transparency */
:root {
  --color-background-body: transparent !important;
  --color-background-base: transparent !important;
  --shadow-elevation-1: none !important;
  --color-background-alt: transparent !important;
}

html, body, nav, header, .chat-room, .channel-root__right-column, .ixiIRM > div:nth-child(1), .stream-display-ad__container_squeezeback, .video-player,
.video-player__container,
.channel-root{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

body:has(.persistent-player--theatre){
    .channel-root, nav{
    display: none !important;
  }
}

.highlight, .chat-input-tray__open{
  background-color: var(--color-background-input-checkbox-checked-background) !important;
}


/* twitch-no footer */
footer{
  display: none !important;
}
