/* twtr-transparency */
html,
body,
[data-testid="primaryColumn"],
.css-175oi2r:has([role="progressbar"]),
.r-kemksi:has([aria-live="polite"]),
[aria-label="Home timeline"] .r-5zmot,
[aria-label="Grok"] .r-5zmot,
article,
div.r-1hycxz:nth-child(1),
div.r-1ifxtd0:nth-child(1),
div.r-kemksi:nth-child(4),
div.r-kemksi:nth-child(5),
[data-testid="cellInnerDiv"] > div,
[aria-label="Home timeline"] > div > div > div > div > div > div,
[aria-label="Section navigation"] [role="tablist"] > div,
[aria-label="Section navigation"] > div,
[aria-label="Section navigation"] > div > div > div > div,
[aria-label="Section details"] [role="tablist"] > div,
[aria-label="Section details"] > div,
[aria-label="Section details"] > div > div > div > div {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

[data-testid="Dropdown"],
.css-175oi2r[role="dialog"],
div.r-ifefl9:nth-child(2) {
  background-color: #fff !important;

  @media (prefers-color-scheme: dark) {
    background-color: #000 !important;
  }
}

/* twtr-layout fixes */
.r-1gn8etr {
  position: sticky !important;
  top: -50px !important;
}

/* twtr-hover */
div.css-175oi2r.r-vacyoi.r-ttdzmv,
div.css-175oi2r.r-1pi2tsx.r-1wtj0ep.r-1rnoaur.r-o96wvk.r-is05cd {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* twtr-no thanks */
[aria-label="Subscribe to Premium"],
[aria-label="Footer"] {
  display: none !important;
}
