/* transparency */
body,
html,
#root,
header,
header div,
main .rm,
[data-testid="active-order-sticky-eta"],
.jv > div:nth-child(1) > div:nth-child(1),
div.s7:nth-child(1),
.ae.bh > div,
.st,
.jo {
  background-color: #00000000 !important;
  background: none !important;
}

#main-content > div:nth-child(1),
.b0 {
  border-radius: 1em !important;
  background-color: light-dark(#fff, #222) !important;
}

/* map transparency */
iframe,
canvas {
  opacity: 0.6 !important;
  border-radius: 1em !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
