/* wa-transparency */
html, body, .x1iek97a {
  background-color: transparent !important;
}

.color-refresh, .x1280gxy {
  --WDS-surface-default: transparent !important;
  --WDS-background-wash-inset: transparent !important;
  --WDS-surface-emphasized: transparent !important;
  --WDS-systems-chat-background-wallpaper: transparent !important; 
  --compose-input-background: var(--WDS-surface-highlight) !important;
  --background-default-hover: var(--WDS-surface-highlight) !important;
  --background-lightest-hover: var(--WDS-surface-highlight) !important;
  --reactions-panel-background-color: transparent !important;
  --reactions-panel-search-background-color: var(--WDS-surface-highlight) !important;
}

@media screen and (max-width: 1300px) {
  .three ._ajx_ {
    display: none !important;
  }
  ._aiwn:has(.overlay) ._aig- {
    display: none !important;
  }
}

._aigs:has(.xevlxbw > span > div) .x18pi947 {
  opacity: 0 !important;
}

/* wa-immersive popups */
.color-refresh {
  --WDS-surface-elevated-default: var(--WDS-surface-highlight) !important;
}

#app:has(._ak4w, [role="dialog"]) ._aigs {
  filter: blur(20px) !important;
  pointer-events: none !important;
}
