/* wa-Transparency */
html, body, .x1iek97a {
  background-color: transparent !important;
  background-image: none !important;
}

:root {
  --splashscreen-startup-background: transparent !important;
  --splashscreen-startup-background-rgb: transparent !important;
}

.color-refresh, .x1280gxy, .x1l0ey4t, .x1h3rtpe {
  --WDS-surface-default: transparent !important;
  --WDS-background-wash-inset: transparent !important;
  --WDS-surface-emphasized: transparent !important;
  --WDS-surface-elevated-emphasized: transparent !important;
  --WDS-systems-chat-background-wallpaper: transparent !important; 
  --compose-input-background: var(--WDS-surface-highlight) !important;
  --background-default-hover: var(--WDS-surface-highlight) !important;
  --background-lightest-hover: var(--WDS-surface-highlight) !important;
  --reactions-panel-background-color: transparent !important;
  --reactions-panel-search-background-color: var(--WDS-surface-highlight) !important;
  --poll-modal-footer-background-color: transparent !important;
}

@media screen and (max-width: 1300px) {
  .three ._ajx_ {
    display: none !important;
  }
  ._aiwn:has(.overlay) ._aig- {
    display: none !important;
  }
}

._aigs:has(.xevlxbw > span > div) .x18pi947 {
  opacity: 0 !important;
}

/* wa-Immersive Popup */
.color-refresh, .x1honnu5 {
  --WDS-surface-elevated-default: var(--WDS-surface-highlight) !important;
  --WDS-background-dimmer: transparent !important;
}

#app:has(._ak4w, [role="dialog"]:not(._aig- [role="dialog"])) {
  ._aigs {
    filter: blur(20px) !important;
  }
  [type="button"],
  [data-navbar-item="true"],
  ._ak72:not([data-animate-modal-backdrop="true"] ._ak72),
  [role="button"]:not(._ak4w [role="button"], [role="dialog"] [role="button"]){
    pointer-events: none !important;
  }
}
