/* wa-Transparency */
html,
body,
.x1iek97a {
  background: none !important;
}

:root {
  --splashscreen-startup-background: transparent !important;
  --splashscreen-startup-background-rgb: transparent !important;
}

.color-refresh,
.x1280gxy,
.x1l0ey4t,
.x1h3rtpe {
  --WDS-surface-default: transparent !important;
  --WDS-background-wash-inset: transparent !important;
  --WDS-surface-emphasized: transparent !important;
  --WDS-surface-elevated-emphasized: transparent !important;
  --WDS-systems-chat-background-wallpaper: transparent !important;
  --compose-input-background: var(--WDS-surface-highlight) !important;
  --background-default-hover: var(--WDS-surface-highlight) !important;
  --background-lightest-hover: var(--WDS-surface-highlight) !important;
  --reactions-panel-background-color: transparent !important;
  --reactions-panel-search-background-color: var(--WDS-surface-highlight) !important;
  --poll-modal-footer-background-color: transparent !important;
  --WDS-systems-bubble-surface-system: #24262666 !important;
  --WDS-systems-bubble-surface-incoming: #24262666 !important;
  --WDS-systems-bubble-surface-outgoing: #144d3766 !important;
}

@media screen and (max-width: 1300px) {
  .three ._ajx_ {
    display: none !important;
  }
  ._aiwn:has(.overlay) ._aig- {
    display: none !important;
  }
}

._aigs:has(.xevlxbw > span > div) .x18pi947 {
  opacity: 0 !important;
}

/* wa-Immersive Popup */
.x1akjpcp {
  background: none !important;
}

.color-refresh,
.x1honnu5 {
  --WDS-surface-elevated-default: var(--WDS-surface-highlight) !important;
  --WDS-background-dimmer: transparent !important;
}

#app:has(._ak4w, [role="dialog"]:not(._aig- [role="dialog"]), .overlay) {
  ._aigs {
    filter: blur(20px) !important;
  }
  [type="button"],
  [data-navbar-item="true"],
  ._ak72:not([role="dialog"] ._ak72),
  [role="button"]:not(._ak4w [role="button"], [role="dialog"] [role="button"], .overlay [role="button"]) {
    pointer-events: none !important;
  }
}
