/* wa-Transparency */
html,
body,
.x1iek97a,
.xsm26vf {
  background: none !important;
}

:root {
  --splashscreen-startup-background: transparent !important;
  --splashscreen-startup-background-rgb: transparent !important;
}

.color-refresh,
.x1280gxy,
.x1l0ey4t,
.x1h3rtpe {
  --WDS-surface-default: transparent !important;
  --WDS-background-wash-inset: transparent !important;
  --WDS-surface-emphasized: transparent !important;
  --WDS-surface-elevated-emphasized: transparent !important;
  --WDS-systems-chat-background-wallpaper: transparent !important;
  --compose-input-background: var(--WDS-surface-highlight) !important;
  --background-default-hover: var(--WDS-surface-highlight) !important;
  --background-lightest-hover: var(--WDS-surface-highlight) !important;
  --reactions-panel-background-color: transparent !important;
  --reactions-panel-search-background-color: var(--WDS-surface-highlight) !important;
  --poll-modal-footer-background-color: transparent !important;
  --WDS-systems-bubble-surface-system: #24262666 !important;
  --WDS-systems-bubble-surface-incoming: #24262666 !important;
  --WDS-systems-bubble-surface-outgoing: #144d3766 !important;
  --bot-suggestion-background-color: #18222966 !important;
  --rich-text-panel-background: var(--WDS-surface-highlight) !important;
  --panel-input-background: var(--WDS-surface-highlight) !important;
  --chevron-button-background: var(--WDS-surface-highlight) !important;
}

@media screen and (max-width: 1300px) {
  .three ._ajx_ {
    display: none !important;
  }
  ._aiwn:has(.overlay) ._aig- {
    display: none !important;
  }
}

._aigs:has(._aigw > div > span > div) .x18pi947 {
  opacity: 0 !important;
}

/* wa-Immersive Popup */
.x1akjpcp,
.xbyyjgo,
.x42x0ya,
.x1bmpntp,
._ahyo {
  background: none !important;
}

.color-refresh,
.x1honnu5 {
  --WDS-surface-elevated-default: var(--WDS-surface-highlight) !important;
  --WDS-background-dimmer: transparent !important;
}

[data-animate-status-viewer] .x1h2kqdt,
[data-animate-modal-popup] {
  background-color: var(--WDS-surface-highlight) !important;
}

._aiwn > div:has(._ak4w, > span:nth-child(3):not(:empty), > span:nth-child(4):not(:empty)) {
  ._aigs {
    filter: blur(20px) !important;
  }
  ._aigs [type="button"]:not(._aiwn > span > div [type="button"], [data-animate-modal-backdrop] [type="button"], [role="application"] [type="button"]),
  [data-navbar-item="true"],
  ._ak72:not([data-animate-modal-backdrop] ._ak72),
  ._aigs [role="button"]:not(._ak4w [role="button"], [data-animate-modal-backdrop] [role="button"], .overlay [role="button"], ._aiwn > span > div [role="button"]),
  ._amk6 {
    pointer-events: none !important;
  }
}

._aiwn > div {
  &:has(> span:nth-child(3):not(:empty), > span:nth-child(8):not(:empty)):not(:has(._ajx_, [data-animate-status-viewer])) {
    ._aigs,
    > span:nth-child(4) > div {
      filter: blur(20px) !important;
    }
  }

  &:has(.x1h2kqdt) {
    [data-animate-status-viewer] > span > div > div > div > div > div:not(:last-child) {
      filter: blur(20px) !important;
    }
  }

  &:has([data-animate-modal-backdrop], [role="application"]) {
    [data-animate-status-viewer] {
      filter: blur(20px) !important;
    }
  }
}

._aigs:has(> div:nth-child(3) > div:nth-child(2) > div > span > div) {
  #main > div,
  #main > footer {
    opacity: 0 !important;
  }
}
