/* ino-Transparency */
html,
body,
.page-content,
.download-row,
.success-stories-card,
.solution-card,
.download-column,
.donate-banner,
._Viewport_q55wc_96,
._Header-inner_lfa7m_16,
._Header-hamburgher_lfa7m_101,
._Header-logo_link_lfa7m_43,
._Header-menusheet_lfa7m_155,
._Header-overlay_lfa7m_137,
._common-card_1k27k_1,
.product-list__item,
._Content-footer_q55wc_84,
.about-section__top-card,
.about-section__bottom-card {
  background-color: transparent !important;
  background: none !important;
}
:root {
  --backdrop-bg: rgba(255, 255, 255, 0.75);
  --backdrop-filter: blur(16px) saturate(180%) !important;
}

/* ino-Darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}
[data-darkreader-scheme="dark"] {
  --backdrop-bg: rgba(0, 0, 0, 0.75) !important;
}

/* ino-No Hero Banner */
.primary-hero-banner,
.homepage-overlay {
  display: none !important;
}

/* ino-Translucent Header */
nav,
._Header-overlay_lfa7m_137[data-show="true"] {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* ino-Translucent Overlays */
.homepage-overlay {
  backdrop-filter: var(--backdrop-filter) !important;
  background-color: var(--backdrop-bg) !important;
}

/* ino-No Footer */
#footer,
._Footer_mv59m_1 {
  display: none !important;
}
