/* x-transparency */
html, body, [data-testid="primaryColumn"], .css-175oi2r:has([role="progressbar"]), .r-kemksi:has([aria-live="polite"]), [aria-label="Home timeline"] .r-5zmot, [aria-label="Grok"] .r-5zmot{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

[data-testid="Dropdown"], .css-175oi2r[role="dialog"], div.r-ifefl9:nth-child(2) {
  background-color: #000 !important;
}

/* x-layout fixes */
.r-1gn8etr {
  position: sticky !important;
  top: -50px !important;
}

/* x-hover */
div.css-175oi2r.r-vacyoi.r-ttdzmv,
div.css-175oi2r.r-1pi2tsx.r-1wtj0ep.r-1rnoaur.r-o96wvk.r-is05cd {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}
