/* yt-Transparency */
html,
html[dark],
#full-bleed-container,
.html5-video-player {
  background-color: transparent !important;
}
:root,
.ytd-masthead {
  --yt-spec-base-background: transparent !important;
  --yt-spec-menu-background: hsla(0, 0%, 100%, 0.08) !important;
  --yt-spec-brand-background-solid: hsla(0, 0%, 100%, 0.08) !important;
  --yt-spec-brand-background-primary: transparent !important;
}
.ytSearchboxComponentInputBox {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}
#frosted-glass {
  display: none;
}

/* yt-Fix Overlapping Header */
body {
  overflow-y: hidden !important;
}
#masthead-container {
  position: relative !important;
}
#page-manager {
  margin-top: 0 !important;
}
.ytd-page-manager[page-subtype=home] #contents {
  overflow-y: scroll !important;
  height: calc(100dvh - 56px) !important;
}
.ytd-page-manager:not([page-subtype="home"]) {
  overflow-y: scroll !important;
  height: calc(100dvh - 56px) !important;
}
#chips-wrapper {
  position: relative !important;
  top: 0 !important;
}

/* yt-Immersive Popup */
tp-yt-app-drawer #header {
  opacity: 0 !important;
}
.tp-yt-app-drawer.visible,
tp-yt-iron-overlay-backdrop {
  background-color: transparent !important;
}
.ytSearchboxComponentSuggestionsContainer,
.yt-contextual-sheet-layout-wiz,
.ytp-settings-menu {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}
tp-yt-app-drawer #contentContainer:not([persistent=""]) {
  background-color: hsla(0, 0%, 100%, 0.08) !important;
}
body:has(
    tp-yt-iron-dropdown:not([aria-hidden="true"]),
    tp-yt-iron-dropdown[aria-disabled="true"],
    .ytSearchboxComponentInputBoxHasFocus,
    tp-yt-paper-dialog[aria-hidden="false"],/*tp-yt-paper-dialog:not([aria-hidden])*/
    .tp-yt-app-drawer.visible, tp-yt-paper-dialog:not([aria-hidden]) > yt-report-form-modal-renderer
  ) #page-manager {
  filter: blur(20px) !important;
  pointer-events: none !important;
  transition: filter 0.2s ease-in-out !important;
}
body:has(ytd-voice-search-dialog-renderer #microphone[state]) #content {
  filter: blur(20px) !important;
  pointer-events: none !important;
  transition: filter 0.2s ease-in-out !important;
}
.ytp-settings-menu {
  backdrop-filter: blur(20px) !important;
}
