/* yt-Transparency */
html[dark], html, #container.ytd-searchbox, ytd-app, #page-header-container, #page-header, #tabs-container, #tabs-inner-container, #chips-wrapper  {
  background-color: #00000000 !important;
}

#tabs-divider{
  display: none !important;
}

/* yt-No left side guide */
ytd-mini-guide-renderer {
  display: none !important;
}
#page-manager {
  margin-left: 0 !important;
}

/* yt-Transparent header */
#masthead-container {
  #background.ytd-masthead {
    background-color: #00000000 !important;
  }
}

.ytSearchboxComponentSearchButton {
  background-color: var(--yt-spec-text-primary-inverse) !important;
  color: var(--yt-live-chat-text-input-field-placeholder-color) !important;
}

/* yt-auto hide header */
body #masthead-container:not(:has(.ytSearchboxComponentInputBoxHasFocus)){
  top: -40px !important;
  opacity: 0 !important;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
  &:hover{
    opacity: 1 !important;
    top: 0 !important;
  }
}

:root{
  --ytd-toolbar-height: 0px !important;
}

/* yt-no voice search */
#voice-search-button{
  display: none !important;
}

#chips-wrapper{
  top: 0 !important
}

/* yt-Hide filter chips */
.ytd-two-column-browse-results-renderer #header {
  display: none !important;
}

/* yt-Compact feed */
ytd-rich-item-renderer{
  margin-bottom: 15px !important;
  [rendered-from-rich-grid] {
  --ytd-rich-item-row-usable-width: calc(
      100% - var(--ytd-rich-grid-gutter-margin) * 1
    ) !important;
  }

  #metadata.ytd-video-meta-block {
    flex-direction: row !important;

    #metadata-line span:nth-child(3) {
      height: 1em !important;
      margin-left: 1em !important;
    }
  }
}

ytd-rich-grid-media {
  border-radius: 1.2em;
    height: 100%!important;

  ytd-menu-renderer #button {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out !important;
  }
  :hover ytd-menu-renderer #button {
    opacity: 1 !important;
  }
}

/* yt-circular channels */
.yt-spec-avatar-shape__image {
    border-radius: 1em !important;
  }

/* yt-thumbnail hover */
#inline-preview-player{
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  scale: 1 !important;
}

#video-preview-container:has(#inline-preview-player){
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border-radius: 1.2em !important;
  overflow: hidden !important;
  scale: 1 !important;
}

#video-preview-container:has(#inline-preview-player):hover{
  scale: 1.25 !important;
  box-shadow: black 0px 0px 50px;
}
ytd-app #content{
  opacity: 1 !important;
  transition: opacity 0.4s ease-in-out 0.3s !important;
}
ytd-app:has(#video-preview-container:hover) #content{
  opacity: 0.5 !important;
}

/* yt-no feed distractions */
#contents ytd-rich-section-renderer{
display: none !important;
}

#inline-preview-player{
  border-radius: 1em !important;
  overflow: hidden !important;
}

/* yt-Transparent video background */
.html5-main-video,
.html5-video-container,
#movie_player,
#container,
#ytd-player,
#player-container,
#player-full-bleed-container,
#full-bleed-container {
  background-color: #00000000 !important;
}

/* yt-no ambient mode */
#cinematics-container{
  display: none !important;
}

/* yt-clean player page */
ytd-merch-shelf-renderer, .annotation{
  display: none !important;
}

/* yt-Theatre: zen view */
[theater=""] #full-bleed-container{
  height: 100vh !important;
  max-height: 100vh !important;
  top: 0 !important;
}

#masthead-container, #columns #secondary{
  transition: all 0.3s ease-in-out 0.5s !important;
}

/* yt-zen view comments */
[theater=""] #columns #secondary{
  scale: 0 !important;
  display: none !important;
}

ytd-comments{
  transition: all 0.5s ease-in-out !important;
}

[theater=""] ytd-comments{
  position: fixed !important;
  z-index: 1000 !important;
  top: 3vh !important;
  left: -35em !important;
  width: 40em !important;
  height: 90vh !important;
  overflow-y: scroll !important;
  opacity: 0 !important;

  background-color: var(--yt-live-chat-shimmer-background-color) !important;
  padding: 0 3em !important;
  border-radius: 0 2em 2em 0 !important;

  &:hover{
    opacity: 1 !important;
    left: 0 !important;
  }

}

/* yt-zen comments solid */
[theater=""] ytd-comments{
  background-color: var(--yt-spec-text-primary-inverse) !important;
}

/* yt-zen comments blur */
[theater=""] ytd-comments{
  background-color: var(--yt-live-chat-shimmer-background-color) !important;
  backdrop-filter: blur(20px) !important;
}

/* yt-transparent overlay chat */
#chat {
  position: absolute !important;
  height: 800px !important;
  top: 50vh !important;
  transform: translateY(-50%) !important;
}

yt-live-chat-renderer {
  background: none !important;
  background-color: transparent !important;
}

/* yt-Misc */
#content #dismissible:hover {
  ytd-video-meta-block {
    opacity: 1 !important;
  }
}

#panels-full-bleed-container {
  width: 0 !important;
}

/* yt-Addon : timed comments pop-up */
.__youtube-timestamps__stamp {
  scale: 3 !important;
  border-radius: 1.5px !important;
  transition: all 0.3s ease-in-out !important;
  z-index: 10000000000000 !important;

  &:hover {
    scale: 5 !important;
  }
}

.__youtube-timestamps__preview-wrapper {
  scale: 1.2 !important;
  transform: translateX(16%) !important;
  .__youtube-timestamps__preview {
    border-radius: 1em !important;
    backdrop-filter: blur(20px) !important;
    background-color: #000000bb !important;
    border: solid 2px gray !important;

    .__youtube-timestamps__preview__avatar {
      height: 2.5em !important;
      width: 2.5em !important;
      border-radius: 0.5em !important;
    }

    .__youtube-timestamps__preview__text-stamp {
      background-color: #ffaaaa !important;
      padding: 0.1em 0.3em !important;
      border-radius: 0.5em !important;
      color: #000 !important;
    }

    .__youtube-timestamps__preview__name,
    .__youtube-timestamps__preview__text {
      color: #ffffff !important;
    }
  }
}

.comments-container {
  div.wrapper {
    background-color: transparent !important;
  }

  div.clickable-comment,
  div.replies {
    background-color: #00000077 !important;
    backdrop-filter: blur(20px) !important;
    padding: 1em !important;
    margin-bottom: 1em !important;
    border-radius: 1em !important;
    max-width: 40em !important;
    transition: all 0.4s ease-in-out !important;

    .likes-and-replies {
      opacity: 0.3 !important;
    }
  }
}
