/* yr-transparency */
html,
body,
nav,
#nav,
.nav,
navbar,
.navbar,
#navbar header,
#header,
.header,
app,
#app,
.app,
.app-root,
#pass-sidebar,
#main,
#content,
section,
#__next {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  transition:
    background-color 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}

/* yr-darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* yr-glass-effect  */
.weather-location-list-item,
.button,
.now-hero__slide,
.daily-weather-list-item,
.forecast-page__tab-content,
.card,
.coast-forecast-daily-item,
.fluid-table {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px !important;
  background-color: light-dark(#fff8, #1118) !important;
  border-radius: 0.2em !important;
  border: none !important;
  transition: transform 0.2s ease-in-out !important;
}

/* yr-no-glass */

.button-group__content,
.daily-weather-list__headers,
.coast-forecast-daily-list__headers,
.statistics-page__toolbar,
.forecast-page__tab-content,
.forecast-page__tab-button,
.forecast-page__tab-panel,
.forecast-page__tab-content .forecast-details,
.forecast-page__tab-content .forecast-graph,
.modal-dialog__title,
.modal-dialog__content,
.modal-dialog__header,
.modal-dialog__header-content,
.modal-dialog__navigation,
.modal-dialog__actions,
.modal-dialog__dialog .button,
.modal-dialog__close-button,
.hourly-weather-dialog,
.hourly-weather-dialog__table,
.hourly-weather-dialog__celestial_events_container,
.hourly-weather-dialog__celestial_events,
.celestial-events,
.celestial-events__event,
.card__title,
.card__header,
.card__content,
.card__action,
.fluid-table,
.fluid-table__scroll-container,
.fluid-table__table,
.fluid-table__caption,
.fluid-table__cell,
.fluid-table__cell-content,
.fluid-table__row,
.fluid-table__header,
.fluid-table__scroll-shadow-left,
.fluid-table__scroll-shadow-right,
.hourly-weather-table,
.hourly-weather-table__wind-description,
.hourly-weather-table__time,
.hourly-weather-table__weather,
.statistics-graphs__graph,
.statistics-graphs__chart,
.statistics-graphs__graph-container,
.overlay-panel__title,
.overlay-panel__content,
.overlay-panel__children,
.graph-shell-new,
.graph-shell-new__y-axis-background {
  background-color: transparent !important;
  background: none !important;
  box-shadow: none !important;
}

/* yr-hover-effects */
.weather-location-list-item:hover,
.button:hover,
.daily-weather-list-item:hover {
  background-color: light-dark(#fffa, #222a) !important;
}

/* yr-solid-gray */
.hover-panel,
.search__suggestions,
.modal-dialog__dialog,
.overlay-panel__children {
  background-color: light-dark(#e0e0e0, #1e1e1e) !important;
  border-radius: 0.2em !important;
  border: none !important;
  box-shadow:
    0px 6px 16px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.05) !important;
  padding: 0.7rem !important;
  transition: all 0.3s ease-in-out !important;
}

/* yr-search-background */
.search__input {
  background-color: #e0e0e0 !important;
  border-radius: 0.2em !important;
}

/* yr-hide-footer */
footer {
  display: none !important;
}
