/* zen-transparency */
body, .astronav-items{
  background-color: #00000000 !important;
}

.bg-dark{
  background-color: #ffffff88 !important;
  border: none !important;
}

:root{
  --light: transparent !important;
}
