/* Transparency */
:root {
  appearance: -moz-sidebar !important;
}

#main-window {
  background-color: #00000099 !important;
}

body,
#navigator-toolbox,
#nav-bar,
#browser,
#tabbrowser-tabpanels,
.tab-background:not([selected=""]),
#tabbrowser-tabs,
#sidebar-main,
body:not(:has(toolbarbutton[expanded])) #sidebar-wrapper {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
}

body:has(toolbarbutton[expanded]) #sidebar-wrapper {
  border-radius: 0 1em 1em 0 !important;
}

/* website view animations */
#tabbrowser-tabpanels > hbox {
  transition:
    all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35),
    filter 0.45s ease-in-out,
    opacity 0.35s ease-in-out !important;
  scale: 0.9 !important;
  opacity: 0;
}

#tabbrowser-tabpanels > hbox.deck-selected {
  scale: 1 !important;
  opacity: 1 !important;
}

#tabbrowser-tabpanels {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.2) 0.2s !important;
}

/* URL bar page animation */
#sidebar-main {
  transition: all 0.5s ease-in-out !important;
}

body:has(#urlbar[open]) {
  #tabbrowser-tabpanels {
    pointer-events: none;
    scale: 1.1 !important;
    filter: blur(10px) brightness(70%) !important;
  }

  #sidebar-main {
    opacity: 0 !important;
  }
}

/* Loading tab animation */
tab[busy] {
  scale: 0.95 !important;
  .tab-background {
    opacity: 0.3 !important;
  }
}

#sidebar-main,
#tabbrowser-tabbox {
  transition:
    all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    filter 0.5s ease-in-out 0.3s !important;
  outline: none !important;
  box-shadow: none !important;
}

body:has(tab[selected="true"][busy]) #tabbrowser-tabbox {
  filter: saturate(0.2) !important;
  border-radius: 1em !important;
  overflow: hidden !important;
}

/* floating URLbar modifications */
#urlbar {
  transition:
    top 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    opacity 0.5s ease-in-out !important;
}

body:not(:has(toolbarbutton[expanded])) #urlbar:not([open]) {
  top: -100px !important;
  opacity: 0 !important;
}

#urlbar[open] {
  top: 45vh !important;
  left: 50vw !important;
  transform: translate(-50%, -50%) !important;
  width: 60em !important;
  #urlbar-background {
    border-radius: 1em !important;
    box-shadow: #0008 0 0 100px !important;
    background-color: light-dark(#fffc, #000c) !important;
  }
  .urlbar-input-container {
    height: 4em !important;
  }
}
#star-button-box {
  display: none !important;
}

#identity-box {
  scale: 0.6 !important;
}

/* urlbar open styling */
#navigator-toolbox:has(#urlbar:not([open])) {
  position: absolute !important;
  z-index: 100000 !important;
  /*   width: 100vw !important; */
  width: fit-content !important;

  #urlbar-zoom-button {
    scale: 0.4 !important;
    width: 5px !important;
    border-radius: 100px !important;
    aspect-ratio: 1 !important;
  }
}

#urlbar {
  margin-left: 0 !important;
  padding-left: 0 !important;
  left: 0 !important;
}

/* compact navbar toolbar */
#navigator-toolbox {
  transition: all 0.3s ease-in-out !important;
  height: 0 !important;
  top: -35px !important;
  opacity: 0 !important;
}

body:has(toolbarbutton[expanded]):not(:has(#sidebar-wrapper.expandOnHover)),
body:has(#urlbar[open]) {
  #navigator-toolbox {
    height: 3.5em !important;
    top: 0 !important;
    opacity: 1 !important;
  }
}

#nav-bar {
  transition: all 0.3s ease-in-out 0.3s !important;
  #urlbar-container #urlbar:not([open]) {
    width: 160px !important;
    margin: auto 5px !important;
    border-radius: 100px !important;

    hbox {
      border-radius: 100px !important;
    }

    /*     #tracking-protection-icon-container, #identity-box{
      display: none !important;
    } */
  }

  .unified-extensions-item,
  #unified-extensions-button,
  #PanelUI-button,
  #sidebar-button {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out !important;
  }

  .titlebar-buttonbox-container {
    /*     width: 0 !important; */
    opacity: 0 !important;
    transition: width 0.3s ease-in-out 0.2s !important;

    .titlebar-button {
      width: 30px;
      height: 30px;
      border-radius: 0.5em;
      margin: 5px !important;
    }
  }
}

body:has(toolbarbutton[expanded]):not(:has(#sidebar-wrapper.expandOnHover)) {
  #sidebar-main {
    padding-top: 45px !important;
  }
}

#vertical-pinned-tabs-splitter {
  display: none !important;
}

#navigator-toolbox {
  left: -600px !important;
}

#urlbar-container {
  width: fit-content !important;
  flex: none !important;
  margin-right: 170px !important;
}

body:has(#urlbar:not([open])):has(#urlbar:not([open]):hover, #nav-bar-customization-target:hover, .titlebar-buttonbox-container:hover, #nav-bar:hover, toolbarbutton[open="true"]) {
  .titlebar-buttonbox-container {
    width: 150px !important;
    padding-left: 20px !important;
    opacity: 1 !important;
  }

  #unified-extensions-button,
  #PanelUI-button,
  #sidebar-button {
    opacity: 1 !important;
  }

  #navigator-toolbox {
    left: 0px !important;
  }

  #nav-bar {
    /*     background-color: var(--toolbar-field-background-color) !important; */
    background-color: light-dark(#fff, #000) !important;
    opacity: 1 !important;
    border-radius: 0.75em !important;
  }
}

#nav-bar {
  margin-left: 0.25em !important;
  margin-top: 0.25em !important;
  max-width: fit-content !important;

  .unified-extensions-item {
    width: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    transition: all 0.3s ease-in-out !important;
  }

  &:has(#unified-extensions-button:hover, .unified-extensions-item:hover, [open], #PanelUI-button:hover) {
    .unified-extensions-item {
      width: 30px !important;
      padding: inherit !important;
      margin: initial !important;
      opacity: 1 !important;
    }
  }

  [widget-id="sidebar-button"] {
    display: none !important;
  }

  #nav-bar-customization-target {
    max-width: fit-content !important;
  }
}

/* tab list tab modifications */
.tab-background,
.tab-stack {
  transition: all 0.3s ease-in-out !important;
}

.tab-close-button.close-icon {
  display: none !important;
}

.tab-stack:hover {
  .tab-background {
    background-color: light-dark(#0001, #fff1) !important;
  }
}

/* no search options */
.search-one-offs {
  display: none !important;
}

/* 
.tools-and-extensions.actions-list{
  opacity: 0 !important;
  transition: opacity 0.4s ease-in-out;
  &:hover{
    opacity: 1 !important;
  }
} */

/* no new tab button */
#tabs-newtab-button,
#vertical-pinned-tabs-container-separator {
  display: none !important;
}

/* no back forward */
#back-button,
#forward-button {
  display: none !important;
}
/* trackpad gestures*/
tabpanels .browserStack browser {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
  /* Add initial border-radius to prevent sharp corners */
  border-radius: 0.75em !important;
}

/* Previous animation*/
.browserStack:has(#historySwipeAnimationPreviousArrow:not([style="translate: none;"])) browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
  border-radius: 2em !important;
}

/* Next animation*/
.browserStack:has(#historySwipeAnimationNextArrow:not([style="translate: none;"])) browser {
  scale: 0.95 !important;
  transform: translateX(-3%) !important;
  border-radius: 2em !important;
}

/* smoothen trackpad gestures */
.browserStack browser[style*="transform: none"] {
  border-radius: 0.75em !important;
}

/* ctrl tab visuals and animations */
#ctrlTab-panel {
  --panel-background: var(--lwt-accent-color) !important;
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.2s !important;
  scale: 0.7;
}

#ctrlTab-panel:has(.ctrlTab-preview:not([hidden="true"])) {
  scale: 1 !important;
}

slot:nth-child(1) {
  border-radius: 1em !important;
  padding: 0 !important;
}

.ctrlTab-preview-inner {
  /* 	padding: 0 !important; */
  margin: 0 !important;
  transition: all 0.2s ease-in-out;

  .ctrlTab-canvas {
    border-radius: 1em !important;
    overflow: hidden;

    img {
      background-color: #000000 !important;
    }
  }

  .ctrlTab-favicon-container {
    justify-content: center !important;
    transition: all 0.5s ease-in-out;

    image {
      border-radius: 50% !important;
      transition: all 0.5s ease-in-out !important;
      /* 			scale: 1.25 !important; */
    }
  }

  .ctrlTab-label {
    margin-top: 1.5em !important;
  }
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  outline: none !important;
  /* border: none !important;   */
  background-color: var(--sidebar-background-color) !important;
  border-radius: 1.5em !important;
  scale: 1.03 !important;

  .ctrlTab-favicon-container {
    image {
      padding: 2px !important;
    }
  }
}

/* pinned tabs */
tab[pinned="true"] {
  .tab-background {
    background-color: light-dark(#fff4, #0004) !important;
  }
  &:hover .tab-background {
    background-color: light-dark(#0002, #fff2) !important;
  }
}

#vertical-pinned-tabs-container {
  background-color: light-dark(#0001, #fff1) !important;
  border-radius: 14px;
  padding: 0px !important;
}

[expanded=""] #vertical-pinned-tabs-container {
  margin: 0 4px !important;
}

/* no mute icon */
.tab-icon-overlay[soundplaying] {
  display: none !important;
}

/* sound playing animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: inset 0 0 10px 10px color-mix(in srgb, var(--focus-outline-color), transparent 80%);
  }

  70% {
    transform: scale(1);
    box-shadow: inset 0 0 0 2px color-mix(in srgb, var(--focus-outline-color), transparent 50%);
  }

  100% {
    transform: scale(1);
    box-shadow: inset 0 0 10px 10px color-mix(in srgb, var(--focus-outline-color), transparent 80%);
  }
}

tab[soundplaying] .tab-background {
  animation: pulse 2s infinite ease-in-out;
}

/*  bg tint */
#main-window {
  /*   background-color: light-dark(#fff5 , #0005) !important;       */
  /*   background-color: #2e3440 !important; */
}

/* Modify new tab entry */
[label="Super Speedy Dial"] {
  .tab-label-container:after {
    content: "Home" !important;
  }

  label {
    display: none !important;
  }

  .tab-icon-image {
    content: url("chrome://branding/content/icon32.png") !important;
    border-radius: 100px !important;
    mix-blend-mode: difference !important;
  }
}

/* no extension url */
#identity-box.extensionPage,
#tracking-protection-icon-container {
  display: none !important;
}

/* =================== context menu ===================== */
#contentAreaContextMenu,
#toolbar-context-menu,
#tabContextMenu {
  #context-savepage,
  #context-pocket,
  #context-sendpagetodevice,
  #context-selectall,
  menuseparator,
  #context-viewsource,
  #context-inspect-a11y,
  #context-openlinkintab,
  #context-openlinkinusercontext-menu,
  #context-openlink,
  #context-openlinkprivate,
  #context-bookmarklink,
  #context-savelink,
  #context-savelinktopocket,
  #toolbar-context-openANewTab,
  #toolbar-context-reloadSelectedTab,
  #toolbar-context-bookmarkSelectedTab,
  #toolbar-context-undoCloseTab,
  #context_bookmarkTab,
  #context_moveTabOptions,
  .share-tab-url-item,
  #context_reopenInContainer,
  #context_selectAllTabs,
  #context_closeTab,
  #context_closeDuplicateTabs,
  #context_closeTabOptions,
  #context_undoCloseTab {
    display: none !important;
  }
}

#contentAreaContextMenu,
#toolbar-context-menu {
  menu.menu-iconic {
    display: none !important;
  }
}

/* ================================ tab groups ==================================== */
#tabbrowser-tabs:not([expanded]) {
  tab,
  tab-group {
    scale: 1.1 !important;
  }
}

#vertical-spacer {
  display: none !important;
}

.tab-group-label-container {
  padding: 0 !important;
  transition: all 0.2s ease-in-out !important;
}

tab-group tab .tab-background {
  transition: all 0.2s ease-in-out !important;
}

tab-group:not(:has([selected])) .tab-group-label {
  outline: none !important;
  transition: all 0.2s ease-in-out !important;
  background: color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
  color: color-mix(in srgb, var(--tab-group-color) 30%, #fff) !important;
}

[expanded=""] .tab-group-label {
  border-radius: 7px 7px 0 0 !important;
  width: 100% !important;
  text-align: left !important;
  padding-left: 10px !important;

  &:hover {
    padding-left: 20px !important;
  }
}

[collapsed=""] .tab-group-label {
  background: color-mix(in srgb, var(--tab-group-color) 20%, transparent) !important;
  color: color-mix(in srgb, var(--tab-group-color) 70%, #fff) !important;
  border-radius: 7px !important;

  &:hover {
    background: color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
    color: color-mix(in srgb, var(--tab-group-color) 30%, #fff) !important;
  }
}

[expanded=""] tab-group:not([collapsed=""]) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .tab-group-label {
    border-top: 1px solid var(--tab-group-color-invert) !important;
    border-left: 1px solid var(--tab-group-color-invert) !important;
    border-right: 1px solid var(--tab-group-color-invert) !important;
  }
}

.tab-group-line {
  display: none !important;
}

[expanded=""] tab-group tab {
  .tab-background {
    border-left: 1px solid var(--tab-group-color-invert) !important;
    border-right: 1px solid var(--tab-group-color-invert) !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
    outline: none !important;
  }
  .tab-label {
    color: light-dark(#000, #fff) !important;
  }

  &[selected="true"] {
    .tab-background {
      background: color-mix(in srgb, var(--tab-group-color-invert) 40%, transparent) !important;
    }
  }

  &:hover {
    .tab-background {
      background: color-mix(in srgb, var(--tab-group-color-invert) 50%, transparent) !important;
    }
  }
}

tab-group tab:nth-last-child(1) .tab-background {
  border-radius: 0 0 0.75em 0.75em !important;
  border-bottom: 1px solid var(--tab-group-color-invert) !important;
}

tab-group .tab-content {
  padding-left: 0.5em !important;
}

tab-group tab {
  padding: 0 !important;
}

/* no sidebar bottom buttons */
button-group.tools-and-extensions.actions-list,
#sidebar-tools-and-extensions-splitter,
.expanded-button {
  display: none !important;
}

/* FOCUS mode with minimal sidebar */
#sidebar-main:not([sidebar-launcher-expanded=""]) {
  display: none !important;
}
